In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
missing_values = ['-', '^','♦']
bp = pd.read_excel('bp-stats-review-2022-all-data.xlsx', sheet_name='Nuclear Generation - TWh', header=2, index_col=0, na_values=missing_values)
bp

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2021.1,2011-21,2021.2
Terawatt-hours,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,0.128000,0.172000,0.15300,0.918000,0.529000,1.037000,4.267000,7.211000,15.254000,14.696000,...,101.100835,100.723486,100.594760,100.031154,100.493954,97.512599,91.960223,-0.054356,-0.001057,0.032840
Mexico,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.577138,10.567174,10.882862,13.554877,11.189830,11.177935,11.923092,0.069586,0.016841,0.004258
US,3.849157,5.810431,8.05812,13.187809,14.660883,22.952051,40.110047,56.938037,87.873119,119.974463,...,839.134607,848.098893,847.315405,849.562607,852.009749,831.451435,819.106842,-0.012148,-0.001536,0.292510
Total North America,3.977157,5.982431,8.21112,14.105809,15.189883,23.989051,44.377047,64.149037,103.127119,134.670463,...,951.812580,959.389553,958.793027,963.148638,963.693533,940.141968,922.990157,-0.015554,-0.001273,0.329608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
♦ Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"USSR includes CIS, Georgia, Ukraine and the Baltic States.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"# Excludes Estonia, Latvia and Lithuania prior to 1985 and Croatia and Slovenia prior to 1990.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Notes: Annual changes and shares of total are calculated using terawatt-hours figures.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Growth rates are adjusted for leap years.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
bp = bp.dropna(how='all')
bp.index.name = 'Country Name'
bp

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2021.1,2011-21,2021.2
Country Name,,,,,,,,,,,,,,,,,,,,,
Canada,0.128000,0.172000,0.153000,0.918000,0.529000,1.037000,4.267000,7.211000,15.254000,14.696000,...,101.100835,100.723486,100.594760,100.031154,100.493954,97.512599,91.960223,-0.054356,-0.001057,0.032840
Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.577138,10.567174,10.882862,13.554877,11.189830,11.177935,11.923092,0.069586,0.016841,0.004258
US,3.849157,5.810431,8.058120,13.187809,14.660883,22.952051,40.110047,56.938037,87.873119,119.974463,...,839.134607,848.098893,847.315405,849.562607,852.009749,831.451435,819.106842,-0.012148,-0.001536,0.292510
Total North America,3.977157,5.982431,8.211120,14.105809,15.189883,23.989051,44.377047,64.149037,103.127119,134.670463,...,951.812580,959.389553,958.793027,963.148638,963.693533,940.141968,922.990157,-0.015554,-0.001273,0.329608
Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.036000,...,7.039000,8.285000,6.088000,6.872000,8.443000,10.662424,10.831574,0.018647,0.054026,0.003868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Total Asia Pacific,0.025000,0.584000,0.629000,1.044000,1.806782,5.889142,9.030881,10.606947,12.040443,22.028024,...,419.748730,467.701052,493.577101,553.588978,646.914798,654.986368,714.297110,0.093540,0.039875,0.255082
Total World,25.539724,34.433290,41.006014,52.113164,61.783412,78.874657,109.704177,152.175149,203.901579,266.600093,...,2575.592424,2613.905875,2637.234693,2700.464015,2796.354063,2693.978613,2800.267792,0.042302,0.005429,1.000000
of which: OECD,23.679157,32.357431,38.714120,48.961809,57.374883,73.133051,103.254047,141.142037,187.212119,240.820463,...,1974.720607,1973.221938,1959.788640,1969.917767,1994.385149,1872.253847,1911.025714,0.023505,-0.012096,0.682444
Non-OECD,1.860567,2.075860,2.291894,3.151355,4.408528,5.741607,6.450130,11.033112,16.689460,25.779630,...,600.871816,640.683937,677.446052,730.546248,801.968914,821.724765,889.242078,0.085130,0.060471,0.317556
European Union #,4.542000,5.574000,6.597000,7.622000,11.443000,16.785000,21.928000,34.295000,40.071000,46.695000,...,787.037509,768.194677,759.688273,762.182036,765.517171,683.752113,732.166272,0.073740,-0.013414,0.261463

In [4]:
for country in bp.index:
     if 'Total' in country or 'Other' in country or 'European Union' in country or 'OECD' in country or 'Central America' in country or 'Eastern Africa' in country or 'Middle Africa' in country or 'Western Africa' in country:
            bp = bp.drop(country)
bp

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2021.1,2011-21,2021.2
Country Name,,,,,,,,,,,,,,,,,,,,,
Canada,0.128000,0.172000,0.15300,0.918000,0.529000,1.037000,4.267000,7.211000,15.254000,14.696000,...,101.100835,100.723486,100.594760,100.031154,100.493954,97.512599,91.960223,-0.054356,-0.001057,0.032840
Mexico,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.577138,10.567174,10.882862,13.554877,11.189830,11.177935,11.923092,0.069586,0.016841,0.004258
US,3.849157,5.810431,8.05812,13.187809,14.660883,22.952051,40.110047,56.938037,87.873119,119.974463,...,839.134607,848.098893,847.315405,849.562607,852.009749,831.451435,819.106842,-0.012148,-0.001536,0.292510
Argentina,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.036000,...,7.039000,8.285000,6.088000,6.872000,8.443000,10.662424,10.831574,0.018647,0.054026,0.003868
Brazil,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,14.734153,15.864344,15.739196,15.673887,16.128824,14.052598,14.704588,0.049263,-0.006271,0.005251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
South Korea,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,164.762416,161.995104,148.426725,133.505261,145.909669,160.183721,158.015230,-0.010835,0.002108,0.056429
Sri Lanka,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
Taiwan,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,36.471121,31.661363,22.445531,27.678312,32.323432,31.440245,27.787948,-0.113745,-0.040731,0.009923
Thailand,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000
Vietnam,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000

In [5]:
bp = bp.dropna(how='all')
bp = bp.drop(columns=['2021.1', '2011-21', '2021.2'])
bp

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Name,,,,,,,,,,,,,,,,,,,,,
Canada,0.128000,0.172000,0.15300,0.918000,0.529000,1.037000,4.267000,7.211000,15.254000,14.696000,...,94.202515,102.720454,106.534534,101.100835,100.723486,100.594760,100.031154,100.493954,97.512599,91.960223
Mexico,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.769599,11.799870,9.677208,11.577138,10.567174,10.882862,13.554877,11.189830,11.177935,11.923092
US,3.849157,5.810431,8.05812,13.187809,14.660883,22.952051,40.110047,56.938037,87.873119,119.974463,...,809.822367,830.543656,839.122086,839.134607,848.098893,847.315405,849.562607,852.009749,831.451435,819.106842
Argentina,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.036000,...,6.402000,6.207000,5.514000,7.039000,8.285000,6.088000,6.872000,8.443000,10.662424,10.831574
Brazil,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,16.038400,15.449690,15.378462,14.734153,15.864344,15.739196,15.673887,16.128824,14.052598,14.704588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
South Korea,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,150.327293,138.783973,156.406511,164.762416,161.995104,148.426725,133.505261,145.909669,160.183721,158.015230
Sri Lanka,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Taiwan,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,40.421730,41.639360,42.388975,36.471121,31.661363,22.445531,27.678312,32.323432,31.440245,27.787948
Thailand,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Vietnam,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [6]:
iso = pd.read_excel('WUP2018-DataSource-UrbanAgglomeration-and-CapitalCities.xls', header=16, usecols=[1, 3, 4])
iso = iso.drop_duplicates()
iso = iso.set_index('Country or area')

In [7]:
iso2 = []
err = []
for country in bp.index:
    try:
        iso2.append(iso.loc[country][1])
    except KeyError:
        if country=='US':
            iso2.append(iso.loc['United States of America'][1])
        elif country=='Venezuela':
            iso2.append(iso.loc['Venezuela (Bolivarian Republic of)'][1])
        elif country=='Czech Republic':
            iso2.append(iso.loc['Czechia'][1])
        elif country=='South Korea':
            iso2.append(iso.loc['Republic of Korea'][1])
        elif country=='Vietnam':
            iso2.append(iso.loc['Viet Nam'][1])
        elif country=='USSR':
            iso2.append('SU')
        elif country=='Trinidad & Tobago':
            iso2.append(iso.loc['Trinidad and Tobago'][1])
        elif country=='North Macedonia':
            iso2.append(iso.loc['TFYR Macedonia'][1])
        elif country=='Iran':
            iso2.append(iso.loc['Iran (Islamic Republic of)'][1])
        elif country=='Taiwan':
            iso2.append(iso.loc['China, Taiwan Province of China'][1])
        elif country=='China Hong Kong SAR':
            iso2.append(iso.loc['China, Hong Kong SAR'][1])
        else:
            err.append(country)

err

[]

In [8]:
if len(err) != 0:
    raise Exception('Something went wrong')

bp['Country Code'] = iso2

In [9]:
bp.insert(0, 'Country Name', bp.index)
bp = bp.set_index('Country Code')
bp

,Country Name,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,0.128000,0.172000,0.15300,0.918000,0.529000,1.037000,4.267000,7.211000,15.254000,...,94.202515,102.720454,106.534534,101.100835,100.723486,100.594760,100.031154,100.493954,97.512599,91.960223
MX,Mexico,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.769599,11.799870,9.677208,11.577138,10.567174,10.882862,13.554877,11.189830,11.177935,11.923092
US,US,3.849157,5.810431,8.05812,13.187809,14.660883,22.952051,40.110047,56.938037,87.873119,...,809.822367,830.543656,839.122086,839.134607,848.098893,847.315405,849.562607,852.009749,831.451435,819.106842
AR,Argentina,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.402000,6.207000,5.514000,7.039000,8.285000,6.088000,6.872000,8.443000,10.662424,10.831574
BR,Brazil,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,16.038400,15.449690,15.378462,14.734153,15.864344,15.739196,15.673887,16.128824,14.052598,14.704588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
KR,South Korea,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,150.327293,138.783973,156.406511,164.762416,161.995104,148.426725,133.505261,145.909669,160.183721,158.015230
LK,Sri Lanka,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
TW,Taiwan,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,40.421730,41.639360,42.388975,36.471121,31.661363,22.445531,27.678312,32.323432,31.440245,27.787948
TH,Thailand,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
VN,Vietnam,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000