In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
csv = []
for file in clean_files:
    if '.csv' in file:
        name = path + file
        csv.append(name)

In [4]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Metric, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, ...]
Index: []

[0 rows x 334 columns]

In [5]:
df_list = [frame]
for file in csv:
    file = pd.read_csv(file)
    df_list.append(file)

In [6]:
all_tech_df = pd.concat(df_list)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-ion battery storage_Cumulative Rated C...,National,TG,Togo,Lithium-ion battery storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,NaN,760.0,1160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-ion battery storage_Cumulative Rated P...,National,TG,Togo,Lithium-ion battery storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,NaN,190.0,290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sensible heat storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible heat storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,1195000.0,1745000.0,2945000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sensible heat storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible heat storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,255000.0,355000.0,455000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Pumped hydro storage_Cumulative Rated Capacity_CA,National,CA,Canada,Pumped hydro storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,3044000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
0,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied natural gas_Exports_US,NaN,US,United States,Liquefied natural gas,Exports,Billion cubic feet,U.S. Energy Information Administration,NaN,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
len(set(all_tech_df['Technology Name']))

210

In [8]:
for x in set(all_tech_df['Technology Name']):
    print(x)

Flywheel battery storage
Marine Energy
Electro-chemical capacitor
All Biofuels
Milk production
Nuclear weapons
Milk
Rare Earth Mine Production
Nickel production
Solar Photovoltaic
Television
Potash Fertilizer
Canals
Home air conditioning
Bisphenol A
Running water
High-speed rail
Magnesium
Internet Traffic
PCV3 Vaccine
Microcomputers
Passenger cars
Raw steel production
Herbicide-Tolerant Soybeans
Postal Traffic
Jet Aircraft
Sand and gravel production (construction)
Compressed air energy storage
Pentaerythritol
Gold
Submarine Cables
MCV2 Vaccine
Shipping container port infrastructure
Ground Source Heat Pumps
Zinc
Cobalt Mine Production
Nuclear Energy
Primary copper production
Herbicide-Tolerant Corn
Insect-Resistant Cotton
Liquefied natural gas
Sodium-based battery storage
Steam Locomotives
Crop harvester
Coal Production
Tin
Phenol
YFV Vaccine
MCV1 Vaccine
Wet flue gas desulfurization systems
Caustic Soda
Ethyl Alcohol
Lithium Mine Production
Polyethylene HD
Lead-acid battery storage
NatGas Power
Disk brakes
On-Grid Onshore Wind Energy
Natural Gas Production
Cadmium Refining
Formaldehyde
Concentrated Solar Power
Ethanolamine
Passenger Cars
Stationary Steam Engines
Podcasting
BCG Vaccine
Graphite Mine Production
Automatic transmission
Computing Growth
Renewable Power
Vinyl Chloride
Railroad
Vacuums
Gold production
RCV1 Vaccine
Crude Petroleum
Motor Gasoline
Electric Bicycles
Coal Power
Flush toilet
Aquaculture production
Lead mine production
Cable TV
Processor Performance
Nickel-based battery
Power steering
Electronic ignition
Oil Production
Cellphones
Copper Refining
Nitric Acid
Methanol
Radio
Polyethylene LD
Colour TV
Hydrofluoric Acid
Nox pollution controls (boilers)
Off-Grid Onshore Wind Energy
Caprolactam
Liquid Biofuels
Refrigerators
Sodium
Benzene
Smartphone usage
Tablet
Geothermal Energy
Capture fisheries production
Nickel
HEPB3 Vaccine
Vinyl Acetate
Flow battery storage
Videocassette recorder
Titanium Sponge
Hydrochloric Acid
Maleic Anhydride
Silver
Microprocessor Clock Speed
DTP3 Vaccine
Sodium Chlorate
Households with only mobile phones (no landlines)
Neoprene Rubber
Desalination capacity
Air-Source Heat Pumps
Insect-Resistant Corn
Shale production
ROTAC Vaccine
CFLs
Sand and gravel production (industrial)
Cement production
Electric Range
Beer production
Paraxylene
Hydroelectricity
Home computers
Random Access Memory
Primary bauxite production
On-Grid Offshore Wind Energy
Zinc-based battery
Telephones
Acrylic Fiber
Nitrogen Fertilizer
DTP1 Vaccine
Natural gas pipeline
Polyester Fiber
Herbicide-Tolerant Cotton
Central heating
Primary aluminum production
HIB3 Vaccine
Household Internet access
Washing Machines
Electricity
IPV1 Vaccine
Crude Oil
FCC-Refineries
Ethylene Glycol
Internet Backbone Bandwidth
RTGS adoption
Aniline
Cyclohexane
Carbon Capture & Sequestration
Polyvinylchloride
Urea
Radial tires
Magnetic Data Storage
Phosphate Fertilizer
Phthalic Anhydride
Heat thermal battery storage
Primary Magnesium
POL3 Vaccine
Water Heater
Iron
Transistors per Microprocessor
Motorcycles
Oil pipeline
Freezer
Sensible heat storage
Biogas
Lithium-ion battery storage
Latent heat storage
Dishwashers
Solar Thermal Energy
Refined Cane Sugar Production
Microwaves
Synthetic Filaments
Telegraph Traffic
Hydrogen storage
Stove
Acrylonitrile
Sulphuric Acid
Salt production
Iron ore
Shotgun Sanger DNA Sequencing
Ebook reader
Steam ships
Polystyrene
Public roads
Solid Biofuels
Copper Mining
HEPBB Vaccine
Beer Production
Amazon Prime users
Social media usage
Pumped hydro storage
Ethylene
Laundry Dryers
Space Launches
Styrene
Oil Refining Capacity
Bicycles

In [9]:
all_tech_df[all_tech_df['Technology Name']=='Gold']

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
17,Gold_Annual Production_AU,National,AU,Australia,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Gold_Annual Production_PG,National,PG,Papua New Guinea,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,Gold_Annual Production_NZ,National,NZ,New Zealand,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Gold_Annual Production_KR,National,KR,South Korea,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,Gold_Annual Production_GH,National,GH,Ghana,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Gold_Annual Production_CN,National,CN,China,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Gold_Annual Production_ZW,National,ZW,Zimbabwe,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,Gold_Annual Production_FJ,National,FJ,Fiji,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,Gold_Annual Production_CD,National,CD,Zaire,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,Gold_Annual Production_KR,National,KR,Korea,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,Gold_Annual Production_PH,National,PH,Phillipines,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,Gold_Annual Production_JP,National,JP,Japan,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,Gold_Annual Production_ZA,National,ZA,South Africa,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,Gold_Annual Production_IN,National,IN,India,Gold,Annual Production,Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
all_tech_df.to_csv('all_tech.csv', index=False)