In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
csv = []
for file in clean_files:
    if '.csv' in file:
        name = path + file
        csv.append(name)

In [4]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Metric, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, ...]
Index: []

[0 rows x 334 columns]

In [5]:
# don't use default na, this erroneously converts 'NA' (iso code for Namibia) to a missing value
# I manually input all the default na vals except for 'NA' to prevent this
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
df_list = [frame]
for file in csv:
    file = pd.read_csv(file, keep_default_na=False, na_values=['-1.#IND', '1.#QNAN', '1.#IND', '-1.#QNAN', 
                                                               '#N/A N/A', '#N/A', 'N/A', 'n/a', '<NA>', '#NA', 
                                                               'NULL', 'null', 'NaN', '-NaN', 'nan', '-nan', 
                                                               'None', ''])
    df_list.append(file)

In [6]:
all_tech_df = pd.concat(df_list)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,4574000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
0,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied natural gas_Annual Production_US,NaN,US,United States,Liquefied natural gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,NaN,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
len(set(all_tech_df['Technology Name']))

203

In [8]:
for x in set(all_tech_df['Technology Name']):
    print(x)

Microprocessor Clock Speed
Raw steel production
Pentaerythritol
Graphite Mine Production
Primary copper production
HEPBB Vaccine
Sodium
Pumped Hydro Storage
Videocassette recorder
Potash Fertilizer
Vinyl Acetate
Maleic Anhydride
Freezer
Herbicide-Tolerant Cotton
Liquid Biofuels
Natural gas pipeline
Ebook reader
Biogas
Laundry Dryers
Acrylic Fiber
Titanium Sponge
Ethylene Glycol
Coal Production
Central heating
Sand and gravel production (industrial)
Radial tires
Cable TV
Space Launches
Public roads
Social media usage
Nitrogen Fertilizer
ROTAC Vaccine
Polyvinylchloride
Crop harvester
Smartphone usage
Polystyrene
Iron
Concentrated Solar Power
Oil Refining Capacity
Solid Biofuels
Lithium-Ion Battery Storage
Electricity
Solar Thermal Energy
HIB3 Vaccine
Primary aluminum production
Podcasting
Lithium Mine Production
Lead-Acid Battery Storage
Liquefied natural gas
Internet Backbone Bandwidth
Methanol
Jet Aircraft
Ethylene
Zinc-Based Battery
Tin
Heat Thermal Battery Storage
Radio
Cadmium Refining
Electric Range
All Biofuels
Shale production
Passenger Cars
Salt production
Transistors per Microprocessor
RCV1 Vaccine
Flush toilet
Geothermal Energy
Ethyl Alcohol
Stationary Steam Engines
High-Density Polyethylene
Phenol
Zinc
Polyester Fiber
Postal Traffic
Nickel production
Internet Traffic
Natural Gas Power
Coal Power
Oil Production
PCV3 Vaccine
Hydroelectricity
Crude Oil
Sand and gravel production (construction)
Hydrofluoric Acid
Water Heater
DTP3 Vaccine
Amazon Prime users
Nickel-Based Battery
Paraxylene
Railroad
Solar Photovoltaic
Steam ships
Compressed Air Energy Storage
Acrylonitrile
Low-Density Polyethylene
Automatic transmission
Motorcycles
Bisphenol A
Rare Earth Mine Production
Nuclear weapons
Electric Bicycles
Beer Production
Nuclear Energy
Sodium Chlorate
Running water
Television
Dishwashers
Electronic ignition
Washing Machines
Computing Growth
Silver
Ammonia Synthesis
Flow Battery Storage
Cobalt Mine Production
Cyclohexane
Sensible Heat Storage
Shotgun Sanger DNA Sequencing
Caprolactam
Copper Mining
Neoprene Rubber
Benzene
Microcomputers
YFV Vaccine
Hydrochloric Acid
Styrene
Urea
Submarine Cables
Disk brakes
Refrigerators
Cellphones
Household Internet access
Renewable Power
Copper Refining
Phthalic Anhydride
Onshore Wind Energy
Phosphate Fertilizer
Vinyl Chloride
Telephones
Herbicide-Tolerant Corn
DTP1 Vaccine
Air-Source Heat Pumps
Marine Energy
Primary bauxite production
Compact fluorescent light bulbs
Motor Gasoline
Hydrogen Storage
Natural Gas Production
Nox pollution controls (boilers)
Offshore Wind Energy
Aniline
Magnesium
Herbicide-Tolerant Soybeans
Canals
Tablet
Vacuums
Latent Heat Storage
Aquaculture production
Insect-Resistant Cotton
Formaldehyde
Oil pipeline
MCV1 Vaccine
Milk production
MCV2 Vaccine
Lead mine production
Microwaves
Iron ore
Cement production
Magnetic Data Storage
Cane Sugar Production
Steam Locomotives
Home air conditioning
Households with only mobile phones (no landlines)
Power steering
Real-time gross settlement adoption
Processor Performance
Sulphuric Acid
HEPB3 Vaccine
Fluid Catalytic Cracking Refineries
Caustic Soda
Sodium-Based Battery Storage
Insect-Resistant Corn
Synthetic Filaments
Wet flue gas desulfurization systems
Carbon Capture & Sequestration
Bicycles
Electro-Chemical Capacitor
BCG Vaccine
IPV1 Vaccine
Ethanolamine
Telegraph Traffic
Capture fisheries production
Ground Source Heat Pumps
Colour TV
Stove
POL3 Vaccine
Nitric Acid
Primary Magnesium
Desalination capacity
Flywheel Battery Storage
Home computers
Gold production
Random Access Memory
High-speed rail

In [9]:
all_tech_df[all_tech_df['Technology Name']=='Cellphones']

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
10,Cellphones_Cumulative Total Capacity_World,Global,World,World,Cellphones,Cumulative Total Capacity,MW,IIASA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Cellphones_Total Number_IE,National,IE,Ireland,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cellphones_Total Number_BZ,National,BZ,Belize,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cellphones_Total Number_PY,National,PY,Paraguay,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cellphones_Total Number_BJ,National,BJ,Benin,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Cellphones_Total Number_JP,National,JP,Japan,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,Cellphones_Total Number_VN,National,VN,Vietnam,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Cellphones_Total Number_SA,National,SA,Saudi Arabia,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,Cellphones_Total Number_US,National,US,United States,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,Cellphones_Total Number_MX,National,MX,Mexico,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
all_tech_df.insert(8, 'Long Technology Name', all_tech_df['Metric'] + ' | ' + all_tech_df['Technology Name'])
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Lithium-Ion Battery S...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Lithium-Ion Batter...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Pumped Hydro Storage,NaN,...,4574000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,Annual production | Raw steel production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
0,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied natural gas_Annual Production_US,NaN,US,United States,Liquefied natural gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,Annual Production | Liquefied natural gas,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
all_tech_df.reset_index(drop=True,inplace=True)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Lithium-Ion Battery S...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Lithium-Ion Batter...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Pumped Hydro Storage,NaN,...,4574000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7570,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,Annual production | Raw steel production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7571,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
7572,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7573,Liquefied natural gas_Annual Production_US,NaN,US,United States,Liquefied natural gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,Annual Production | Liquefied natural gas,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
7574,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
omit = []
for col in all_tech_df.columns:
    if len(col) != 4 or col == 'Unit':
         omit.append(col)
empty_rows = all_tech_df.drop(columns=omit)
empty_rows.dropna(how='all', inplace=True)
na_idx = []
for idx in all_tech_df.index:
    if idx not in empty_rows.index:
        na_idx.append(idx)
all_tech_df.drop(na_idx, inplace=True)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Lithium-Ion Battery S...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Lithium-Ion Batter...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Pumped Hydro Storage,NaN,...,4574000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7570,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,Annual production | Raw steel production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7571,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
7572,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7573,Liquefied natural gas_Annual Production_US,NaN,US,United States,Liquefied natural gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,Annual Production | Liquefied natural gas,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
7574,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
all_tech_df.to_csv('all_tech_version 2.0.csv', index=False)

In [14]:
all_tech_df = all_tech_df[all_tech_df['Metric']!='Price']
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Lithium-Ion Battery S...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Lithium-Ion Batter...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Pumped Hydro Storage,NaN,...,4574000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7570,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,Annual production | Raw steel production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7571,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
7572,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7573,Liquefied natural gas_Annual Production_US,NaN,US,United States,Liquefied natural gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,Annual Production | Liquefied natural gas,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
7574,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
all_tech_df.to_csv('all_tech_version 1.5.csv', index=False)

In [16]:
no_country = []
for tech in set(all_tech_df['Technology Name']):
    countries = list(set(all_tech_df[all_tech_df['Technology Name'] == tech]['Country Name']))
    id_ = list(all_tech_df[all_tech_df['Technology Name'] == tech]['ID'])
    if len(countries) <= 2:
        no_country.extend(id_)

In [17]:
all_tech_w_countrylvl = all_tech_df.set_index('ID', drop=True)
all_tech_w_countrylvl.drop(index=no_country, inplace=True)
all_tech_w_countrylvl

,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
ID,,,,,,,,,,,,,,,,,,,,,
Lithium-Ion Battery Storage_Cumulative Rated Power_TG,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Lithium-Ion Battery S...,NaN,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithium-Ion Battery Storage_Cumulative Rated Capacity_TG,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Lithium-Ion Batter...,NaN,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Sensible Heat Storage,NaN,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sensible Heat Storage_Cumulative Rated Capacity_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Sensible Heat Storage,NaN,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Pumped Hydro Storage,NaN,NaN,...,4574000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Raw steel production_Annual production_ZW,National,ZW,Zimbabwe,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,Annual production | Raw steel production,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,Annual production | Raw steel production,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
all_tech_w_countrylvl.to_csv('all_tech_with_country-level.csv', index=False)