In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os
import locale
from locale import atof

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
csv = []
for file in clean_files:
    if '.csv' in file:
        name = path + file
        csv.append(name)

In [4]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Metric, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, ...]
Index: []

[0 rows x 334 columns]

In [5]:
locale.setlocale(locale.LC_NUMERIC, '')

'en_US.UTF-8'

In [6]:
# don't use default na, this erroneously converts 'NA' (iso code for Namibia) to a missing value
# I manually input all the default na vals except for 'NA' to prevent this
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
df_list = [frame]
for file in csv:
    file = pd.read_csv(file, thousands=',',keep_default_na=False, 
                       na_values=['-1.#IND', '1.#QNAN', '1.#IND', '-1.#QNAN', '#N/A N/A', '#N/A', 'N/A', 'n/a', 
                                  '<NA>', '#NA', 'NULL', 'null', 'NaN', '-NaN', 'nan', '-nan', 'None', ''])
    df_list.append(file)

In [7]:
all_tech_df = pd.concat(df_list)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,GESDB,NaN,NaN,...,NaN,1.900000e+02,2.900000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,GESDB,NaN,NaN,...,NaN,7.600000e+02,1.160000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,GESDB,NaN,NaN,...,2.550000e+05,3.550000e+05,4.550000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,GESDB,NaN,NaN,...,1.195000e+06,1.745000e+06,2.945000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Onshore Wind Energy_Levelized Cost of Energy_DK,National,DK,Denmark,Onshore Wind Energy,Levelized Cost of Energy,2021 USD/kWh,IRENA,NaN,NaN,...,5.542823e-02,4.578779e-02,4.374012e-02,0.045337,0.039979,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Raw Steel Production_Annual production_ZW,National,ZW,Zimbabwe,Raw Steel Production,Annual production,metric tons,USGS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Total Number_UA,National,UA,Ukraine,Space Launches,Total Number,-,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
0,Space Launches_Total Number_TM,National,TM,Turkmenistan,Space Launches,Total Number,-,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied Natural Gas_Annual Production_US,National,US,United States,Liquefied Natural Gas,Annual Production,billion cubic feet,EIA,NaN,NaN,...,1.868400e+02,7.075400e+02,1.083120e+03,1819.400000,2389.840000,3560.82,NaN,NaN,NaN,NaN
0,Space Launches_Total Number_CO,National,CO,Colombia,Space Launches,Total Number,-,UNOOSA,NaN,NaN,...,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
len(set(all_tech_df['Technology Name']))

227

In [9]:
for x in set(all_tech_df['Technology Name']):
    print(x)

Water Heater
Electric Range
Radial Tires
Refined Copper
Public Roads
MCV1 Vaccine
Ground Source Heat Pumps
Oil Pipeline
Processor Performance
Stationary Steam Engines
Biogas
Acrylic Fiber
Latent Heat Storage
Washing Machines
Zinc-Based Battery
Pentaerythritol
Postal Traffic
Magnesium
Sodium-Based Battery Storage
Lithium-Ion Battery Storage
Cow's Milk Production
Shotgun Sanger DNA Sequencing
Motorcycles
Steam Locomotives
Primary Aluminum Production
Tin
Benzene
Freezer
Amazon Prime Users
Zinc
IPV1 Vaccine
HIB3 Vaccine
Compressed Air Energy Storage
Primary Bauxite Production
Jet Aircraft
Ethanolamine
Cyclohexane
Sodium
Transistors per Microprocessor
Household Internet Access
High-Density Polyethylene
Computing Growth
Caustic Soda
Railroad
Vinyl Chloride
Flywheel Battery Storage
Shale Production
Dishwashers
All Biofuels
Polyvinylchloride
Synthetic Filament Tow and Staple Fibers
Cane Sugar
Home Air Conditioning
Sugar Cane Production
Bicycles and Other Cycles
Synthetic Filament Yarn
HEPB3 Vaccine
Soybean Production
Gold
Silver
DTP3 Vaccine
Insect-Resistant Corn
Aquaculture Production
Electric Bicycles
Nuclear Weapons
Hydrofluoric Acid
Microwave Ovens
Sulphuric Acid
High-Speed Rail
Hydrochloric Acid
Coal Production
Lead
Flush Toilet
Power Steering
Radio Receivers
Primary Magnesium
Smartphone Usage
Sensible Heat Storage
Ebook Reader
Combined Refrigerators-Freezers
Compact Fluorescent Light Bulbs
Running Water
Electric Water Heaters and Immersion Heaters
Primary Copper
Capture Fisheries
Crop Harvester
Sodium Chlorate
BCG Vaccine
Geothermal Energy
Videocassette Recorder
Space Launches
Tablet
Methanol
Herbicide-Tolerant Soybeans
Insect-Resistant Cotton
Electro-Chemical Capacitor
Electronic Ignition
Home Computers
Automatic Transmission
Oil Production
Fluid Catalytic Cracking Refineries
Corn Production
Beer
Vacuum Cleaners
Cellphones
Liquid Biofuels
Magnetic Data Storage
Sand and Gravel|Construction
Sand and Gravel|Industrial
Nuclear Energy
Telegraph Traffic
Rare Earth Mine Production
YFV Vaccine
Phenol
Electricity
Acrylonitrile
Iron
RCV1 Vaccine
Television Receivers
Renewable Power
Aniline
Air-Source Heat Pumps
Telephones and Videophones
Microcomputers
Natural Gas Pipeline
Cadmium Refining
Neoprene Rubber
Household Refrigerators and Freezers
Ammonia Synthesis
ROTAC Vaccine
Herbicide-Tolerant Corn
MCV2 Vaccine
Urea
Laundry Dryers
Copper|Refining
Maleic Anhydride
Flow Battery Storage
Raw Steel Production
Salt Production
Microprocessor Clock Speed
Television
Polyester Fiber
Lead-Acid Battery Storage
Natural Gas Power
Pumped Hydro Storage
Internet Backbone Bandwidth
Household Washing and Drying Machines
Titanium Sponge
Nox Pollution Controls (Boilers)
Nickel Production
Hydroelectricity
Real-Time Gross Settlement Adoption
Disk Brakes
PCV3 Vaccine
Internet Traffic
Canals
POL3 Vaccine
Paraxylene
Households With Only Mobile Phones (No Landlines)
Podcasting
Marine Energy
BisphenolA
Polystyrene
Central Heating
HEPBB Vaccine
Colour TV
Turbo-Jets of a Thrust Not Exceeding 25 kN
Concentrated Solar Power
Telephones
Herbicide-Tolerant Cotton
Cotton Seed Production
Oil Refining Capacity
Social Media Usage
Vinyl Acetate
Solar Photovoltaic
Solid Biofuels
Cement
Natural Gas Production
Vacuums
Nitric Acid
Desalination Capacity
Phosphate Fertilizer
Formaldehyde
Solar Thermal Energy
Ethylene Glycol
Crude Oil
Phthalic Anhydride
Steamships
Submarine Cables
Motor Gasoline
Graphite
Beer Production
Coal Power
Caprolactam
Liquefied Natural Gas
Air Conditioning Machines
Stove
Hydrogen Storage
Styrene
Heat Thermal Battery Storage
Cable TV
Wet Flue Gas Desulfurization Systems
Bicycles
Iron Ore
Offshore Wind Energy
Carbon Capture and Sequestration
Random Access Memory
Onshore Wind Energy
Milk Production
Copper|Mining
Nickel-Based Battery
Nitrogenous Fertilizers
Nitrogen Fertilizer
Microwaves
Radio
Ethylene
Potassic Fertilizers
Motorcycles and Scooters
Cobalt
Passenger Cars
Lithium Mine Production
Potash Fertilizer
Low-Density Polyethylene
Synthetic Filaments
Refrigerators
DTP1 Vaccine
Ethanol

In [10]:
all_tech_df[all_tech_df['Technology Name']=='Sodium']

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Sodium_Price_World,Global,World,World,Sodium,Price,1966 USD/lb,PCDB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sodium_Annual production_World,Global,World,World,Sodium,Annual production,million pounds,PCDB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#all_tech_df['Technology Name'] = all_tech_df['Technology Name'].str.title()

In [12]:
all_tech_df.insert(8, 'Long Technology Name', all_tech_df['Metric'] + '|' + all_tech_df['Technology Name'])
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,GESDB,Cumulative Rated Power|Lithium-Ion Battery Sto...,NaN,...,NaN,1.900000e+02,2.900000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,GESDB,Cumulative Rated Capacity|Lithium-Ion Battery ...,NaN,...,NaN,7.600000e+02,1.160000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,GESDB,Cumulative Rated Power|Sensible Heat Storage,NaN,...,2.550000e+05,3.550000e+05,4.550000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,GESDB,Cumulative Rated Capacity|Sensible Heat Storage,NaN,...,1.195000e+06,1.745000e+06,2.945000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Onshore Wind Energy_Levelized Cost of Energy_DK,National,DK,Denmark,Onshore Wind Energy,Levelized Cost of Energy,2021 USD/kWh,IRENA,Levelized Cost of Energy|Onshore Wind Energy,NaN,...,5.542823e-02,4.578779e-02,4.374012e-02,0.045337,0.039979,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Raw Steel Production_Annual production_ZW,National,ZW,Zimbabwe,Raw Steel Production,Annual production,metric tons,USGS,Annual production|Raw Steel Production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Total Number_UA,National,UA,Ukraine,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
0,Space Launches_Total Number_TM,National,TM,Turkmenistan,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied Natural Gas_Annual Production_US,National,US,United States,Liquefied Natural Gas,Annual Production,billion cubic feet,EIA,Annual Production|Liquefied Natural Gas,NaN,...,1.868400e+02,7.075400e+02,1.083120e+03,1819.400000,2389.840000,3560.82,NaN,NaN,NaN,NaN
0,Space Launches_Total Number_CO,National,CO,Colombia,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
all_tech_df.reset_index(drop=True,inplace=True)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,GESDB,Cumulative Rated Power|Lithium-Ion Battery Sto...,NaN,...,NaN,1.900000e+02,2.900000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,GESDB,Cumulative Rated Capacity|Lithium-Ion Battery ...,NaN,...,NaN,7.600000e+02,1.160000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,GESDB,Cumulative Rated Power|Sensible Heat Storage,NaN,...,2.550000e+05,3.550000e+05,4.550000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,GESDB,Cumulative Rated Capacity|Sensible Heat Storage,NaN,...,1.195000e+06,1.745000e+06,2.945000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Onshore Wind Energy_Levelized Cost of Energy_DK,National,DK,Denmark,Onshore Wind Energy,Levelized Cost of Energy,2021 USD/kWh,IRENA,Levelized Cost of Energy|Onshore Wind Energy,NaN,...,5.542823e-02,4.578779e-02,4.374012e-02,0.045337,0.039979,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699,Raw Steel Production_Annual production_ZW,National,ZW,Zimbabwe,Raw Steel Production,Annual production,metric tons,USGS,Annual production|Raw Steel Production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,Space Launches_Total Number_UA,National,UA,Ukraine,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
8701,Space Launches_Total Number_TM,National,TM,Turkmenistan,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,Liquefied Natural Gas_Annual Production_US,National,US,United States,Liquefied Natural Gas,Annual Production,billion cubic feet,EIA,Annual Production|Liquefied Natural Gas,NaN,...,1.868400e+02,7.075400e+02,1.083120e+03,1819.400000,2389.840000,3560.82,NaN,NaN,NaN,NaN
8703,Space Launches_Total Number_CO,National,CO,Colombia,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
omit = []
for col in all_tech_df.columns:
    if len(col) != 4 or col == 'Unit':
         omit.append(col)
empty_rows = all_tech_df.drop(columns=omit)
empty_rows.dropna(how='all', inplace=True)
na_idx = []
for idx in all_tech_df.index:
    if idx not in empty_rows.index:
        na_idx.append(idx)
all_tech_df.drop(na_idx, inplace=True)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,GESDB,Cumulative Rated Power|Lithium-Ion Battery Sto...,NaN,...,NaN,1.900000e+02,2.900000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,GESDB,Cumulative Rated Capacity|Lithium-Ion Battery ...,NaN,...,NaN,7.600000e+02,1.160000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,GESDB,Cumulative Rated Power|Sensible Heat Storage,NaN,...,2.550000e+05,3.550000e+05,4.550000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,GESDB,Cumulative Rated Capacity|Sensible Heat Storage,NaN,...,1.195000e+06,1.745000e+06,2.945000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Onshore Wind Energy_Levelized Cost of Energy_DK,National,DK,Denmark,Onshore Wind Energy,Levelized Cost of Energy,2021 USD/kWh,IRENA,Levelized Cost of Energy|Onshore Wind Energy,NaN,...,5.542823e-02,4.578779e-02,4.374012e-02,0.045337,0.039979,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699,Raw Steel Production_Annual production_ZW,National,ZW,Zimbabwe,Raw Steel Production,Annual production,metric tons,USGS,Annual production|Raw Steel Production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,Space Launches_Total Number_UA,National,UA,Ukraine,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
8701,Space Launches_Total Number_TM,National,TM,Turkmenistan,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,Liquefied Natural Gas_Annual Production_US,National,US,United States,Liquefied Natural Gas,Annual Production,billion cubic feet,EIA,Annual Production|Liquefied Natural Gas,NaN,...,1.868400e+02,7.075400e+02,1.083120e+03,1819.400000,2389.840000,3560.82,NaN,NaN,NaN,NaN
8703,Space Launches_Total Number_CO,National,CO,Colombia,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#all_tech_df['Metric'] = all_tech_df['Metric'].str.title()

In [16]:
all_tech_df['Metric'] = all_tech_df['Metric'].str.strip()

In [17]:
set(all_tech_df['Metric'])

{'Annual Production',
 'Annual production',
 'Average Capacity of Unit Additions',
 'Computing Capacity',
 'Cumulative Acreage',
 'Cumulative Length',
 'Cumulative Rated Capacity',
 'Cumulative Rated Power',
 'Cumulative Total Capacity',
 'Cumulative total capacity',
 'Installed Capacity',
 'Installed electricity capacity',
 'Levelized Cost of Energy',
 'Net Total Capacity',
 'Price',
 'Share of Boilers',
 'Share of Households',
 'Share of Market',
 'Share of Population',
 'Total Capacity',
 'Total Installed Cost',
 'Total Length',
 'Total Number'}

In [18]:
all_tech_df.to_csv('all_tech_version 2.0.csv', index=False)

In [19]:
all_tech_df = all_tech_df[all_tech_df['Metric']!='Price']
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,GESDB,Cumulative Rated Power|Lithium-Ion Battery Sto...,NaN,...,NaN,1.900000e+02,2.900000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,GESDB,Cumulative Rated Capacity|Lithium-Ion Battery ...,NaN,...,NaN,7.600000e+02,1.160000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,GESDB,Cumulative Rated Power|Sensible Heat Storage,NaN,...,2.550000e+05,3.550000e+05,4.550000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,GESDB,Cumulative Rated Capacity|Sensible Heat Storage,NaN,...,1.195000e+06,1.745000e+06,2.945000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Onshore Wind Energy_Levelized Cost of Energy_DK,National,DK,Denmark,Onshore Wind Energy,Levelized Cost of Energy,2021 USD/kWh,IRENA,Levelized Cost of Energy|Onshore Wind Energy,NaN,...,5.542823e-02,4.578779e-02,4.374012e-02,0.045337,0.039979,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699,Raw Steel Production_Annual production_ZW,National,ZW,Zimbabwe,Raw Steel Production,Annual production,metric tons,USGS,Annual production|Raw Steel Production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,Space Launches_Total Number_UA,National,UA,Ukraine,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
8701,Space Launches_Total Number_TM,National,TM,Turkmenistan,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,Liquefied Natural Gas_Annual Production_US,National,US,United States,Liquefied Natural Gas,Annual Production,billion cubic feet,EIA,Annual Production|Liquefied Natural Gas,NaN,...,1.868400e+02,7.075400e+02,1.083120e+03,1819.400000,2389.840000,3560.82,NaN,NaN,NaN,NaN
8703,Space Launches_Total Number_CO,National,CO,Colombia,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,...,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
all_tech_df.to_csv('all_tech_version 1.5.csv', index=False)

In [21]:
no_country = []
for tech in set(all_tech_df['Technology Name']):
    countries = list(set(all_tech_df[all_tech_df['Technology Name'] == tech]['Country Name']))
    id_ = list(all_tech_df[all_tech_df['Technology Name'] == tech]['ID'])
    if len(countries) <= 2:
        no_country.extend(id_)

In [22]:
all_tech_w_countrylvl = all_tech_df.set_index('ID', drop=True)
all_tech_w_countrylvl.drop(index=no_country, inplace=True)
all_tech_w_countrylvl

,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
ID,,,,,,,,,,,,,,,,,,,,,
Lithium-Ion Battery Storage_Cumulative Rated Power_TG,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,GESDB,Cumulative Rated Power|Lithium-Ion Battery Sto...,NaN,NaN,...,NaN,1.900000e+02,2.900000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithium-Ion Battery Storage_Cumulative Rated Capacity_TG,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,GESDB,Cumulative Rated Capacity|Lithium-Ion Battery ...,NaN,NaN,...,NaN,7.600000e+02,1.160000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,GESDB,Cumulative Rated Power|Sensible Heat Storage,NaN,NaN,...,2.550000e+05,3.550000e+05,4.550000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sensible Heat Storage_Cumulative Rated Capacity_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,GESDB,Cumulative Rated Capacity|Sensible Heat Storage,NaN,NaN,...,1.195000e+06,1.745000e+06,2.945000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Onshore Wind Energy_Levelized Cost of Energy_DK,National,DK,Denmark,Onshore Wind Energy,Levelized Cost of Energy,2021 USD/kWh,IRENA,Levelized Cost of Energy|Onshore Wind Energy,NaN,NaN,...,5.542823e-02,4.578779e-02,4.374012e-02,0.045337,0.039979,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Raw Steel Production_Annual production_YU,National,YU,Yugoslavia,Raw Steel Production,Annual production,metric tons,USGS,Annual production|Raw Steel Production,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Raw Steel Production_Annual production_ZW,National,ZW,Zimbabwe,Raw Steel Production,Annual production,metric tons,USGS,Annual production|Raw Steel Production,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Space Launches_Total Number_UA,National,UA,Ukraine,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
Space Launches_Total Number_TM,National,TM,Turkmenistan,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Space Launches_Total Number_CO,National,CO,Colombia,Space Launches,Total Number,-,UNOOSA,Total Number|Space Launches,NaN,NaN,...,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
all_tech_w_countrylvl.to_csv('all_tech_with_country-level.csv', index=False)