In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
csv = []
for file in clean_files:
    if '.csv' in file:
        name = path + file
        csv.append(name)

In [4]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Metric, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, ...]
Index: []

[0 rows x 334 columns]

In [5]:
df_list = [frame]
for file in csv:
    file = pd.read_csv(file)
    df_list.append(file)

In [6]:
all_tech_df = pd.concat(df_list)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,4574000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
0,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied natural gas_Annual Production_US,NaN,US,United States,Liquefied natural gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,NaN,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
len(set(all_tech_df['Technology Name']))

203

In [8]:
for x in set(all_tech_df['Technology Name']):
    print(x)

Passenger Cars
Shotgun Sanger DNA Sequencing
Primary copper production
HIB3 Vaccine
Washing Machines
Steam Locomotives
Nuclear weapons
Magnetic Data Storage
Cane Sugar Production
PCV3 Vaccine
ROTAC Vaccine
Cable TV
Tablet
Jet Aircraft
Sodium-Based Battery Storage
High-Density Polyethylene
Hydrochloric Acid
Sand and gravel production (construction)
Electric Bicycles
DTP3 Vaccine
Ethyl Alcohol
Crop harvester
HEPB3 Vaccine
Laundry Dryers
Steam ships
Vinyl Acetate
Carbon Capture & Sequestration
Coal Production
Liquid Biofuels
Benzene
Nickel-Based Battery
Sodium
Zinc-Based Battery
Power steering
Computing Growth
Canals
Wet flue gas desulfurization systems
Lithium-Ion Battery Storage
Lead mine production
Latent Heat Storage
Raw steel production
Herbicide-Tolerant Corn
Offshore Wind Energy
Compact fluorescent light bulbs
Radio
Polyvinylchloride
Polyester Fiber
MCV1 Vaccine
Telephones
Phosphate Fertilizer
Ethylene Glycol
IPV1 Vaccine
Electricity
Oil pipeline
Hydroelectricity
Microwaves
Hydrogen Storage
Beer Production
Ethylene
Motor Gasoline
Graphite Mine Production
Nickel production
Households with only mobile phones (no landlines)
Electro-Chemical Capacitor
Central heating
Lead-Acid Battery Storage
Radial tires
Automatic transmission
Amazon Prime users
Postal Traffic
Railroad
Oil Production
Coal Power
HEPBB Vaccine
Hydrofluoric Acid
Cement production
Nox pollution controls (boilers)
Iron
Air-Source Heat Pumps
Zinc
Tin
Crude Oil
Styrene
Internet Traffic
Low-Density Polyethylene
Household Internet access
Titanium Sponge
POL3 Vaccine
Vacuums
Geothermal Energy
Acrylic Fiber
Methanol
Cobalt Mine Production
Capture fisheries production
Onshore Wind Energy
Insect-Resistant Cotton
Natural Gas Production
Rare Earth Mine Production
Solar Thermal Energy
Silver
Formaldehyde
Motorcycles
Natural Gas Power
Milk production
Polystyrene
Colour TV
Synthetic Filaments
Gold production
Desalination capacity
Space Launches
Solar Photovoltaic
Nuclear Energy
Sand and gravel production (industrial)
Heat Thermal Battery Storage
Phthalic Anhydride
Videocassette recorder
RCV1 Vaccine
Flush toilet
Iron ore
Nitric Acid
Vinyl Chloride
Cellphones
Public roads
Smartphone usage
Flow Battery Storage
Shale production
Pumped Hydro Storage
Electric Range
Stove
Random Access Memory
Renewable Power
Social media usage
Cadmium Refining
Primary bauxite production
Sulphuric Acid
Microprocessor Clock Speed
Stationary Steam Engines
Maleic Anhydride
Dishwashers
MCV2 Vaccine
Caustic Soda
Home air conditioning
Bisphenol A
Salt production
Pentaerythritol
Acrylonitrile
Paraxylene
Concentrated Solar Power
Home computers
Caprolactam
BCG Vaccine
Urea
Biogas
YFV Vaccine
Television
Potash Fertilizer
All Biofuels
Sodium Chlorate
Oil Refining Capacity
Ethanolamine
Transistors per Microprocessor
Disk brakes
Compressed Air Energy Storage
Phenol
Aniline
Electronic ignition
Bicycles
Cyclohexane
Submarine Cables
Ground Source Heat Pumps
Liquefied natural gas
Telegraph Traffic
Running water
Podcasting
Refrigerators
Real-time gross settlement adoption
Magnesium
DTP1 Vaccine
Natural gas pipeline
Internet Backbone Bandwidth
High-speed rail
Insect-Resistant Corn
Solid Biofuels
Flywheel Battery Storage
Ammonia Synthesis
Microcomputers
Primary Magnesium
Neoprene Rubber
Primary aluminum production
Herbicide-Tolerant Cotton
Freezer
Herbicide-Tolerant Soybeans
Aquaculture production
Sensible Heat Storage
Water Heater
Lithium Mine Production
Copper Mining
Marine Energy
Ebook reader
Nitrogen Fertilizer
Processor Performance
Fluid Catalytic Cracking Refineries
Copper Refining

In [9]:
all_tech_df[all_tech_df['Technology Name']=='Cellphones']

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
10,Cellphones_Cumulative Total Capacity_World,Global,World,World,Cellphones,Cumulative Total Capacity,MW,IIASA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Cellphones_Total Number_TG,National,TG,Togo,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cellphones_Total Number_BR,National,BR,Brazil,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cellphones_Total Number_TD,National,TD,Chad,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cellphones_Total Number_TZ,National,TZ,Tanzania,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Cellphones_Total Number_CA,National,CA,Canada,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,Cellphones_Total Number_RO,National,RO,Romania,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,Cellphones_Total Number_GB,National,GB,United Kingdom,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,Cellphones_Total Number_ER,National,ER,Eritrea,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,Cellphones_Total Number_SL,National,SL,Sierra Leone,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
all_tech_df.insert(8, 'Long Technology Name', all_tech_df['Metric'] + ' | ' + all_tech_df['Technology Name'])
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Lithium-Ion Battery S...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Lithium-Ion Batter...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Pumped Hydro Storage,NaN,...,4574000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,Annual production | Raw steel production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
0,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied natural gas_Annual Production_US,NaN,US,United States,Liquefied natural gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,Annual Production | Liquefied natural gas,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
all_tech_df.reset_index(drop=True,inplace=True)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Lithium-Ion Battery S...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Lithium-Ion Batter...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Pumped Hydro Storage,NaN,...,4574000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7598,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,Annual production | Raw steel production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7599,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
7600,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7601,Liquefied natural gas_Annual Production_US,NaN,US,United States,Liquefied natural gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,Annual Production | Liquefied natural gas,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
7602,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
omit = []
for col in all_tech_df.columns:
    if len(col) != 4 or col == 'Unit':
         omit.append(col)
empty_rows = all_tech_df.drop(columns=omit)
empty_rows.dropna(how='all', inplace=True)
na_idx = []
for idx in all_tech_df.index:
    if idx not in empty_rows.index:
        na_idx.append(idx)
all_tech_df.drop(na_idx, inplace=True)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Lithium-Ion Battery S...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Lithium-Ion Batter...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Pumped Hydro Storage,NaN,...,4574000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7598,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,Annual production | Raw steel production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7599,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
7600,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7601,Liquefied natural gas_Annual Production_US,NaN,US,United States,Liquefied natural gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,Annual Production | Liquefied natural gas,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
7602,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
all_tech_df.to_csv('all_tech_version 2.0.csv', index=False)

In [14]:
all_tech_df = all_tech_df[all_tech_df['Metric']!='Price']
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Lithium-Ion Battery S...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Lithium-Ion Batter...,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Sensible Heat Storage,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Pumped Hydro Storage,NaN,...,4574000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7598,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,Annual production | Raw steel production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7599,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
7600,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7601,Liquefied natural gas_Annual Production_US,NaN,US,United States,Liquefied natural gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,Annual Production | Liquefied natural gas,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
7602,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
all_tech_df.to_csv('all_tech_version 1.5.csv', index=False)

In [16]:
no_country = []
for tech in set(all_tech_df['Technology Name']):
    countries = list(set(all_tech_df[all_tech_df['Technology Name'] == tech]['Country Name']))
    id_ = list(all_tech_df[all_tech_df['Technology Name'] == tech]['ID'])
    if len(countries) <= 2:
        no_country.extend(id_)

In [17]:
all_tech_w_countrylvl = all_tech_df.set_index('ID', drop=True)
all_tech_w_countrylvl.drop(index=no_country, inplace=True)
all_tech_w_countrylvl

,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
ID,,,,,,,,,,,,,,,,,,,,,
Lithium-Ion Battery Storage_Cumulative Rated Power_TG,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Lithium-Ion Battery S...,NaN,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithium-Ion Battery Storage_Cumulative Rated Capacity_TG,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Lithium-Ion Batter...,NaN,NaN,...,NaN,190,290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Sensible Heat Storage,NaN,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sensible Heat Storage_Cumulative Rated Capacity_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity | Sensible Heat Storage,NaN,NaN,...,255000,355000,455000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power | Pumped Hydro Storage,NaN,NaN,...,4574000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Raw steel production_Annual production_ZW,National,ZW,Zimbabwe,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,Annual production | Raw steel production,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,Annual production | Raw steel production,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches | Space Launches,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
all_tech_w_countrylvl.to_csv('all_tech_with_country-level.csv', index=False)