In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
csv = []
for file in clean_files:
     if '.csv' in file:
        name = path + file
        csv.append(name)

In [4]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Metric, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, ...]
Index: []

[0 rows x 334 columns]

In [5]:
df_list = []
for file in csv:
    file = pd.read_csv(file)
    df_list.append(file)

In [6]:
all_tech_df = pd.concat(df_list)
all_tech_df

,ID,1945,1946,1947,1948,1949,1950,1951,1952,1953,...,1897,1898,1899,2019,2020,2021,2022,2023,2024,2025
0,Nuclear weapons_Cumulative total capacity_US,2.0,9.0,13.0,50.0,170.0,299.0,438.0,841.0,"1,169",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nuclear weapons_Cumulative total capacity_RU,NaN,NaN,NaN,NaN,1.0,5.0,25.0,50.0,120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nuclear weapons_Cumulative total capacity_GB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nuclear weapons_Cumulative total capacity_FR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nuclear weapons_Cumulative total capacity_CN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Raw steel production_Annual production_VN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Raw steel production_Annual production_YU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Raw steel production_Annual production_ZW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Raw steel production_Annual production_World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied natural gas_Exports_US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN

In [7]:
for x in set(all_tech_df['Technology Name']):
    print(x)

Radial tires
Stationary Steam Engines
On-Grid Mixed Hydro Plants
Ethylene Glycol
Dryer
DTP3 Vaccine
Aquaculture
Shotgun Sanger DNA Sequencing
FCC-Refineries
Magnesium
Styrene
Internet
BCG Vaccine
Hydroelectricity
Pentaerythritol
Urea
Nuclear weapons
Random Access Memory
Videocassette recorder
Households with only mobile phones (no landlines)
Podcasting
Neoprene Rubber
On-Grid Solar Thermal Energy
Milk
Ethylene 2
Microwave
PolyesterFiber
Bicycles
Sensible heat
Transistors per Microprocessor
Laundry Dryers
Railroad
Sand and gravel production (industrial)
Desalination
Household refrigerator
Microprocessor Clock Speed
Pumped hydro storage
Phenol
Motorcycles
Liquefied natural gas
Lead mine production
ROTAC Vaccine
Sand and gravel production (construction)
Wind Power
Electro-chemical capacitor
Crude Oil
Internet Traffic
Vacuum
Renewable Power
Nuclear Power
Ground-Source Heat Pumps
RTGS adoption
Primary Alumninum
Beer
Radio
Salt production
On-Grid Coal And Peat
Phthalic Anhydride
Polyethylene LD
Landline
Acrylic Fiber
Home air conditioning
YFV Vaccine
Gas pipeline
Flow battery
Sodium
Steam Locomotives
On-Grid Solar Photovoltaic
Polyethylene HD
Cobalt Mine Production
On-Grid Offshore Wind Energy
High-speed rail
Electric power
On-Grid Renewable Hydropower
HEPBB Vaccine
Sodium-based battery
Refined Cane Sugar
Titanium Sponge
Coal Power
Rare Earth Mine Production
Electric Range
Gas Production
Heat thermal storage
Internet Backbone Bandwidth
Capture fisheries
HEPB3 Vaccine
CFLs
On-Grid Geothermal Energy
Iron
HIB3 Vaccine
Motor Gasoline
Copper Refining
Washing machine
POL3 Vaccine
On-Grid Liquid Biofuels
Hydrogen storage
Running water
Methanol
Oil Production
Amazon Prime users
Freezer
Acrylonitrile
Cellphones
Hydrofluoric Acid
Ethylene
Oil Refining Capacity
Television
Low-Density Polyethylene
Lithium Mine Production
Washing Machines
Colour TV
Ethanolamine
Public roads
On-Grid Onshore Wind Energy
On-Grid Biogas
PCV3 Vaccine
Tablet
Automatic transmission
Cement production
MCV1 Vaccine
Steamships
Electricity access
IPV1 Vaccine
On-Grid Solid Biofuels
Electric Bicycles
Cable TV
Vinyl Acetate
Solar Energy
Nickel-based battery
Solar Power
RCV1 Vaccine
Raw steel production
Primary aluminum production
Cyclohexane
Electricity
Primary bauxite production
Passenger Cars
NatGas Power
Paraxylene
Social media usage
Nitrogen Fertilizer
Copper Mining
Dishwasher
Iron ore
Microcomputer
Flywheel
Nuclear Energy
Coal Production
Caprolactam
On-Grid Natural Gas
Nox pollution controls (boilers)
Latent heat
Vinyl Chloride
Primary copper production
Flush toilet
Shipping container port infrastructure
DTP1 Vaccine
Wind Energy
Cadmium Refining
Zinc-based battery
Hydro Power
Wet flue gas desulfurization systems
Bisphenol A
Computer
MCV2 Vaccine
Oil pipeline
Water Heater
Washer
On-Grid Oil
Primary Magnesium
Electronic ignition
Potash Fertilizer
Jet Aircraft
Cellular phone
On-Grid Nuclear
Benzene
Central heating
Polyvinylchloride
Refrigerators
Compressed air energy storage
Gold production
Stove
Satellite launches
Smartphone usage
Processor Performance
Graphite Mine Production
Biofuels
Sodium Chlorate
Refrigerator
Polystyrene
Shale production
On-Grid Marine Energy
Automobile
Off-Grid Onshore Wind Energy
Formaldehyde
Lead-acid battery
Nickel production
Disk brakes
Power steering
Maleic Anhydride
Ethyl Alcohol
Ebook reader
Aniline
Lithium-ion battery
Phosphate Fertilizer

In [8]:
all_tech_df.to_csv('all_tech.csv', index=False)