In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
all_tech = pd.read_csv('all_tech_version 1.5.csv')
all_tech

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_19964/2174381710.py:1: DtypeWarning: Columns (156,215,216,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,320,321,322,323,324,325,326,327,328,329,330) have mixed types. Specify dtype option on import or set low_memory=False.
  all_tech = pd.read_csv('all_tech_version 1.5.csv')

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-ion battery storage_Cumulative Rated C...,National,TG,Togo,Lithium-ion battery storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,NaN,760.0,1160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-ion battery storage_Cumulative Rated P...,National,TG,Togo,Lithium-ion battery storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,NaN,190.0,290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible heat storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible heat storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,1195000.0,1745000.0,2945000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible heat storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible heat storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,255000.0,355000.0,455000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pumped hydro storage_Cumulative Rated Capacity_CA,National,CA,Canada,Pumped hydro storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,3044000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7577,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7578,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
7579,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7580,Liquefied natural gas_Exports_US,NaN,US,United States,Liquefied natural gas,Exports,Billion cubic feet,U.S. Energy Information Administration,NaN,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
7581,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dup = []
for x in all_tech['ID']:
    if x not in dup:
        dup.append(x)
    else:
        print(x)

Railroad_Cumulative total capacity_VN
Railroad_Cumulative total capacity_CZ
Railroad_Cumulative total capacity_CN
Crop harvester_Cumulative total capacity_VN
Crop harvester_Cumulative total capacity_YE
Crop harvester_Cumulative total capacity_CZ
Crop harvester_Cumulative total capacity_CN
Copper Refining_Annual production_CZ
Cellphones_Cumulative total capacity_VN
Cellphones_Cumulative total capacity_YE
Cellphones_Cumulative total capacity_CZ
Cellphones_Cumulative total capacity_CN
Space Launches_Yearly Launches_not found
Beer_Annual Production_CZ
Milk_Annual Production_CZ
Silver_Annual Production_KR
Gold_Annual Production_KR
Crude Petroleum_Annual Production_CD
Zinc_Annual Production_KR
Telephones_Cumulative total capacity_VN
Telephones_Cumulative total capacity_YE
Telephones_Cumulative total capacity_CZ
Telephones_Cumulative total capacity_CN
Postal Traffic_Cumulative total capacity_VN
Postal Traffic_Cumulative total capacity_CZ
Postal Traffic_Cumulative total capacity_CN
Cadmium Refining_Annual production_DE
Cadmium Refining_Annual production_DE
Passenger Cars_Cumulative total capacity_VN
Passenger Cars_Cumulative total capacity_YE
Passenger Cars_Cumulative total capacity_CZ
Passenger Cars_Cumulative total capacity_CN
Television_Cumulative total capacity_VN
Television_Cumulative total capacity_YE
Television_Cumulative total capacity_CZ
Television_Cumulative total capacity_CN
Salt production_Annual production_CZ
Salt production_Annual production_DE
Salt production_Annual production_DE
Lead mine production_Annual production_CZ
Lead mine production_Annual production_DE
Nitrogen Fertilizer_Annual Production_Tonnes_CN
Phosphate Fertilizer_Annual Production_Tonnes_CN
Potash Fertilizer_Annual Production_Tonnes_CN
Nitrogen Fertilizer_Annual Production_Tonnes_SD
Phosphate Fertilizer_Annual Production_Tonnes_SD
Potash Fertilizer_Annual Production_Tonnes_SD
Iron ore_Annual production_CZ
Iron ore_Annual production_DE
Radio_Cumulative total capacity_VN
Radio_Cumulative total capacity_YE
Radio_Cumulative total capacity_CZ
Radio_Cumulative total capacity_CN
Telegraph Traffic_Cumulative total capacity_VN
Telegraph Traffic_Cumulative total capacity_CZ
Telegraph Traffic_Cumulative total capacity_CN
Raw steel production_Annual production_CZ
Raw steel production_Annual production_DE
Raw steel production_Annual production_DE