In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
all_tech = pd.read_csv('all_tech.csv')
all_tech

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Aquaculture_Annual production_World,World,World,World,Aquaculture,Annual production,Metric tons,World Bank,NaN,NaN,...,1.082154e+08,1.122365e+08,1.159116e+08,1.197991e+08,1.225801e+08,NaN,NaN,NaN,NaN,NaN
1,Aquaculture_Annual production_AF,National,AF,Afghanistan,Aquaculture,Annual production,Metric tons,World Bank,NaN,NaN,...,6.150000e+03,7.000000e+03,7.950000e+03,8.000000e+03,8.050000e+03,NaN,NaN,NaN,NaN,NaN
2,Aquaculture_Annual production_AL,National,AL,Albania,Aquaculture,Annual production,Metric tons,World Bank,NaN,NaN,...,4.950000e+03,4.630000e+03,6.458000e+03,6.500000e+03,9.284000e+03,NaN,NaN,NaN,NaN,NaN
3,Aquaculture_Annual production_DZ,National,DZ,Algeria,Aquaculture,Annual production,Metric tons,World Bank,NaN,NaN,...,1.959590e+03,4.467310e+03,5.108420e+03,4.835470e+03,5.435990e+03,NaN,NaN,NaN,NaN,NaN
4,Aquaculture_Annual production_AS,National,AS,American Samoa,Aquaculture,Annual production,Metric tons,World Bank,NaN,NaN,...,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,2.000000e+01,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7843,Phosphate Fertilizer_Annual Production_Tonnes_ZM,National,ZM,Zambia,Phosphate Fertilizer,Annual Production,Tonnes,UN FAO,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
7844,Potash Fertilizer_Annual Production_Tonnes_ZM,National,ZM,Zambia,Potash Fertilizer,Annual Production,Tonnes,UN FAO,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
7845,Nitrogen Fertilizer_Annual Production_Tonnes_ZW,National,ZW,Zimbabwe,Nitrogen Fertilizer,Annual Production,Tonnes,UN FAO,NaN,NaN,...,1.170000e+04,1.230000e+04,1.320000e+04,1.320000e+04,1.320000e+04,NaN,NaN,NaN,NaN,NaN
7846,Phosphate Fertilizer_Annual Production_Tonnes_ZW,National,ZW,Zimbabwe,Phosphate Fertilizer,Annual Production,Tonnes,UN FAO,NaN,NaN,...,2.100000e+03,9.500000e+03,8.100000e+03,8.100000e+03,8.100000e+03,NaN,NaN,NaN,NaN,NaN
7847,Potash Fertilizer_Annual Production_Tonnes_ZW,National,ZW,Zimbabwe,Potash Fertilizer,Annual Production,Tonnes,UN FAO,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN

In [3]:
dup = []
for x in all_tech['ID']:
    if x not in dup:
        dup.append(x)
    else:
        print(x)

Nitrogen Fertilizer_Annual Production_Tonnes_CN
Phosphate Fertilizer_Annual Production_Tonnes_CN
Potash Fertilizer_Annual Production_Tonnes_CN
Nitrogen Fertilizer_Annual Production_Tonnes_SD
Phosphate Fertilizer_Annual Production_Tonnes_SD
Potash Fertilizer_Annual Production_Tonnes_SD