In [1]:
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
# https://www.fao.org/faostat/en/#data/RFN

In [3]:
fao = pd.read_csv('raw data/FAOSTAT_data_2-20-2023.csv')
fao.drop(0, inplace=True)
fao.drop(columns=['Unnamed: 1'], inplace=True)
fao.dropna(how='all', inplace=True)
iso2 = []
for country in fao['Unnamed: 0']:
    if country=='China, Taiwan Province of':
        iso2.append('TW')
    elif country=='Serbia and Montenegro':
        iso2.append('CS')
    elif country=='USSR':
        iso2.append('SU')
    elif country=='Yugoslav SFR':
        iso2.append('YU')
    elif country=='Belgium-Luxembourg':
        iso2.append('BE-WLX')   
    else:
        iso2.append(coco.convert(names=country, to='iso2'))
fao['Country Code'] = iso2
fao.rename(columns={'Unnamed: 0': 'Country Name', 'Unnamed: 2': 'Technology Name'}, inplace=True)
fao['Unit'] = 'Tonnes'
fao['Data Source'] = 'UN FAO'
fao['Spatial Scale'] = 'National'
fao.replace('Nutrient nitrogen N (total)', 'Nitrogen fertilizer production', inplace=True)
fao.replace('Nutrient phosphate P2O5 (total)', 'Phosphate fertilizer production', inplace=True)
fao.replace('Nutrient potash K2O (total)', 'Potash fertilizer production', inplace=True)
fao['ID'] = fao['Technology Name'] + ', '+ fao['Unit'] + ': ' + fao['Country Code']
fao.set_index('ID', inplace=True)
fao

,Country Name,Technology Name,1961,1962,1963,1964,1965,1966,1967,1968,...,2015,2016,2017,2018,2019,2020,Country Code,Unit,Data Source,Spatial Scale
ID,,,,,,,,,,,,,,,,,,,,,
"Nitrogen fertilizer production, Tonnes: AF",Afghanistan,Nitrogen fertilizer production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14416,14416,14416,14416,14416,14416,AF,Tonnes,UN FAO,National
"Phosphate fertilizer production, Tonnes: AF",Afghanistan,Phosphate fertilizer production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1541,1541,1541,1541,1541,1541,AF,Tonnes,UN FAO,National
"Potash fertilizer production, Tonnes: AF",Afghanistan,Potash fertilizer production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,AF,Tonnes,UN FAO,National
"Nitrogen fertilizer production, Tonnes: AL",Albania,Nitrogen fertilizer production,NaN,NaN,NaN,NaN,NaN,NaN,5000,17000,...,0,0,0,0,0,0,AL,Tonnes,UN FAO,National
"Phosphate fertilizer production, Tonnes: AL",Albania,Phosphate fertilizer production,NaN,NaN,NaN,500,2000,3000,5000,14000,...,0,0,0,0,0,0,AL,Tonnes,UN FAO,National
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Phosphate fertilizer production, Tonnes: ZM",Zambia,Phosphate fertilizer production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,ZM,Tonnes,UN FAO,National
"Potash fertilizer production, Tonnes: ZM",Zambia,Potash fertilizer production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,ZM,Tonnes,UN FAO,National
"Nitrogen fertilizer production, Tonnes: ZW",Zimbabwe,Nitrogen fertilizer production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29300,11700,12300,13200,13200,13200,ZW,Tonnes,UN FAO,National
"Phosphate fertilizer production, Tonnes: ZW",Zimbabwe,Phosphate fertilizer production,11000,11000,15000,15000,20000,20000,25500,24500,...,2000,2100,9500,8100,8100,8100,ZW,Tonnes,UN FAO,National
"Potash fertilizer production, Tonnes: ZW",Zimbabwe,Potash fertilizer production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,ZW,Tonnes,UN FAO,National

In [4]:
fao.to_csv('cleaned data/fao.csv')