In [1]:
import pandas as pd
from pandas import Series, DataFrame
import string
import sqlite3
import country_converter as coco

In [2]:
def map_country_code(df):
    iso2 = []
    for country in df.index:
        if country=='USSR':
            iso2.append('SU')
        elif country=='Netherlands Antilles':
            iso2.append('AN')
        else:
            iso2.append(coco.convert(names=country, to='iso2'))
    df['Country Code'] = iso2
    df.insert(0, 'Country Name', df.index)
    df = df.set_index('Country Code')
    return df

In [3]:
def read_bp(sheet):
    missing_values = ['-', '^','♦']
    df = pd.read_excel('bp-stats-review-2022-all-data.xlsx', sheet_name=sheet, header=2, index_col=0, na_values=missing_values)
    omit = []
    for col in df.columns:
        if type(col) != int:
            omit.append(col)
    df = df.drop(columns=omit)
    df = df.dropna(how='all')
    idx = []
    for country in df.index:
        x = country.strip(string.digits)
        idx.append(x)
    df['Country Name'] = idx
    df = df.set_index('Country Name')
    for country in df.index:
        if 'Total' in country or 'Rest of World' in country or 'Other' in country or 'European Union' in country or 'OECD' in country or 'Central America' in country or 'Eastern Africa' in country or 'Middle Africa' in country or 'Western Africa' in country or 'OPEC' in country:
            df = df.drop(country)
    df = map_country_code(df)
    return df

In [4]:
bp_oil_production = read_bp('Oil Production - Tonnes')
bp_oil_production

,Country Name,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,43.874178,48.212154,52.701140,57.119336,62.218043,70.067889,75.163773,86.713147,100.314612,...,182.912943,195.409623,209.777010,216.074424,218.844941,236.623854,257.745067,263.462162,252.022685,267.096470
MX,Mexico,18.053894,18.489542,20.463761,21.900666,22.965009,24.179007,24.107319,25.097617,25.859389,...,143.857278,142.091212,137.343922,127.734295,121.516944,109.584590,102.400224,95.000334,95.111225,96.486319
US,US,427.694442,454.538861,484.221630,502.880332,511.351724,533.489849,525.887850,527.887889,514.652287,...,395.245087,448.684134,524.659261,567.122838,542.593149,574.134693,669.055938,749.895128,711.550649,711.124690
AR,Argentina,13.764759,14.643966,15.962276,17.487586,18.106759,20.000517,21.570862,22.218034,21.601172,...,30.840747,30.185948,29.786305,30.045688,28.630797,27.240149,27.542351,28.834834,27.657269,29.066317
BR,Brazil,5.045191,6.159290,7.750860,8.516863,9.289377,8.792737,9.203948,9.028129,9.155847,...,112.366533,110.152868,122.454669,132.192891,136.707063,142.641816,140.603161,151.199171,159.344927,156.792441
CO,Colombia,10.654546,10.443867,10.075181,9.257762,11.233911,11.759925,11.675790,10.577425,9.947956,...,49.862574,53.189490,52.162822,52.963156,46.787709,44.981902,45.584496,46.656255,41.251981,38.878026
EC,Ecuador,0.428781,0.375184,0.321586,0.268722,0.214391,0.214391,0.214391,4.192070,11.201909,...,27.098114,28.242780,29.829982,29.108609,29.473041,28.477106,27.722830,28.460511,25.763542,25.344872
PE,Peru,3.394165,3.394165,3.811905,3.979430,3.864122,3.862692,3.299296,3.450698,3.754089,...,6.865127,7.314465,7.541427,6.535412,5.848813,5.693446,5.857806,6.105302,5.466467,5.305072
TT,Trinidad & Tobago,6.671460,7.562912,8.850564,9.485210,7.775441,6.933514,6.388738,7.002171,8.221167,...,5.182263,5.108392,5.054163,4.824142,4.331345,4.379927,3.900726,3.660321,3.431932,3.489987
VE,Venezuela,184.113962,178.785909,187.925042,191.762384,190.805531,197.238062,189.876556,173.812348,181.434538,...,139.324997,137.781445,138.510268,147.618822,132.556389,114.095175,83.843239,52.057038,32.701681,33.408471
DK,Denmark,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.097730,0.146195,...,9.979991,8.682906,8.130409,7.689812,6.924374,6.736967,5.646862,5.017234,3.520207,3.152110
IT,Italy,2.278000,1.850000,1.723000,1.627000,1.591000,1.502000,1.353000,1.210000,1.105000,...,5.396411,5.501556,5.764933,5.470205,3.759517,4.148197,4.684199,4.278568,5.393780,4.840300
NO,Norway,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.292781,1.614706,1.561497,...,87.045020,82.930070,84.966372,87.636523,90.306715,88.856829,83.318372,79.777811,92.035975,93.796252
RO,Romania,12.821000,13.075000,13.456000,13.535000,13.546000,13.677000,14.093000,14.428000,14.637000,...,3.982000,4.131000,4.052000,4.003000,3.802000,3.634000,3.577000,3.567000,3.457000,3.322000
GB,United Kingdom,0.084000,0.078000,0.089000,0.084000,0.085000,0.156000,0.212000,0.333000,0.372000,...,44.560820,40.646390,39.927920,45.287730,47.444578,46.630331,50.870390,51.817708,48.985260,40.864806
AZ,Azerbaijan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,43.738300,43.845000,42.512900,42.019900,41.427600,39.089300,39.198300,37.994400,35.026300,35.138796
KZ,Kazakhstan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,79.279391,82.308331,81.109114,80.174011,78.589857,86.980128,90.480870,91.043885,85.957182,85.989040
RU,Russian Federation,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,526.735645,532.223585,537.420587,544.552364,558.479079,558.546697,567.884888,573.388845,524.404217,536.445850
TM,Turkmenistan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.990000,12.470000,12.850000,13.230000,13.180000,13.055000,12.509000,12.213000,10.400909,11.984095
SU,USSR,242.888000,265.100000,288.100000,309.200000,328.300000,353.039000,377.000000,400.400000,429.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
UZ,Uzbekistan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.337100,3.167181,2.867052,2.728090,2.615407,2.766624,2.890915,3.010894,2.781504,2.718148
IR,Iran,95.662088,106.892857,130.507555,142.780220,169.263736,192.586962,228.684626,253.710945,295.377082,...,180.478795,169.672025,174.046495,180.242937,216.144450,231.945673,219.246085,158.327680,143.249750,167.658092
IQ,Iraq,64.675439,68.566802,60.488529,74.237247,74.921053,76.300270,83.442645,72.409717,99.402159,...,151.315151,151.935143,158.809882,195.615876,217.602278,222.381854,227.012450,234.220106,202.037840,200.829370
KW,Kuwait,119.011362,125.556470,126.392344,133.128194,140.907964,151.798934,162.549492,167.349232,153.800439,...,153.968094,151.430325,150.225027,148.246973,152.734328,144.968769,146.849035,143.381896,130.340337,131.092786
OM,Oman,0.000000,0.000000,2.822931,11.968250,16.194708,16.442334,14.560380,14.004342,14.510855,...,44.999682,46.082194,46.218958,48.030926,49.316164,47.564363,47.824124,47.328160,46.111052,46.824545
QA,Qatar,11.605327,14.494207,16.137880,16.981209,17.731745,18.080403,21.417557,24.073361,28.390715,...,79.601885,79.657387,79.379248,75.677625,75.110464,73.571041,74.845033,71.889240,72.043449,73.320237
SA,Saudi Arabia,111.024176,130.968819,141.287088,154.222747,162.750893,192.171497,240.794712,304.232473,384.014595,...,549.225546,538.413090,543.823576,568.034177,586.712209,559.319387,576.817653,556.564010,519.582902,515.022998
SY,Syria,0.000000,0.000000,0.000000,1.048568,2.639154,4.232606,5.278308,5.842019,5.527285,...,8.078834,2.686481,1.459948,1.197836,1.101254,1.078810,1.051034,1.510591,1.964180,4.598421
AE,United Arab Emirates,13.666313,17.433992,18.504246,24.115112,30.402945,37.754279,51.309208,58.403635,74.220379,...,156.245556,162.766750,163.396597,176.062453,182.379589,176.224335,176.686676,180.544180,166.582744,164.380594
YE,Yemen,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.140715,9.034351,6.903391,2.607259,1.610472,2.954849,4.051518,4.075111,3.767377,2.759777
DZ,Algeria,26.139312,33.642476,38.645242,42.423748,44.435793,48.313494,36.797660,49.726481,51.698632,...,67.212000,64.784000,68.771000,67.225000,68.417000,66.648000,65.332000,64.330000,57.516000,58.174000
AO,Angola,0.655000,0.631000,0.537000,0.750000,2.458000,5.065000,5.721000,7.057000,8.175000,...,85.295857,85.205920,83.277412,88.162659,85.768037,81.604942,74.085432,69.069890,64.220269,56.607404
TD,Chad,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.309353,4.759988,4.663832,5.809218,6.136010,5.168381,6.066114,6.663367,6.648839,6.117519
CG,Republic of Congo,0.071000,0.062000,0.050000,0.043000,0.024000,0.019000,0.014000,0.336000,2.091000,...,14.241384,12.323503,12.891468,11.933691,11.887969,13.800196,16.931360,17.226814,15.755473,14.020331
EG,Egypt,6.478000,6.257000,5.581000,8.577000,12.295000,16.404000,14.952000,10.720000,8.479000,...,34.726087,34.361053,35.140197,35.431000,33.835000,32.178000,32.844000,31.812000,31.066370,29.601363
GQ,Equatorial Guinea,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,15.163406,13.234749,13.279241,12.104110,10.344194,8.965715,8.122960,7.395200,7.381700,6.432435
GA,Gabon,1.265000,1.447000,3.445000,4.641000,5.027000,5.423000,5.795000,6.303000,7.597000,...,11.072526,10.655653,10.530824,10.662394,11.047943,10.488932,9.659118,10.876650,10.385137,9.037620
LY,Libya,57.981771,71.669271,82.362630,123.858594,147.710938,159.544922,130.684185,106.819651,104.632602,...,72.567512,49.353757,24.383713,20.455231,19.326163,43.755327,54.943198,57.811575,20.008481,59.649764
NG,Nigeria,13.506478,20.570040,15.718151,6.979190,26.613968,53.351080,75.423482,89.682348,101.190216,...,116.362196,109.372195,109.203755,105.655726,91.268206,94.444389,96.317945,101.107828,88.421199,77.928713
SS,South Sudan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.533199,4.912417,7.652272,7.277228,6.751574,7.250767,7.107698,8.448494,8.126227,7.515699
SD,Sudan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.092759,5.805194,5.891450,5.372157,4.153085,3.448734,3.654912,3.554830,3.129928,3.156698
TN,Tunisia,0.000000,0.771000,2.241000,3.191000,3.707000,4.151000,4.109000,3.977000,3.878000,...,3.409000,3.128000,2.903000,2.627000,2.506000,2.117000,2.048000,1.879000,1.736621,2.120538
AU,Australia,0.346206,0.445122,1.038618,1.934146,2.225610,8.704607,15.255404,16.280006,20.394430,...,21.184010,17.610375,18.604636,16.803170,15.352201,13.900812,14.635110,19.084000,19.060328,18.133839
BN,Brunei,3.964974,4.760614,5.158435,6.070115,6.152985,6.749715,6.401623,9.061941,11.434147,...,7.787651,6.576117,6.153486,6.177047,5.898135,5.487575,5.412577,5.901085,5.378891,5.204629
CN,China,11.310000,14.550000,13.880000,15.990000,21.740000,30.650000,39.410000,45.670000,53.610000,...,207.478000,209.959285,211.429000,214.560000,199.685000,191.506000,189.324000,191.628000,194.769000,198.881000
IN,India,3.022000,4.647000,5.667000,5.853000,6.723000,6.809000,7.185000,7.373000,7.198000,...,42.548619,42.470620,41.640472,41.172006,40.222858,40.437704,39.547648,37.486737,35.148944,33.997749
ID,Indonesia,24.535270,23.929461,25.746888,30.322822,32.410788,43.113416,45.031812,54.722822,67.547718,...,44.582840,42.364770,40.962071,40.579684,42.648988,40.947280,39.492717,38.158677,36.368553,33.772668
MY,Malaysia,0.047775,0.047775,0.047775,0.191623,0.429974,0.859948,3.296466,4.455236,4.347513,...,30.069544,28.714578,29.796682,32.188682,33.303078,32.854624,32.529985,30.561275,28.052435,25.924258
TH,Thailand,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,17.271433,17.094549,16.886906,17.598206,18.127824,17.562978,16.966807,16.927565,15.136256,13.948695
VN,Vietnam,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,16.994200,16.911800,15.853000,17.169000,15.511000,13.850000,12.410000,11.442200,10.023900,9.342980

In [5]:
bp_oil_refining = read_bp('Oil - Refining capacity')
bp_oil_refining

,Country Name,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,1089.143628,1140.468484,1238.526634,1280.039384,1344.32125,1396.463781,1651.584795,1683.97732,1846.065743,...,2014.852814,1929.441554,1929.441554,1930.789494,1933.707966,1969.559887,1939.198971,2054.145120,2065.133420,1954.000000
MX,Mexico,417.000000,417.000000,457.000000,525.000000,525.00000,562.000000,562.000000,594.00000,722.000000,...,1605.500000,1605.500000,1521.900000,1521.900000,1521.900000,1545.650000,1558.000000,1558.000000,1558.000000,1558.000000
US,US,10390.000000,10660.000000,11350.000000,11700.000000,12020.00000,12860.000000,13290.000000,13640.00000,14360.000000,...,17823.000000,17925.000000,17967.000000,18317.000000,18617.000000,18598.000000,18808.000000,18974.000000,18143.000000,17941.000000
AR,Argentina,402.325000,414.200000,412.300000,423.700000,434.15000,437.690000,603.920350,602.00000,624.000000,...,657.000000,657.000000,657.000000,657.000000,657.000000,657.000000,580.000000,580.000000,580.000000,580.000000
BR,Brazil,346.655000,351.880000,360.905000,439.280000,476.52000,525.000000,597.000000,756.00000,820.000000,...,2004.235000,2096.852000,2238.378000,2281.400000,2288.869000,2285.075664,2285.075664,2290.164121,2290.164121,2302.542468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SG,Singapore,50.000000,79.000000,162.000000,170.000000,180.00000,288.000000,303.000000,490.00000,700.000000,...,1422.000000,1414.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1461.000000
KR,South Korea,33.000000,38.000000,57.000000,114.000000,171.00000,209.000000,257.000000,380.00000,380.000000,...,2877.550000,2877.550000,3122.650000,3128.350000,3258.500000,3298.400000,3345.900000,3393.400000,3572.000000,3572.000000
TW,Taiwan,46.000000,50.000000,50.000000,103.000000,103.00000,103.000000,122.000000,193.00000,193.000000,...,1197.000000,1197.000000,1197.000000,988.000000,988.000000,1083.000000,1083.000000,1083.000000,1130.500000,1130.500000
TH,Thailand,45.000000,45.000000,45.000000,45.000000,63.00000,122.000000,122.000000,153.00000,153.000000,...,1229.500000,1236.500000,1251.500000,1251.500000,1234.500000,1234.500000,1234.500000,1234.500000,1244.500000,1244.500000
VN,Vietnam,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,...,159.000000,159.000000,159.000000,159.000000,163.000000,167.000000,367.000000,367.000000,367.000000,367.000000

In [6]:
bp_gas = read_bp('Gas Production - Bcm')
# bp_gas

In [7]:
bp_coal = read_bp('Coal Production - Tonnes')
# bp_coal

In [8]:
bp_nuclear = read_bp('Nuclear Generation - TWh')
# bp_nuclear

In [9]:
bp_hydro = read_bp('Hydro Generation - TWh')
# bp_hydro

In [10]:
bp_renewable = read_bp('Renewable power - TWh')
# bp_renewable

In [11]:
bp_wind_gen = read_bp('Wind Generation - TWh')
# bp_wind_gen

In [12]:
bp_solar_gen = read_bp('Solar Generation - TWh')
# bp_solar_gen

In [13]:
bp_biomass = read_bp('Geo Biomass Other - TWh')
# bp_biomass

In [14]:
bp_electricity_gen = read_bp('Electricity Generation')
# bp_electricity_gen

In [15]:
bp_lithium = read_bp('Lithium Production-Reserves')
# bp_lithium

In [16]:
bp_cobalt = read_bp('Cobalt Production-Reserves')
# bp_cobalt

In [17]:
bp_rare_earth = read_bp('Rare Earth Production-Reserves')
# bp_rare_earth

In [18]:
bp_graphite = read_bp('Graphite Production-Reserves')
# bp_graphite

In [19]:
def read_bp2(sheet):
    missing_values = ['-', '^','♦']
    df = pd.read_excel('bp-stats-review-2022-all-data.xlsx', sheet_name=sheet, header=3, index_col=0, na_values=missing_values)
    omit = []
    for col in df.columns:
        if type(col) != int:
            omit.append(col)
    df = df.drop(columns=omit)
    df = df.dropna(how='all')
    idx = []
    for country in df.index:
        x = country.strip(string.digits)
        idx.append(x)
    df['Country Name'] = idx
    df = df.set_index('Country Name')
    for country in df.index:
        if 'Total' in country or 'Rest of World' in country or 'Other' in country or 'European Union' in country or 'OECD' in country or 'Central America' in country or 'Eastern Africa' in country or 'Middle Africa' in country or 'Western Africa' in country or 'OPEC' in country:
            df = df.drop(country)
    df = map_country_code(df)
    return df

In [20]:
bp_solar = read_bp2('Solar Capacity')
# bp_solar

In [21]:
bp_wind = read_bp2('Wind Capacity')
# bp_wind

In [22]:
def read_bp3(sheet):
    missing_values = ['-', '^','♦']
    df = pd.read_excel('bp-stats-review-2022-all-data.xlsx', sheet_name=sheet, header=2, index_col=0, na_values=missing_values, skipfooter=40)
    omit = []
    for col in df.columns:
        if type(col) != int:
            omit.append(col)
    df = df.drop(columns=omit)
    df = df.dropna(how='all')
    idx = []
    for country in df.index:
        x = country.strip(string.digits)
        idx.append(x)
    df['Country Name'] = idx
    df = df.set_index('Country Name')
    for country in df.index:
        if 'Total' in country or 'Rest of World' in country or 'Other' in country or 'European Union' in country or 'OECD' in country or 'Central America' in country or 'Eastern Africa' in country or 'Middle Africa' in country or 'Western Africa' in country or 'OPEC' in country:
            df = df.drop(country)
    df = map_country_code(df)
    return df

In [23]:
bp_biofuels = read_bp3('Biofuels production - PJ')
# bp_biofuels

In [24]:
conn = sqlite3.connect('historical_tech.db')
bp_coal.to_sql('coal_production', conn, if_exists='replace')

35

In [25]:
pd.read_sql('SELECT * FROM coal_production', conn)

,Country Code,Country Name,1981,1982,1983,1984,1985,1986,1987,1988,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CA,Canada,40.088000,42.907000,44.807000,57.402000,60.853000,57.048000,61.207000,70.643000,...,67.300500,68.418100,68.305100,62.355200,62.351500,60.596100,55.047500,53.165500,45.284900,46.740474
1,MX,Mexico,3.032331,3.751216,4.851129,5.335241,5.525976,6.216795,6.931471,6.345856,...,15.205110,14.633170,14.895550,12.252900,11.408950,12.928590,11.883980,9.755420,7.746920,7.441824
2,US,US,747.316076,760.322383,709.500989,812.765612,801.622980,807.679881,833.486976,862.066121,...,922.115525,893.433394,907.228933,813.690756,660.761129,702.713757,685.983219,640.752957,485.737854,524.408300
3,BR,Brazil,5.689000,6.346000,6.737000,7.519000,7.712000,7.391000,6.884000,7.331000,...,8.174374,9.468086,9.351638,8.049604,7.500464,5.841825,6.432749,5.843574,7.060094,8.239395
4,CO,Colombia,3.990400,4.421600,5.053200,6.637000,8.974000,10.737000,14.594000,15.101000,...,89.812000,86.023000,89.412000,86.470000,91.179000,91.291000,86.327000,85.169000,52.317000,59.600000
5,VE,Venezuela,0.050000,0.050000,0.040000,0.050000,0.040000,0.060000,0.240000,1.070000,...,1.910801,1.229309,0.800640,0.801697,0.749227,0.720049,0.692008,0.393968,0.284740,0.157718
6,BG,Bulgaria,29.240000,32.210000,32.390000,32.360000,30.880000,35.220000,36.820000,34.150000,...,33.430416,28.634828,31.326331,35.912757,31.288951,34.318820,30.565345,28.304123,22.543402,28.509182
7,CZ,Czech Republic,117.720000,118.790000,123.040000,124.930000,122.800000,123.060000,122.150000,119.800000,...,55.185000,49.131000,47.077000,46.531000,45.543000,44.906774,43.765593,41.026758,31.633004,31.497739
8,DE,Germany,492.800000,499.700000,476.500000,501.800000,521.600000,513.218000,502.850000,498.325000,...,196.202000,190.561000,185.795000,184.288000,175.396000,175.122000,168.842000,131.300000,107.400000,126.000000
9,GR,Greece,27.320000,27.400000,30.590000,32.500000,35.890000,38.100000,44.612000,48.323000,...,62.956000,53.924000,50.845000,46.246000,32.638000,37.731348,36.488800,12.723109,6.544424,5.714690
10,HU,Hungary,25.942181,26.078701,25.212983,25.047585,24.042514,23.128697,22.844350,20.874782,...,9.290000,9.558000,9.551000,9.261000,9.216000,7.972000,7.898000,6.847000,6.125000,4.987539
11,PL,Poland,198.640000,226.960000,233.620000,241.970000,249.390000,259.340000,266.210000,266.510000,...,144.093000,142.906000,137.148000,135.814000,131.029000,127.076000,122.427868,112.409160,100.697281,107.640380
12,RO,Romania,39.564000,41.433000,48.759000,47.799000,49.819000,51.432000,55.699000,62.917000,...,33.947000,24.722000,23.567000,25.497000,22.987000,25.759221,23.652908,21.653156,15.032728,17.768985
13,RS,Serbia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,38.172000,40.254000,29.820000,37.788000,38.545527,39.884959,37.675477,38.988520,39.703059,36.447556
14,ES,Spain,35.676000,39.305000,39.953000,39.592000,39.663000,38.323000,34.634000,31.909000,...,6.181000,4.368000,3.899000,3.064000,1.741802,2.977000,2.401000,0.125840,0.095377,0.099000
15,TR,Turkey,21.006000,22.672000,25.245000,29.972000,39.997000,46.417000,46.988000,39.218000,...,71.461000,60.392497,65.249000,58.414000,73.003948,74.098124,83.936203,87.089072,74.711468,85.632887
16,UA,Ukraine,0.000000,0.000000,0.000000,0.000000,170.947000,175.088000,173.143000,172.155151,...,66.151000,64.894000,45.687000,30.408000,32.170000,24.685000,26.794000,26.070000,24.440000,24.922978
17,GB,United Kingdom,127.469000,124.711000,119.254000,51.182000,94.111000,108.099000,104.533000,104.066000,...,16.966667,12.767446,11.647612,8.598018,4.177796,3.041064,2.580876,2.166397,1.673290,1.053820
18,KZ,Kazakhstan,0.000000,0.000000,0.000000,0.000000,130.800000,137.500000,142.100000,143.100000,...,120.527300,119.573700,113.985100,107.318198,103.074000,112.293600,118.483300,115.001200,113.397600,115.693900
19,RU,Russian Federation,0.000000,0.000000,0.000000,0.000000,409.252000,423.948000,424.087000,440.000000,...,358.300000,355.231000,357.396992,372.482353,386.613471,412.540341,441.576471,440.905783,399.664238,433.670588
20,SU,USSR,778.147000,777.977000,774.775000,761.911000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,UZ,Uzbekistan,0.000000,0.000000,0.000000,0.000000,5.300000,6.000000,5.000000,5.500000,...,3.752940,4.090020,4.396820,3.487970,3.867250,4.038630,4.174430,4.047940,4.133051,4.781200
22,ZA,South Africa,130.420000,144.180000,145.610000,162.910000,173.520000,176.720000,176.550000,181.360000,...,258.575800,256.282135,261.398523,252.176473,249.718680,252.343008,250.036629,254.410720,245.818273,234.494792
23,ZW,Zimbabwe,2.870000,2.770000,3.330000,3.110000,3.110000,4.050000,4.830000,5.070000,...,1.593600,3.114200,5.782600,4.336193,2.701719,2.928000,3.347764,2.627011,2.705936,3.239215
24,AU,Australia,128.519000,131.581000,135.072000,141.555000,168.563500,180.326000,190.074000,189.512500,...,448.207696,472.784777,505.270410,503.745489,502.127448,487.226204,501.960227,505.408428,469.957900,478.594204
25,CN,China,621.600000,666.300000,714.500000,789.200000,872.300000,894.000000,928.100000,979.900000,...,3945.128100,3974.322000,3873.919000,3746.541600,3410.604000,3523.561800,3697.735800,3846.332000,3901.577100,4126.000000
26,IN,India,130.100000,134.950000,142.900000,152.530000,157.450000,169.180000,185.360000,196.980000,...,605.616000,608.535000,646.232000,674.153000,689.810000,711.681000,760.407000,753.912000,759.331000,811.256000
27,ID,Indonesia,0.400000,0.590000,0.650000,1.470000,2.000000,2.590000,3.030000,4.490000,...,386.077357,474.371369,458.096707,461.566080,456.197775,461.248184,557.772940,616.159594,563.728255,613.990256
28,JP,Japan,17.690000,17.610000,17.060000,16.650000,16.380000,16.010000,13.050000,11.230000,...,1.321062,1.203630,1.307515,1.170817,1.340424,1.388518,1.040705,0.758348,0.772012,0.674713
29,MN,Mongolia,4.300000,4.921000,4.974000,5.431000,6.523000,7.065000,7.765000,8.606000,...,31.139000,33.340500,24.449300,24.146100,35.096500,49.480300,54.572300,57.128800,43.079000,32.317600
30,NZ,New Zealand,2.196894,2.244384,2.473531,2.526647,2.390010,2.517947,2.220996,2.438071,...,4.922172,4.625463,3.984447,3.390648,2.866622,2.918563,3.230798,3.033983,2.818682,2.867610
31,PK,Pakistan,1.560000,1.770000,1.820000,2.310000,2.190000,2.050000,2.410000,2.700000,...,3.040000,2.986500,3.382500,3.325000,4.099000,4.171000,4.384973,7.052509,8.776518,7.532000
32,KR,South Korea,19.865000,20.116000,19.861000,21.370000,22.543000,24.253000,24.274000,24.295000,...,2.094000,1.815000,1.748000,1.764000,1.726000,1.485000,1.200000,1.084000,1.019000,0.898000
33,TH,Thailand,1.686044,1.963764,1.866083,2.337226,5.146150,5.538084,6.931257,7.295059,...,18.066429,18.110763,17.981721,15.150549,16.978601,16.258637,14.851950,14.077965,13.250574,14.221573
34,VN,Vietnam,6.000000,6.300000,6.300000,5.000000,5.600000,6.100000,6.300000,6.100000,...,42.083000,41.064000,41.086000,41.664000,38.735000,38.409000,42.384000,46.387000,48.377470,47.845157

In [26]:
bp_oil_refining.to_sql('oil_refining', conn, if_exists='replace')
pd.read_sql('SELECT * FROM oil_refining', conn)

,Country Code,Country Name,1965,1966,1967,1968,1969,1970,1971,1972,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CA,Canada,1089.143628,1140.468484,1238.526634,1280.039384,1344.32125,1396.463781,1651.584795,1683.97732,...,2014.852814,1929.441554,1929.441554,1930.789494,1933.707966,1969.559887,1939.198971,2054.145120,2065.133420,1954.000000
1,MX,Mexico,417.000000,417.000000,457.000000,525.000000,525.00000,562.000000,562.000000,594.00000,...,1605.500000,1605.500000,1521.900000,1521.900000,1521.900000,1545.650000,1558.000000,1558.000000,1558.000000,1558.000000
2,US,US,10390.000000,10660.000000,11350.000000,11700.000000,12020.00000,12860.000000,13290.000000,13640.00000,...,17823.000000,17925.000000,17967.000000,18317.000000,18617.000000,18598.000000,18808.000000,18974.000000,18143.000000,17941.000000
3,AR,Argentina,402.325000,414.200000,412.300000,423.700000,434.15000,437.690000,603.920350,602.00000,...,657.000000,657.000000,657.000000,657.000000,657.000000,657.000000,580.000000,580.000000,580.000000,580.000000
4,BR,Brazil,346.655000,351.880000,360.905000,439.280000,476.52000,525.000000,597.000000,756.00000,...,2004.235000,2096.852000,2238.378000,2281.400000,2288.869000,2285.075664,2285.075664,2290.164121,2290.164121,2302.542468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,SG,Singapore,50.000000,79.000000,162.000000,170.000000,180.00000,288.000000,303.000000,490.00000,...,1422.000000,1414.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1461.000000
70,KR,South Korea,33.000000,38.000000,57.000000,114.000000,171.00000,209.000000,257.000000,380.00000,...,2877.550000,2877.550000,3122.650000,3128.350000,3258.500000,3298.400000,3345.900000,3393.400000,3572.000000,3572.000000
71,TW,Taiwan,46.000000,50.000000,50.000000,103.000000,103.00000,103.000000,122.000000,193.00000,...,1197.000000,1197.000000,1197.000000,988.000000,988.000000,1083.000000,1083.000000,1083.000000,1130.500000,1130.500000
72,TH,Thailand,45.000000,45.000000,45.000000,45.000000,63.00000,122.000000,122.000000,153.00000,...,1229.500000,1236.500000,1251.500000,1251.500000,1234.500000,1234.500000,1234.500000,1234.500000,1244.500000,1244.500000
73,VN,Vietnam,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,...,159.000000,159.000000,159.000000,159.000000,163.000000,167.000000,367.000000,367.000000,367.000000,367.000000