In [1]:
import pandas as pd
from pandas import Series, DataFrame
import string
import sqlite3
import country_converter as coco

In [2]:
def map_country_code(df):
    iso2 = []
    for country in df.index:
        if country=='USSR':
            iso2.append('SU')
        elif country=='Netherlands Antilles':
            iso2.append('AN')
        else:
            iso2.append(coco.convert(names=country, to='iso2'))
    df['Country Code'] = iso2
    df.insert(0, 'Country Name', df.index)
    df = df.set_index('Country Code')
    return df

In [3]:
def read_bp(sheet):
    missing_values = ['-', '^','â™¦']
    df = pd.read_excel('bp-stats-review-2022-all-data.xlsx', sheet_name=sheet, header=2, index_col=0, 
                       na_values=missing_values)
    omit = []
    for col in df.columns:
        if type(col) != int:
            omit.append(col)
    df = df.drop(columns=omit)
    df = df.dropna(how='all')
    idx = []
    for country in df.index:
        x = country.strip(string.digits)
        idx.append(x)
    df.insert(0, 'Unit', df.index.name.rstrip('*'))
    df['Country Name'] = idx
    df = df.set_index('Country Name')
    for country in df.index:
        strings = ['Total', 'Rest of World', 'Other', 'European Union', 'OECD', 'Central America', \
                   'Eastern Africa', 'Middle Africa', 'Western Africa', 'OPEC']
        for s in strings:
            if s in country:
                df = df.drop(country)
    df = map_country_code(df)
    return df

In [4]:
bp_oil_production = read_bp('Oil Production - Tonnes')
bp_oil_production

,Country Name,Unit,1965,1966,1967,1968,1969,1970,1971,1972,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Million tonnes,43.874178,48.212154,52.701140,57.119336,62.218043,70.067889,75.163773,86.713147,...,182.912943,195.409623,209.777010,216.074424,218.844941,236.623854,257.745067,263.462162,252.022685,267.096470
MX,Mexico,Million tonnes,18.053894,18.489542,20.463761,21.900666,22.965009,24.179007,24.107319,25.097617,...,143.857278,142.091212,137.343922,127.734295,121.516944,109.584590,102.400224,95.000334,95.111225,96.486319
US,US,Million tonnes,427.694442,454.538861,484.221630,502.880332,511.351724,533.489849,525.887850,527.887889,...,395.245087,448.684134,524.659261,567.122838,542.593149,574.134693,669.055938,749.895128,711.550649,711.124690
AR,Argentina,Million tonnes,13.764759,14.643966,15.962276,17.487586,18.106759,20.000517,21.570862,22.218034,...,30.840747,30.185948,29.786305,30.045688,28.630797,27.240149,27.542351,28.834834,27.657269,29.066317
BR,Brazil,Million tonnes,5.045191,6.159290,7.750860,8.516863,9.289377,8.792737,9.203948,9.028129,...,112.366533,110.152868,122.454669,132.192891,136.707063,142.641816,140.603161,151.199171,159.344927,156.792441
CO,Colombia,Million tonnes,10.654546,10.443867,10.075181,9.257762,11.233911,11.759925,11.675790,10.577425,...,49.862574,53.189490,52.162822,52.963156,46.787709,44.981902,45.584496,46.656255,41.251981,38.878026
EC,Ecuador,Million tonnes,0.428781,0.375184,0.321586,0.268722,0.214391,0.214391,0.214391,4.192070,...,27.098114,28.242780,29.829982,29.108609,29.473041,28.477106,27.722830,28.460511,25.763542,25.344872
PE,Peru,Million tonnes,3.394165,3.394165,3.811905,3.979430,3.864122,3.862692,3.299296,3.450698,...,6.865127,7.314465,7.541427,6.535412,5.848813,5.693446,5.857806,6.105302,5.466467,5.305072
TT,Trinidad & Tobago,Million tonnes,6.671460,7.562912,8.850564,9.485210,7.775441,6.933514,6.388738,7.002171,...,5.182263,5.108392,5.054163,4.824142,4.331345,4.379927,3.900726,3.660321,3.431932,3.489987
VE,Venezuela,Million tonnes,184.113962,178.785909,187.925042,191.762384,190.805531,197.238062,189.876556,173.812348,...,139.324997,137.781445,138.510268,147.618822,132.556389,114.095175,83.843239,52.057038,32.701681,33.408471
DK,Denmark,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.097730,...,9.979991,8.682906,8.130409,7.689812,6.924374,6.736967,5.646862,5.017234,3.520207,3.152110
IT,Italy,Million tonnes,2.278000,1.850000,1.723000,1.627000,1.591000,1.502000,1.353000,1.210000,...,5.396411,5.501556,5.764933,5.470205,3.759517,4.148197,4.684199,4.278568,5.393780,4.840300
NO,Norway,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.292781,1.614706,...,87.045020,82.930070,84.966372,87.636523,90.306715,88.856829,83.318372,79.777811,92.035975,93.796252
RO,Romania,Million tonnes,12.821000,13.075000,13.456000,13.535000,13.546000,13.677000,14.093000,14.428000,...,3.982000,4.131000,4.052000,4.003000,3.802000,3.634000,3.577000,3.567000,3.457000,3.322000
GB,United Kingdom,Million tonnes,0.084000,0.078000,0.089000,0.084000,0.085000,0.156000,0.212000,0.333000,...,44.560820,40.646390,39.927920,45.287730,47.444578,46.630331,50.870390,51.817708,48.985260,40.864806
AZ,Azerbaijan,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,43.738300,43.845000,42.512900,42.019900,41.427600,39.089300,39.198300,37.994400,35.026300,35.138796
KZ,Kazakhstan,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,79.279391,82.308331,81.109114,80.174011,78.589857,86.980128,90.480870,91.043885,85.957182,85.989040
RU,Russian Federation,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,526.735645,532.223585,537.420587,544.552364,558.479079,558.546697,567.884888,573.388845,524.404217,536.445850
TM,Turkmenistan,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.990000,12.470000,12.850000,13.230000,13.180000,13.055000,12.509000,12.213000,10.400909,11.984095
SU,USSR,Million tonnes,242.888000,265.100000,288.100000,309.200000,328.300000,353.039000,377.000000,400.400000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
UZ,Uzbekistan,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.337100,3.167181,2.867052,2.728090,2.615407,2.766624,2.890915,3.010894,2.781504,2.718148
IR,Iran,Million tonnes,95.662088,106.892857,130.507555,142.780220,169.263736,192.586962,228.684626,253.710945,...,180.478795,169.672025,174.046495,180.242937,216.144450,231.945673,219.246085,158.327680,143.249750,167.658092
IQ,Iraq,Million tonnes,64.675439,68.566802,60.488529,74.237247,74.921053,76.300270,83.442645,72.409717,...,151.315151,151.935143,158.809882,195.615876,217.602278,222.381854,227.012450,234.220106,202.037840,200.829370
KW,Kuwait,Million tonnes,119.011362,125.556470,126.392344,133.128194,140.907964,151.798934,162.549492,167.349232,...,153.968094,151.430325,150.225027,148.246973,152.734328,144.968769,146.849035,143.381896,130.340337,131.092786
OM,Oman,Million tonnes,0.000000,0.000000,2.822931,11.968250,16.194708,16.442334,14.560380,14.004342,...,44.999682,46.082194,46.218958,48.030926,49.316164,47.564363,47.824124,47.328160,46.111052,46.824545
QA,Qatar,Million tonnes,11.605327,14.494207,16.137880,16.981209,17.731745,18.080403,21.417557,24.073361,...,79.601885,79.657387,79.379248,75.677625,75.110464,73.571041,74.845033,71.889240,72.043449,73.320237
SA,Saudi Arabia,Million tonnes,111.024176,130.968819,141.287088,154.222747,162.750893,192.171497,240.794712,304.232473,...,549.225546,538.413090,543.823576,568.034177,586.712209,559.319387,576.817653,556.564010,519.582902,515.022998
SY,Syria,Million tonnes,0.000000,0.000000,0.000000,1.048568,2.639154,4.232606,5.278308,5.842019,...,8.078834,2.686481,1.459948,1.197836,1.101254,1.078810,1.051034,1.510591,1.964180,4.598421
AE,United Arab Emirates,Million tonnes,13.666313,17.433992,18.504246,24.115112,30.402945,37.754279,51.309208,58.403635,...,156.245556,162.766750,163.396597,176.062453,182.379589,176.224335,176.686676,180.544180,166.582744,164.380594
YE,Yemen,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.140715,9.034351,6.903391,2.607259,1.610472,2.954849,4.051518,4.075111,3.767377,2.759777
DZ,Algeria,Million tonnes,26.139312,33.642476,38.645242,42.423748,44.435793,48.313494,36.797660,49.726481,...,67.212000,64.784000,68.771000,67.225000,68.417000,66.648000,65.332000,64.330000,57.516000,58.174000
AO,Angola,Million tonnes,0.655000,0.631000,0.537000,0.750000,2.458000,5.065000,5.721000,7.057000,...,85.295857,85.205920,83.277412,88.162659,85.768037,81.604942,74.085432,69.069890,64.220269,56.607404
TD,Chad,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.309353,4.759988,4.663832,5.809218,6.136010,5.168381,6.066114,6.663367,6.648839,6.117519
CG,Republic of Congo,Million tonnes,0.071000,0.062000,0.050000,0.043000,0.024000,0.019000,0.014000,0.336000,...,14.241384,12.323503,12.891468,11.933691,11.887969,13.800196,16.931360,17.226814,15.755473,14.020331
EG,Egypt,Million tonnes,6.478000,6.257000,5.581000,8.577000,12.295000,16.404000,14.952000,10.720000,...,34.726087,34.361053,35.140197,35.431000,33.835000,32.178000,32.844000,31.812000,31.066370,29.601363
GQ,Equatorial Guinea,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,15.163406,13.234749,13.279241,12.104110,10.344194,8.965715,8.122960,7.395200,7.381700,6.432435
GA,Gabon,Million tonnes,1.265000,1.447000,3.445000,4.641000,5.027000,5.423000,5.795000,6.303000,...,11.072526,10.655653,10.530824,10.662394,11.047943,10.488932,9.659118,10.876650,10.385137,9.037620
LY,Libya,Million tonnes,57.981771,71.669271,82.362630,123.858594,147.710938,159.544922,130.684185,106.819651,...,72.567512,49.353757,24.383713,20.455231,19.326163,43.755327,54.943198,57.811575,20.008481,59.649764
NG,Nigeria,Million tonnes,13.506478,20.570040,15.718151,6.979190,26.613968,53.351080,75.423482,89.682348,...,116.362196,109.372195,109.203755,105.655726,91.268206,94.444389,96.317945,101.107828,88.421199,77.928713
SS,South Sudan,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.533199,4.912417,7.652272,7.277228,6.751574,7.250767,7.107698,8.448494,8.126227,7.515699
SD,Sudan,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.092759,5.805194,5.891450,5.372157,4.153085,3.448734,3.654912,3.554830,3.129928,3.156698
TN,Tunisia,Million tonnes,0.000000,0.771000,2.241000,3.191000,3.707000,4.151000,4.109000,3.977000,...,3.409000,3.128000,2.903000,2.627000,2.506000,2.117000,2.048000,1.879000,1.736621,2.120538
AU,Australia,Million tonnes,0.346206,0.445122,1.038618,1.934146,2.225610,8.704607,15.255404,16.280006,...,21.184010,17.610375,18.604636,16.803170,15.352201,13.900812,14.635110,19.084000,19.060328,18.133839
BN,Brunei,Million tonnes,3.964974,4.760614,5.158435,6.070115,6.152985,6.749715,6.401623,9.061941,...,7.787651,6.576117,6.153486,6.177047,5.898135,5.487575,5.412577,5.901085,5.378891,5.204629
CN,China,Million tonnes,11.310000,14.550000,13.880000,15.990000,21.740000,30.650000,39.410000,45.670000,...,207.478000,209.959285,211.429000,214.560000,199.685000,191.506000,189.324000,191.628000,194.769000,198.881000
IN,India,Million tonnes,3.022000,4.647000,5.667000,5.853000,6.723000,6.809000,7.185000,7.373000,...,42.548619,42.470620,41.640472,41.172006,40.222858,40.437704,39.547648,37.486737,35.148944,33.997749
ID,Indonesia,Million tonnes,24.535270,23.929461,25.746888,30.322822,32.410788,43.113416,45.031812,54.722822,...,44.582840,42.364770,40.962071,40.579684,42.648988,40.947280,39.492717,38.158677,36.368553,33.772668
MY,Malaysia,Million tonnes,0.047775,0.047775,0.047775,0.191623,0.429974,0.859948,3.296466,4.455236,...,30.069544,28.714578,29.796682,32.188682,33.303078,32.854624,32.529985,30.561275,28.052435,25.924258
TH,Thailand,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,17.271433,17.094549,16.886906,17.598206,18.127824,17.562978,16.966807,16.927565,15.136256,13.948695
VN,Vietnam,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,16.994200,16.911800,15.853000,17.169000,15.511000,13.850000,12.410000,11.442200,10.023900,9.342980

In [ ]:
# bp_oil_production.insert(1, 'Technology Category', 'Infrastructure')
# bp_oil_production.insert(2, 'Technology Name', 'Oil Production')
# bp_oil_production

In [ ]:
bp_oil_refining = read_bp('Oil - Refining capacity')
bp_oil_refining

In [ ]:
bp_gas = read_bp('Gas Production - Bcm')
bp_gas

In [ ]:
bp_coal = read_bp('Coal Production - Tonnes')
bp_coal

In [ ]:
bp_nuclear = read_bp('Nuclear Generation - TWh')
bp_nuclear

In [ ]:
bp_hydro = read_bp('Hydro Generation - TWh')
bp_hydro

In [ ]:
bp_renewable = read_bp('Renewable power - TWh')
bp_renewable

In [ ]:
bp_wind_gen = read_bp('Wind Generation - TWh')
bp_wind_gen

In [ ]:
bp_solar_gen = read_bp('Solar Generation - TWh')
bp_solar_gen

In [ ]:
bp_biomass = read_bp('Geo Biomass Other - TWh')
bp_biomass

In [ ]:
bp_electricity_gen = read_bp('Electricity Generation')
bp_electricity_gen

In [ ]:
bp_lithium = read_bp('Lithium Production-Reserves')
bp_lithium

In [ ]:
bp_cobalt = read_bp('Cobalt Production-Reserves')
bp_cobalt

In [ ]:
bp_rare_earth = read_bp('Rare Earth Production-Reserves')
bp_rare_earth

In [ ]:
bp_graphite = read_bp('Graphite Production-Reserves')
bp_graphite

In [ ]:
def read_bp2(sheet):
    missing_values = ['-', '^','â™¦']
    df = pd.read_excel('bp-stats-review-2022-all-data.xlsx', sheet_name=sheet, header=3, index_col=0, 
                       na_values=missing_values)
    omit = []
    for col in df.columns:
        if type(col) != int:
            omit.append(col)
    df = df.drop(columns=omit)
    df = df.dropna(how='all')
    idx = []
    for country in df.index:
        x = country.strip(string.digits)
        idx.append(x)
    df['Country Name'] = idx
    df = df.set_index('Country Name')
    for country in df.index:
        strings = ['Total', 'Rest of World', 'Other', 'European Union', 'OECD', 'Central America', \
                   'Eastern Africa', 'Middle Africa', 'Western Africa', 'OPEC']
        for s in strings:
            if s in country:
                df = df.drop(country)
    df = map_country_code(df)
    return df

In [ ]:
bp_solar = read_bp2('Solar Capacity')
bp_solar

In [ ]:
bp_wind = read_bp2('Wind Capacity')
bp_wind

In [ ]:
def read_bp3(sheet):
    missing_values = ['-', '^','â™¦']
    df = pd.read_excel('bp-stats-review-2022-all-data.xlsx', sheet_name=sheet, header=2, index_col=0, 
                       na_values=missing_values, skipfooter=40)
    omit = []
    for col in df.columns:
        if type(col) != int:
            omit.append(col)
    df = df.drop(columns=omit)
    df = df.dropna(how='all')
    idx = []
    for country in df.index:
        x = country.strip(string.digits)
        idx.append(x)
    df['Country Name'] = idx
    df = df.set_index('Country Name')
    for country in df.index:
        strings = ['Total', 'Rest of World', 'Other', 'European Union', 'OECD', 'Central America', \
                   'Eastern Africa', 'Middle Africa', 'Western Africa', 'OPEC']
        for s in strings:
            if s in country:
                df = df.drop(country)
    df = map_country_code(df)
    return df

In [ ]:
bp_biofuels = read_bp3('Biofuels production - PJ')
bp_biofuels

In [ ]:
conn = sqlite3.connect('historical_tech.db')
bp_coal.to_sql('coal_production', conn, if_exists='replace')

In [ ]:
pd.read_sql('SELECT * FROM coal_production', conn)

In [ ]:
bp_oil_refining.to_sql('oil_refining', conn, if_exists='replace')
pd.read_sql('SELECT * FROM oil_refining', conn)