In [1]:
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
# https://www.fao.org/faostat/en/#data/RFN

In [3]:
fao = pd.read_csv('./raw data/FAOSTAT_data_2-20-2023.csv')
fao.drop(0, inplace=True)
fao.drop(columns=['Unnamed: 1'], inplace=True)
fao.dropna(how='all', inplace=True)
iso2 = []
for country in fao['Unnamed: 0']:
    if country=='China, Taiwan Province of':
        iso2.append('TW')
    elif country=='Serbia and Montenegro':
        iso2.append('CS')
    elif country=='USSR':
        iso2.append('SU')
    elif country=='Yugoslav SFR':
        iso2.append('YU')
    elif country=='Belgium-Luxembourg':
        iso2.append('BE-WLX')   
    else:
        iso2.append(coco.convert(names=country, to='iso2'))
fao['Country Code'] = iso2
fao.rename(columns={'Unnamed: 0': 'Country Name', 'Unnamed: 2': 'Technology Name'}, inplace=True)
fao['Unit'] = 'Tonnes'
fao['Data Source'] = 'UN FAO'
fao['Spatial Scale'] = 'National'
fao['Metric'] = 'Annual Production'
fao.replace('Nutrient nitrogen N (total)', 'Nitrogen Fertilizer', inplace=True)
fao.replace('Nutrient phosphate P2O5 (total)', 'Phosphate Fertilizer', inplace=True)
fao.replace('Nutrient potash K2O (total)', 'Potash Fertilizer', inplace=True)
fao['ID'] = fao['Technology Name'] + '_' + fao['Metric'] + '_' + fao['Unit'] + '_' + fao['Country Code']
fao.set_index('ID', inplace=True)
fao

,Country Name,Technology Name,1961,1962,1963,1964,1965,1966,1967,1968,...,2016,2017,2018,2019,2020,Country Code,Unit,Data Source,Spatial Scale,Metric
ID,,,,,,,,,,,,,,,,,,,,,
Nitrogen Fertilizer_Annual Production_Tonnes_AF,Afghanistan,Nitrogen Fertilizer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14416,14416,14416,14416,14416,AF,Tonnes,UN FAO,National,Annual Production
Phosphate Fertilizer_Annual Production_Tonnes_AF,Afghanistan,Phosphate Fertilizer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1541,1541,1541,1541,1541,AF,Tonnes,UN FAO,National,Annual Production
Potash Fertilizer_Annual Production_Tonnes_AF,Afghanistan,Potash Fertilizer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,AF,Tonnes,UN FAO,National,Annual Production
Nitrogen Fertilizer_Annual Production_Tonnes_AL,Albania,Nitrogen Fertilizer,NaN,NaN,NaN,NaN,NaN,NaN,5000,17000,...,0,0,0,0,0,AL,Tonnes,UN FAO,National,Annual Production
Phosphate Fertilizer_Annual Production_Tonnes_AL,Albania,Phosphate Fertilizer,NaN,NaN,NaN,500,2000,3000,5000,14000,...,0,0,0,0,0,AL,Tonnes,UN FAO,National,Annual Production
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Phosphate Fertilizer_Annual Production_Tonnes_ZM,Zambia,Phosphate Fertilizer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,ZM,Tonnes,UN FAO,National,Annual Production
Potash Fertilizer_Annual Production_Tonnes_ZM,Zambia,Potash Fertilizer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,ZM,Tonnes,UN FAO,National,Annual Production
Nitrogen Fertilizer_Annual Production_Tonnes_ZW,Zimbabwe,Nitrogen Fertilizer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11700,12300,13200,13200,13200,ZW,Tonnes,UN FAO,National,Annual Production
Phosphate Fertilizer_Annual Production_Tonnes_ZW,Zimbabwe,Phosphate Fertilizer,11000,11000,15000,15000,20000,20000,25500,24500,...,2100,9500,8100,8100,8100,ZW,Tonnes,UN FAO,National,Annual Production
Potash Fertilizer_Annual Production_Tonnes_ZW,Zimbabwe,Potash Fertilizer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,ZW,Tonnes,UN FAO,National,Annual Production

In [4]:
fao.to_csv('cleaned data/fao.csv')