In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame

In [2]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [3]:
# https://dspace.library.uu.nl/bitstream/handle/1874/32937/NWS-E-2008-112.pdf?sequence=1

In [5]:
cfl = pd.read_excel('raw data/cost data/weiss et al.xlsx', usecols=[0,1,4,6], index_col=0)
cfl['Price in EUR2006/kWh'] = cfl['CFL - Price in EUR2006'] / ((cfl['CFL - Average power in W'] * cfl['CFL - Average life time in h']) / 1000)
cfl.drop(columns=['CFL - Price in EUR2006','CFL - Average life time in h','CFL - Average power in W'], inplace=True)
cfl = cfl.transpose()
cfl['Unit'] = '2006 EUR/kWh'
cfl['Data Source'] = 'Weiss et al.'
cfl['Spatial Scale'] = 'Global'
cfl['Country Code'] = 'World'
cfl['Country Name'] = 'World'
cfl['Metric'] = 'Price'
cfl['Technology Name'] = 'CFLs'
cfl['ID'] = cfl['Technology Name'] + '_' + cfl['Metric'] + '_' + cfl['Country Code']
cfl.set_index('ID', drop=True, inplace=True)
cfl

,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,...,2004,2005,2006,Unit,Data Source,Spatial Scale,Country Code,Country Name,Metric,Technology Name
ID,,,,,,,,,,,,,,,,,,,,,
CFLs_Price_World,0.149603,0.135317,0.155676,0.177218,0.199485,0.217516,0.206991,0.187006,0.194302,0.178571,...,0.052012,0.053721,0.055444,2006 EUR/kWh,Weiss et al.,Global,World,World,Price,CFLs

In [ ]:
# https://ec.europa.eu/eurostat/web/products-datasets/-/tec00118
# convert from 2006 EUR to 2022 USD?