In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [24]:
iiasa_full = pd.read_excel('raw data/IR_09_029_Online_Material_2.xls', sheet_name=2, header=4)
x = set(list(iiasa_full['FCC-REFINERIES (1940-2007)']))
len(x)

# bicycles
# cellphones
# CFLs
# coal power
# electric bicycles
# FCC refineries
# Hydro power
# Jet aircraft
# laundry dryers
# motorcycles
# natural gas power
# nuclear power
# passenger cars
# refrigerators
# stationary steam engines
# steam locomotives
# steamships
# washing machines
# wind power

38

In [3]:
iiasa = pd.read_excel('raw data/IR_09_029_Online_Material_2.xls', sheet_name=2, header=4, usecols='B, D, F, G, M:CB',skipfooter=468)
iiasa

,FCC-REFINERIES (1940-2007),Unnamed: 3,Unnamed: 5,Unnamed: 6,1940,1941,1942,1943,1944,1945,...,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FCC-Refineries,OECD+FSU,Net Total Capacity,MW,359316.592076,386017.750436,413402.359699,441571.587707,470641.330797,500744.358305,...,3.172923e+06,3.166812e+06,3.171466e+06,3.186887e+06,3.195797e+06,3.211167e+06,3.232598e+06,3.239970e+06,3.247115e+06,3.257907e+06
2,FCC-Refineries,not used,Net Total Capacity,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FCC-Refineries,LAm+MidEast+AsiaExChina,Net Total Capacity,MW,93451.156196,99992.164731,107014.798512,114556.880791,122659.427968,131366.938910,...,1.941899e+06,2.030550e+06,2.045409e+06,2.062942e+06,2.097082e+06,2.095892e+06,2.121911e+06,2.121443e+06,2.162809e+06,2.204944e+06
4,FCC-Refineries,China+Afr,Net Total Capacity,MW,1056.801329,1209.138301,1384.229922,1585.666535,1817.649472,2085.104798,...,5.263625e+05,5.910333e+05,5.864292e+05,6.216333e+05,6.158250e+05,6.127792e+05,6.652667e+05,6.947304e+05,7.297793e+05,7.643441e+05
5,FCC-Refineries,Global,Net Total Capacity,MW,451615.977916,482735.320289,515998.992175,551554.752129,589560.540251,630185.179766,...,5.641184e+06,5.788395e+06,5.803304e+06,5.871462e+06,5.908704e+06,5.919838e+06,6.019775e+06,6.056144e+06,6.139704e+06,6.227195e+06
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,FCC-Refineries,OECD+FSU,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,FCC-Refineries,not used,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FCC-Refineries,LAm+MidEast+AsiaExChina,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,FCC-Refineries,China+Afr,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,FCC-Refineries,Global,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,FCC-Refineries,US,Average Capacity of Unit Additions,MW,NaN,NaN,1062.500000,NaN,NaN,NaN,...,NaN,NaN,7.621667e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,FCC-Refineries,not used,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,FCC-Refineries,no data,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,FCC-Refineries,no data,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,FCC-Refineries,no data,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,FCC-Refineries,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,FCC-Refineries,not used,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,FCC-Refineries,no data,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,FCC-Refineries,no data,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,FCC-Refineries,no data,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
iiasa.dropna(how='all', inplace=True)
iiasa

,FCC-REFINERIES (1940-2007),Unnamed: 3,Unnamed: 5,Unnamed: 6,1940,1941,1942,1943,1944,1945,...,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
1,FCC-Refineries,OECD+FSU,Net Total Capacity,MW,359316.592076,386017.750436,413402.359699,441571.587707,470641.330797,500744.358305,...,3.172923e+06,3.166812e+06,3.171466e+06,3.186887e+06,3.195797e+06,3.211167e+06,3.232598e+06,3.239970e+06,3.247115e+06,3.257907e+06
2,FCC-Refineries,not used,Net Total Capacity,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FCC-Refineries,LAm+MidEast+AsiaExChina,Net Total Capacity,MW,93451.156196,99992.164731,107014.798512,114556.880791,122659.427968,131366.938910,...,1.941899e+06,2.030550e+06,2.045409e+06,2.062942e+06,2.097082e+06,2.095892e+06,2.121911e+06,2.121443e+06,2.162809e+06,2.204944e+06
4,FCC-Refineries,China+Afr,Net Total Capacity,MW,1056.801329,1209.138301,1384.229922,1585.666535,1817.649472,2085.104798,...,5.263625e+05,5.910333e+05,5.864292e+05,6.216333e+05,6.158250e+05,6.127792e+05,6.652667e+05,6.947304e+05,7.297793e+05,7.643441e+05
5,FCC-Refineries,Global,Net Total Capacity,MW,451615.977916,482735.320289,515998.992175,551554.752129,589560.540251,630185.179766,...,5.641184e+06,5.788395e+06,5.803304e+06,5.871462e+06,5.908704e+06,5.919838e+06,6.019775e+06,6.056144e+06,6.139704e+06,6.227195e+06
7,FCC-Refineries,OECD+FSU,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,FCC-Refineries,not used,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FCC-Refineries,LAm+MidEast+AsiaExChina,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,FCC-Refineries,China+Afr,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,FCC-Refineries,Global,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,FCC-Refineries,US,Average Capacity of Unit Additions,MW,NaN,NaN,1062.500000,NaN,NaN,NaN,...,NaN,NaN,7.621667e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,FCC-Refineries,not used,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,FCC-Refineries,no data,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,FCC-Refineries,no data,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,FCC-Refineries,no data,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,FCC-Refineries,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,FCC-Refineries,not used,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,FCC-Refineries,no data,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,FCC-Refineries,no data,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,FCC-Refineries,no data,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
iiasa.rename(columns={'FCC-REFINERIES (1940-2007)': 'Technology Name', 'Unnamed: 3': 'Country Name', 'Unnamed: 5': 'Metric', 'Unnamed: 6': 'Unit'}, inplace=True) 
iiasa

,Technology Name,Country Name,Metric,Unit,1940,1941,1942,1943,1944,1945,...,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
1,FCC-Refineries,OECD+FSU,Net Total Capacity,MW,359316.592076,386017.750436,413402.359699,441571.587707,470641.330797,500744.358305,...,3.172923e+06,3.166812e+06,3.171466e+06,3.186887e+06,3.195797e+06,3.211167e+06,3.232598e+06,3.239970e+06,3.247115e+06,3.257907e+06
2,FCC-Refineries,not used,Net Total Capacity,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FCC-Refineries,LAm+MidEast+AsiaExChina,Net Total Capacity,MW,93451.156196,99992.164731,107014.798512,114556.880791,122659.427968,131366.938910,...,1.941899e+06,2.030550e+06,2.045409e+06,2.062942e+06,2.097082e+06,2.095892e+06,2.121911e+06,2.121443e+06,2.162809e+06,2.204944e+06
4,FCC-Refineries,China+Afr,Net Total Capacity,MW,1056.801329,1209.138301,1384.229922,1585.666535,1817.649472,2085.104798,...,5.263625e+05,5.910333e+05,5.864292e+05,6.216333e+05,6.158250e+05,6.127792e+05,6.652667e+05,6.947304e+05,7.297793e+05,7.643441e+05
5,FCC-Refineries,Global,Net Total Capacity,MW,451615.977916,482735.320289,515998.992175,551554.752129,589560.540251,630185.179766,...,5.641184e+06,5.788395e+06,5.803304e+06,5.871462e+06,5.908704e+06,5.919838e+06,6.019775e+06,6.056144e+06,6.139704e+06,6.227195e+06
7,FCC-Refineries,OECD+FSU,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,FCC-Refineries,not used,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FCC-Refineries,LAm+MidEast+AsiaExChina,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,FCC-Refineries,China+Afr,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,FCC-Refineries,Global,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,FCC-Refineries,US,Average Capacity of Unit Additions,MW,NaN,NaN,1062.500000,NaN,NaN,NaN,...,NaN,NaN,7.621667e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,FCC-Refineries,not used,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,FCC-Refineries,no data,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,FCC-Refineries,no data,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,FCC-Refineries,no data,Average Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,FCC-Refineries,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,FCC-Refineries,not used,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,FCC-Refineries,no data,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,FCC-Refineries,no data,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,FCC-Refineries,no data,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
iiasa = iiasa[(iiasa['Country Name']=='US') | (iiasa['Country Name']=='Global')]
iiasa

,Technology Name,Country Name,Metric,Unit,1940,1941,1942,1943,1944,1945,...,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
5,FCC-Refineries,Global,Net Total Capacity,MW,451615.977916,482735.320289,515998.992175,551554.752129,589560.540251,630185.179766,...,5.641184e+06,5.788395e+06,5.803304e+06,5.871462e+06,5.908704e+06,5.919838e+06,6.019775e+06,6.056144e+06,6.139704e+06,6.227195e+06
11,FCC-Refineries,Global,Net Total No. of Units,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,FCC-Refineries,US,Average Capacity of Unit Additions,MW,NaN,NaN,1062.500000,NaN,NaN,NaN,...,NaN,NaN,7.621667e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,FCC-Refineries,US,Maximum Capacity of Unit Additions,MW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
iiasa = iiasa[(iiasa['Metric']=='Net Total Capacity') | (iiasa['Metric']==' Average Capacity of Unit Additions')]
iiasa

,Technology Name,Country Name,Metric,Unit,1940,1941,1942,1943,1944,1945,...,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
5,FCC-Refineries,Global,Net Total Capacity,MW,451615.977916,482735.320289,515998.992175,551554.752129,589560.540251,630185.179766,...,5.641184e+06,5.788395e+06,5.803304e+06,5.871462e+06,5.908704e+06,5.919838e+06,6.019775e+06,6.056144e+06,6.139704e+06,6.227195e+06
13,FCC-Refineries,US,Average Capacity of Unit Additions,MW,NaN,NaN,1062.500000,NaN,NaN,NaN,...,NaN,NaN,7.621667e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
iiasa['Data Source'] = 'IIASA'
iiasa

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_11663/707580711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Data Source'] = 'IIASA'

,Technology Name,Country Name,Metric,Unit,1940,1941,1942,1943,1944,1945,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,Data Source
5,FCC-Refineries,Global,Net Total Capacity,MW,451615.977916,482735.320289,515998.992175,551554.752129,589560.540251,630185.179766,...,5.788395e+06,5.803304e+06,5.871462e+06,5.908704e+06,5.919838e+06,6.019775e+06,6.056144e+06,6.139704e+06,6.227195e+06,IIASA
13,FCC-Refineries,US,Average Capacity of Unit Additions,MW,NaN,NaN,1062.500000,NaN,NaN,NaN,...,NaN,7.621667e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IIASA

In [17]:
iiasa['Country Code'] = ['World', 'US']
iiasa

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_11663/2900029854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Country Code'] = ['World', 'US']

,Technology Name,Country Name,Metric,Unit,1940,1941,1942,1943,1944,1945,...,2000,2001,2002,2003,2004,2005,2006,2007,Data Source,Country Code
5,FCC-Refineries,Global,Net Total Capacity,MW,451615.977916,482735.320289,515998.992175,551554.752129,589560.540251,630185.179766,...,5.803304e+06,5.871462e+06,5.908704e+06,5.919838e+06,6.019775e+06,6.056144e+06,6.139704e+06,6.227195e+06,IIASA,World
13,FCC-Refineries,US,Average Capacity of Unit Additions,MW,NaN,NaN,1062.500000,NaN,NaN,NaN,...,7.621667e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IIASA,US

In [18]:
iiasa['Spatial Scale'] = ['Global', 'National']
iiasa

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_11663/2533583646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['Spatial Scale'] = ['Global', 'National']

,Technology Name,Country Name,Metric,Unit,1940,1941,1942,1943,1944,1945,...,2001,2002,2003,2004,2005,2006,2007,Data Source,Country Code,Spatial Scale
5,FCC-Refineries,Global,Net Total Capacity,MW,451615.977916,482735.320289,515998.992175,551554.752129,589560.540251,630185.179766,...,5.871462e+06,5.908704e+06,5.919838e+06,6.019775e+06,6.056144e+06,6.139704e+06,6.227195e+06,IIASA,World,Global
13,FCC-Refineries,US,Average Capacity of Unit Additions,MW,NaN,NaN,1062.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IIASA,US,National

In [19]:
iiasa['ID'] = iiasa['Technology Name'] + '_' + iiasa['Metric'] + '_' + iiasa['Country Code']
iiasa

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_11663/1315476688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iiasa['ID'] = iiasa['Technology Name'] + '_' + iiasa['Metric'] + '_' + iiasa['Country Code']

,Technology Name,Country Name,Metric,Unit,1940,1941,1942,1943,1944,1945,...,2002,2003,2004,2005,2006,2007,Data Source,Country Code,Spatial Scale,ID
5,FCC-Refineries,Global,Net Total Capacity,MW,451615.977916,482735.320289,515998.992175,551554.752129,589560.540251,630185.179766,...,5.908704e+06,5.919838e+06,6.019775e+06,6.056144e+06,6.139704e+06,6.227195e+06,IIASA,World,Global,FCC-Refineries_Net Total Capacity_World
13,FCC-Refineries,US,Average Capacity of Unit Additions,MW,NaN,NaN,1062.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,IIASA,US,National,FCC-Refineries_ Average Capacity of Unit Addit...