In [1]:
import pandas as pd
from pandas import Series, DataFrame
import string
import country_converter as coco
import os

In [2]:
# https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html
# Statistical Review of World Energy - all data, 1965-2021
# https://www.bp.com/content/dam/bp/business-sites/en/global/corporate/xlsx/energy-economics/statistical-review/bp-stats-review-2022-all-data.xlsx

In [3]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [4]:
# crude oil
# unclear if numbers are real or nominal
crude_oil = pd.read_excel('raw data/bp-stats-review-2022-all-data.xlsx', 
                          sheet_name='Oil crude prices since 1861', header=3, usecols=[0,1], skipfooter=5,
                         index_col=0)
crude_oil = crude_oil.transpose()
crude_oil['Unit'] = '2021 USD per barrel'
crude_oil['Metric'] = 'Price'
crude_oil['Spatial Scale'] = 'Global'
crude_oil['Technology Name'] = 'Crude Oil'
crude_oil['Data Source'] = 'BP'
crude_oil['Country Name'] = 'World'
crude_oil['Country Code'] = 'World'
crude_oil['ID'] = crude_oil['Technology Name'] + '_' + crude_oil['Metric'] + '_' + crude_oil['Country Code']
crude_oil.set_index('ID', inplace=True)
crude_oil.columns.name = None
crude_oil.to_csv('cleaned data/crude_oil_price.csv')

In [27]:
# unclear if numbers are real or nominal
# lng
lng = pd.read_excel('raw data/bp-stats-review-2022-all-data.xlsx', sheet_name='Gas Prices ', usecols=[0,1],
                   header=4, index_col=0, skipfooter=8)
lng = lng.transpose()
lng['Technology Name'] = 'Liquefied Natural Gas'
lng['Data Source'] = 'BP'
lng['Metric'] = 'Price'
lng['Unit'] = 'US dollars per million Btu'
lng['Country Name'] = 'Japan'
lng['Country Code'] = coco.convert(names='Japan', to='iso2')
lng['Spatial Scale'] = 'National'
lng['ID'] = lng['Technology Name'] + '_' + lng['Metric'] + '_' + lng['Country Code']
lng.set_index('ID', inplace=True)
lng.to_csv('cleaned data/lng_price.csv')

In [44]:
nat_gas = pd.read_excel('raw data/bp-stats-review-2022-all-data.xlsx', sheet_name='Gas Prices ', header=3,
                        index_col=0, usecols=[0,3,6,7], skiprows=[4], na_values='-',skipfooter=8)
nat_gas = nat_gas.transpose()
nat_gas['Technology Name'] = 'Natural Gas'
nat_gas['Data Source'] = 'BP'
nat_gas['Metric'] = 'Price'
nat_gas['Unit'] = 'US dollars per million Btu'
nat_gas

,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,...,2016,2017,2018,2019,2020,2021,Technology Name,Data Source,Metric,Unit
Average German,3.995635,4.253587,3.928619,2.547503,2.220359,2.000514,2.775893,3.233289,2.698698,2.511376,...,4.931313,5.624670,6.640000,5.029917,4.062832,8.936670,Natural Gas,BP,Price,US dollars per million Btu
US,NaN,NaN,NaN,NaN,NaN,1.696667,1.638333,1.486667,1.771667,2.120833,...,2.461839,2.960584,3.116446,2.511900,1.988582,3.839473,Natural Gas,BP,Price,US dollars per million Btu
Canada,NaN,NaN,NaN,NaN,NaN,NaN,1.050000,0.888333,0.979167,1.692500,...,1.550455,1.579683,1.182402,1.267677,1.581569,2.753414,Natural Gas,BP,Price,US dollars per million Btu