In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
# https://ourworldindata.org/grapher/technology-adoption-by-households-in-the-united-states

In [3]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [5]:
pd.read_csv('raw data/technology-adoption-by-households-in-the-united-states.csv')

,Entity,Code,Year,Technology Diffusion (Comin and Hobijn (2004) and others)
0,Amazon Prime users,NaN,2014,11.13
1,Amazon Prime users,NaN,2015,17.09
2,Amazon Prime users,NaN,2016,24.58
3,Amazon Prime users,NaN,2017,32.51
4,Amazon Prime users,NaN,2018,36.58
...,...,...,...,...
1390,Water Heater,NaN,1960,20.00
1391,Water Heater,NaN,1970,23.00
1392,Water Heater,NaN,1982,29.00
1393,Water Heater,NaN,1983,31.00
1394,Water Heater,NaN,1986,35.00