In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
os.chdir('/Users/ariana/desktop/historical_tech')

In [3]:
# https://www.ers.usda.gov/data-products/adoption-of-genetically-engineered-crops-in-the-u-s/recent-trends-in-ge-adoption/

In [4]:
usda_ers = pd.read_excel('raw data/usda.xlsx')
usda_ers.dropna(inplace=True)
usda_ers

    Adoption of genetically engineered crops in the United States, 1996–2022
1                             Percent of planted acres
3     Line chart with 27 groups and 5 lines per group.
5                                       Group 1, 1996.
6                                   Line 1, HT Corn 3.
7                                 Line 2, Bt Corn 1.4.
..                                                 ...
164                              Line 3, Bt Cotton 89.
165                              Line 4, HT Cotton 92.
166                            Line 5, HT Soybeans 95.
168  Note: HT indicates herbicide-tolerant varietie...
170  Source: USDA, Economic Research Service using ...

[166 rows x 1 columns]

In [5]:
# https://quickstats.nass.usda.gov/
    # Commodity: CORN, COTTON, SOYBEANS
    # Category: AREA PLANTED
    # Data Item: CORN - ACRES PLANTED, COTTON - ACRES PLANTED, SOYBEANS - ACRES PLANTED
    # Select Location: NATIONAL
    # Select Time: 
        # Year: 2023-1995
        # Period Type: Annual
        # Period: Year

In [6]:
nass = []

In [7]:
nass_soy = pd.read_csv('raw data/D56D3FF7-028A-31E2-AA66-8A643B839228.csv', index_col=0, usecols = [1,19])
nass_soy = nass_soy.transpose()
nass_soy['name'] = ['soy - acres planted']
nass_soy.set_index('name', inplace=True)
nass_soy.columns.name = None
nass.append(nass_soy)

In [8]:
nass_cotton = pd.read_csv('raw data/643C4086-125C-35AD-8D28-6853C6C42336.csv', index_col=0, usecols = [1,19])
nass_cotton = nass_cotton.transpose()
nass_cotton['name'] = ['cotton - acres planted']
nass_cotton.set_index('name', inplace=True)
nass_cotton.columns.name = None
nass.append(nass_cotton)

In [9]:
nass_corn = pd.read_csv('raw data/282111C5-F351-3D30-9010-438366BFD7CF.csv', index_col=0, usecols = [1,19])
nass_corn = nass_corn.transpose()
nass_corn['name'] = ['corn - acres planted']
nass_corn.set_index('name', inplace=True)
nass_corn.columns.name = None
nass.append(nass_corn)

In [10]:
pd.concat(nass)

,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,...,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996
name,,,,,,,,,,,,,,,,,,,,,
soy - acres planted,"87,450,000","87,195,000","83,354,000","76,100,000","89,167,000","90,162,000","83,453,000","82,660,000","83,296,000","76,820,000",...,"72,032,000","75,208,000","73,404,000","73,963,000","74,075,000","74,266,000","73,730,000","72,025,000","70,005,000","64,195,000"
cotton - acres planted,"13,761,000","11,215,500","12,092,000","13,735,700","14,100,300","12,717,500","10,073,500","8,580,500","11,148,400","10,407,000",...,"14,245,400","13,658,600","13,479,600","13,957,900","15,768,500","15,517,200","14,873,500","13,392,500","13,898,000","14,652,500"
corn - acres planted,"88,579,000","93,252,000","90,652,000","89,745,000","88,871,000","90,167,000","94,004,000","88,019,000","90,597,000","95,365,000",...,"81,779,000","80,929,000","78,603,000","78,894,000","75,702,000","79,551,000","77,386,000","80,165,000","79,537,000","79,229,000"