In [1]:
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco
import os

In [4]:
def read_pcdb(file_name, tech_name, place='World'):
    df = pd.read_csv(file_name, usecols=[0, 1, 2])
    df.set_index(df.columns[1], inplace=True)
    df = df.transpose()
    df['Data Source'] = 'Santa Fe Institute'
    df['Metric'] = ['Price', 'Annual production']
    df['Technology Name'] = tech_name
    if place=='World':
        df['Spatial Scale'] = 'Global'
        df['Country Name'] = 'World'
        df['Country Code'] = 'World'
    if place=='US':
        df['Spatial Scale'] = 'National'
        df['Country Name'] = 'United States'
        df['Country Code'] = 'US'
    if place=='Japan':
        df['Spatial Scale'] = 'National'
        df['Country Name'] = 'Japan'
        df['Country Code'] = 'JP'
    df['ID'] = df['Technology Name'] + '_' + df['Metric'] + '_' + df['Country Code']
    df['Unit'] = [df.index[0], df.index[1]]
    df.set_index('ID', drop=True, inplace=True)
    df.columns.name = None
    new_file_name = 'processing/' + file_name
    df.to_csv(new_file_name)
    return df

In [56]:
os.chdir('/Users/ariana/desktop/historical_tech/raw data/PCDB')

In [6]:
# https://pcdb.santafe.edu/graph.php?curve=119
acrylic_fiber = read_pcdb('AcrylicFiber.csv', 'Acrylic Fiber')

In [7]:
# https://pcdb.santafe.edu/graph.php?curve=113
acrylonitrile = read_pcdb('Acrylonitrile.csv', 'Acrylonitrile')

In [8]:
# https://pcdb.santafe.edu/graph.php?curve=108
aniline = read_pcdb('Aniline.csv', 'Aniline')

In [9]:
# https://pcdb.santafe.edu/graph.php?curve=153
beer_japan = read_pcdb('Beer_(Japan).csv', 'Beer', 'Japan')

In [10]:
# https://pcdb.santafe.edu/graph.php?curve=100
benzene = read_pcdb('Benzene.csv', 'Benzene')

In [11]:
# https://pcdb.santafe.edu/graph.php?curve=111
bisphenol_a = read_pcdb('BisphenolA.csv', 'Bisphenol A')

In [12]:
# https://pcdb.santafe.edu/graph.php?curve=112
caprolactam = read_pcdb('Caprolactam.csv', 'Caprolactam')

In [13]:
# https://pcdb.santafe.edu/graph.php?curve=97
crude_oil = read_pcdb('Crude_Oil.csv', 'Crude Oil')

In [14]:
# https://pcdb.santafe.edu/graph.php?curve=116
cyclohexane = read_pcdb('Cyclohexane.csv', 'Cyclohexane')

In [15]:
# https://pcdb.santafe.edu/graph.php?curve=118
ethanolamine = read_pcdb('Ethanolamine.csv', 'Ethanolamine')

In [16]:
# https://pcdb.santafe.edu/graph.php?curve=120
ethyl_alcohol = read_pcdb('EthylAlcohol.csv', 'Ethyl Alcohol')

In [17]:
# https://pcdb.santafe.edu/graph.php?curve=99
ethylene = read_pcdb('Ethylene.csv', 'Ethylene')

In [18]:
# https://pcdb.santafe.edu/graph.php?curve=122
# EthyleneGlycol
ethylene_glycol = read_pcdb('EthyleneGlycol.csv', 'Ethylene Glycol')

In [19]:
# https://pcdb.santafe.edu/graph.php?curve=121
# unclear to me how this is different from Ethylene
ethylene_2 = read_pcdb('Ethylene_2.csv', 'Ethylene 2')

In [20]:
# https://pcdb.santafe.edu/graph.php?curve=123
formaldehyde = read_pcdb('Formaldehyde.csv', 'Formaldehyde')

In [21]:
# https://pcdb.santafe.edu/graph.php?curve=124
hydrofluoric_acid = read_pcdb('HydrofluoricAcid.csv', 'Hydrofluoric Acid')

In [22]:
# https://pcdb.santafe.edu/graph.php?curve=102
# unclear to me how this is different from Polyethylene LD
low_density_polyethylene = read_pcdb('Low_Density_Polyethylene.csv', 'Low-Density Polyethylene')

In [23]:
# https://pcdb.santafe.edu/graph.php?curve=126
magnesium = read_pcdb('Magnesium.csv', 'Magnesium')

In [24]:
# https://pcdb.santafe.edu/graph.php?curve=127
maleic_anhydride = read_pcdb('MaleicAnhydride.csv', 'Maleic Anhydride')

In [25]:
# https://pcdb.santafe.edu/graph.php?curve=128
methanol = read_pcdb('Methanol.csv', 'Methanol')

In [26]:
# https://pcdb.santafe.edu/graph.php?curve=26
milk_us = read_pcdb('Milk_(US).csv', 'Milk', 'US')

In [27]:
# https://pcdb.santafe.edu/graph.php?curve=98
motor_gasoline = read_pcdb('Motor_Gasoline.csv', 'Motor Gasoline')

In [28]:
# https://pcdb.santafe.edu/graph.php?curve=129
neoprene_rubber = read_pcdb('NeopreneRubber.csv', 'Neoprene Rubber')

In [29]:
# https://pcdb.santafe.edu/graph.php?curve=101
paraxylene = read_pcdb('Paraxylene.csv', 'Paraxylene')

In [30]:
# https://pcdb.santafe.edu/graph.php?curve=130
pentaerythritol = read_pcdb('Pentaerythritol.csv', 'Pentaerythritol')

In [31]:
# https://pcdb.santafe.edu/graph.php?curve=131
phenol = read_pcdb('Phenol.csv', 'Phenol')

In [32]:
# https://pcdb.santafe.edu/graph.php?curve=132
phthalic_anhydride = read_pcdb('PhthalicAnhydride.csv', 'Phthalic Anhydride')

In [33]:
# https://pcdb.santafe.edu/graph.php?curve=133
polyester_fiber = read_pcdb('PolyesterFiber.csv', 'PolyesterFiber')

In [34]:
# https://pcdb.santafe.edu/graph.php?curve=134
polyethylene_hd = read_pcdb('PolyethyleneHD.csv', 'Polyethylene HD')

In [35]:
# https://pcdb.santafe.edu/graph.php?curve=135
polyethylene_ld = read_pcdb('PolyethyleneLD.csv', 'Polyethylene LD')

In [36]:
# https://pcdb.santafe.edu/graph.php?curve=147
polystyrene = read_pcdb('Polystyrene.csv', 'Polystyrene')

In [37]:
# https://pcdb.santafe.edu/graph.php?curve=148
polyvinylchloride = read_pcdb('Polyvinylchloride.csv', 'Polyvinylchloride')

In [38]:
# https://pcdb.santafe.edu/graph.php?curve=149
# Primary_Aluminum
primary_aluminum = read_pcdb('Primary_Aluminum.csv', 'Primary Alumninum')

In [39]:
# https://pcdb.santafe.edu/graph.php?curve=150
primary_magnesium = read_pcdb('Primary_Magnesium.csv', 'Primary Magnesium')

In [40]:
# https://pcdb.santafe.edu/graph.php?curve=155
refined_cane_sugar = read_pcdb('Refined_Cane_Sugar.csv', 'Refined Cane Sugar')

In [60]:
# https://pcdb.santafe.edu/graph.php?curve=34
# Shotgun_Sanger_DNA_Sequencing

# weird convention for years with decimals 
# seems like they're trying to indicate months, but that will be tricky in terms of aggregation

# dna_sequencing = pd.read_csv('Shotgun_Sanger_DNA_Sequencing.csv', usecols=[0, 1, 2])
# dna_sequencing

    Cost (USD/Kilobase)  Time (Year)  Yearly Production (Kilobase)
0              5.292393  2001.666667                      32400720
1              3.898635  2002.250000                      32222340
2              3.413801  2002.666667                      37467912
3              2.986205  2003.250000                      46090308
4              2.230975  2003.833333                      65732532
5              1.598910  2004.083333                      71449008
6              1.135699  2004.333333                      84979188
7              1.107464  2004.583333                      88930524
8              1.028851  2004.833333                     101584260
9              0.974165  2005.083333                      99596388
10             0.897761  2005.333333                     103290492
11             0.898901  2005.583333                     119139504
12             0.766729  2005.833333                     123323652
13             0.699203  2006.083333                     119857428
14             0.651807  2006.333333                     132078792
15             0.636406  2006.583333                     131464896
16             0.581920  2006.833333                     134985216
17             0.522708  2007.083330                     130853244
18             0.502611  2007.333333                     120539256
19             0.495963  2007.583333                     119707500
20             0.397087  2007.833333                     121453140
21             0.394788  2008.083333                     109717128
22             0.512484  2008.333333                      70207104
23             0.626325  2008.583333                      35793456
24             0.847931  2008.833333                      32444760
25             1.019260  2009.083333                      17432604

In [ ]:
df.set_index(df.columns[1], inplace=True)
df = df.transpose()
df['Data Source'] = 'Santa Fe Institute'
df['Metric'] = ['Price', 'Annual production']
df['Technology Name'] = tech_name
df['Spatial Scale'] = 'Global'
df['Country Name'] = 'World'
df['Country Code'] = 'World'
df['ID'] = df['Technology Name'] + '_' + df['Metric'] + '_' + df['Country Code']
df['Unit'] = [df.index[0], df.index[1]]
df.set_index('ID', drop=True, inplace=True)
df.columns.name = None
new_file_name = 'processing/' + file_name
df.to_csv(new_file_name)

In [42]:
# https://pcdb.santafe.edu/graph.php?curve=136
sodium = read_pcdb('Sodium.csv', 'Sodium')

In [43]:
# https://pcdb.santafe.edu/graph.php?curve=137
sodium_chlorate = read_pcdb('SodiumChlorate.csv', 'Sodium Chlorate')

In [44]:
# https://pcdb.santafe.edu/graph.php?curve=140
styrene = read_pcdb('Styrene.csv', 'Styrene')

In [45]:
# https://pcdb.santafe.edu/graph.php?curve=151
titanium_sponge = read_pcdb('Titanium_Sponge.csv', 'Titanium Sponge')

In [46]:
# https://pcdb.santafe.edu/graph.php?curve=143
urea = read_pcdb('Urea.csv', 'Urea')

In [47]:
# https://pcdb.santafe.edu/graph.php?curve=144
vinyl_acetate = read_pcdb('VinylAcetate.csv', 'Vinyl Acetate')

In [48]:
# https://pcdb.santafe.edu/graph.php?curve=145
vinyl_chloride = read_pcdb('VinylChloride.csv', 'Vinyl Chloride')

In [49]:
os.chdir('/Users/ariana/desktop/historical_tech/cleaned data')
frame = pd.read_csv('frame.csv')
df_list = [frame]

In [50]:
path = '/Users/ariana/desktop/historical_tech/raw data/PCDB/processing'
os.chdir(path)
for file in os.listdir(path):
    file = pd.read_csv(file)
    df_list.append(file)

In [51]:
pcdb_all = pd.concat(df_list)
pcdb_all

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Caprolactam_Price_World,Global,World,World,Caprolactam,Price,Price (1966 USD/lbs),Santa Fe Institute,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Caprolactam_Annual production_World,Global,World,World,Caprolactam,Annual production,Yearly Production (Mil. lbs),Santa Fe Institute,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Crude Oil_Price_World,Global,World,World,Crude Oil,Price,Price (1958 USD),Santa Fe Institute,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Crude Oil_Annual production_World,Global,World,World,Crude Oil,Annual production,Yearly Production (Billion Barrels),Santa Fe Institute,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Titanium Sponge_Price_World,Global,World,World,Titanium Sponge,Price,Price (1958 USD/lbs),Santa Fe Institute,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,Polystyrene_Annual production_World,Global,World,World,Polystyrene,Annual production,Yearly Production (Million Pounds),Santa Fe Institute,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Phenol_Price_World,Global,World,World,Phenol,Price,Price (1966 USD/lbs),Santa Fe Institute,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Phenol_Annual production_World,Global,World,World,Phenol,Annual production,Yearly Production (Mil. lbs),Santa Fe Institute,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Beer_Price_JP,National,JP,Japan,Beer,Price,Retail Price Minus Indirect Tax (USD 1955),Santa Fe Institute,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Beer_Annual production_JP,National,JP,Japan,Beer,Annual production,Yearly Production (Million Tons),Santa Fe Institute,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
os.chdir('/Users/ariana/desktop/historical_tech/cleaned data')

In [53]:
pcdb_all.to_csv('pcdb.csv', index=False)