In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
#import string
import country_converter as coco

In [16]:
os.chdir('/Users/ariana/desktop/historical_tech/raw data/cost data/unisd')
for file in os.listdir():
    if '.csv' in file:
        print(file)

Beer.csv
Nitrogenous fertilizers.csv

In [3]:
# http://data.un.org/Default.aspx

In [42]:
# Nitrogenous fertilizers, mineral or chemical
# http://data.un.org/Data.aspx?q=Nitrogenous+fertilizers%2c+mineral+or+chemical&d=ICS&f=cmID%3a34613-0

def read_unisd(file):
    # load data and omit footnotes
    df = pd.read_csv(file)
    end_idx = None
    for idx in range(len(df)):
        val = df.iloc[idx]['Unit']
        if val == 'Footnote':
            end_idx = idx
            break
    df = df[:end_idx]

    # drop footnote columns (alternating columns with data in '2000' and notes in '2000 Footnotes')
    drop_cols = []
    for col in df.columns:
        if 'Footnotes' in col:
            drop_cols.append(col)
    df.drop(columns=drop_cols, inplace=True)

    # drop rows where country doesn't have both mil. USD and thousand metric tons data
    all_countries = list(set(df['Country or Area']))
    countries_lt2_units = []
    for country in all_countries:
        country_units = list(set(df[df['Country or Area']==country]['Unit']))
        if len(country_units) != 2:
            countries_lt2_units.append(country)
    idx_lt2_units = []
    for idx in range(len(df)):
        val = df.iloc[idx]['Country or Area']
        if val in countries_lt2_units:
            idx_lt2_units.append(idx)
    df.drop(index=idx_lt2_units, inplace=True)
    
    # pull units before omitting col (need rows of just float in order to divide entire rows)
    unit = df['Unit'].iloc[0] + '/' + df['Unit'].iloc[1]

    # calculate USD per metric ton and omit extra rows
    df['country x unit'] = df['Country or Area'] + ' | ' + df['Unit']
    df.drop(columns=['Country or Area', 'Unit'], inplace=True)
    df.set_index('country x unit', drop=True, inplace=True)
    drop_rows = []
    i = 0 
    while i < len(df):
        new_row = df.iloc[i] / df.iloc[i + 1]
        df.iloc[i] = new_row
        drop_rows.append(df.iloc[i + 1].name)
        i += 2
    df.drop(index=drop_rows, inplace=True)

    # input summary data
    df['Unit'] = unit
    df['Data Source'] = 'UN Industrial Statistics Database'
    df['Metric'] = 'Price'
    df['Spatial Scale'] = 'National'
    df['Technology Name'] = file[:-4]
    country_list = []
    iso_list = []
    for idx in df.index:
        cutoff = idx.index(' |')
        name = idx[:cutoff]
        code = coco.convert(names=name, to='iso2')
        country_list.append(name)
        iso_list.append(code)
    df['Country Name'] = country_list
    df['Country Code'] = iso_list
    df['ID'] = df['Technology Name'] + '_' + df['Metric'] + '_' + df['Country Code']
    df.set_index('ID', drop=True, inplace=True)
    return df

In [43]:
nitrogen_fertilizer = read_unisd('Nitrogenous fertilizers.csv')
nitrogen_fertilizer

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2014,2015,2016,Unit,Data Source,Metric,Spatial Scale,Technology Name,Country Name,Country Code
ID,,,,,,,,,,,,,,,,,,,,,
Nitrogenous fertilizers_Price_BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.292405,NaN,0.236264,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Bosnia and Herzegovina,BA
Nitrogenous fertilizers_Price_BR,NaN,NaN,NaN,NaN,NaN,0.112890,0.117250,0.108455,0.176815,0.256571,...,0.369347,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Brazil,BR
Nitrogenous fertilizers_Price_BG,NaN,NaN,NaN,0.272025,0.241441,0.263643,NaN,NaN,NaN,NaN,...,0.929174,0.733557,0.602233,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Bulgaria,BG
Nitrogenous fertilizers_Price_CL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.510975,0.521382,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Chile,CL
Nitrogenous fertilizers_Price_HR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.613517,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Croatia,HR
Nitrogenous fertilizers_Price_CZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.853834,0.690750,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Czechia,CZ
Nitrogenous fertilizers_Price_DK,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,NaN,NaN,0.987692,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Denmark,DK
Nitrogenous fertilizers_Price_EC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.264621,...,0.623571,0.438129,0.388780,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Ecuador,EC
Nitrogenous fertilizers_Price_EG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.239583,0.238958,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Egypt,EG
Nitrogenous fertilizers_Price_EE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.361301,...,NaN,0.000000,0.222163,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Estonia,EE
Nitrogenous fertilizers_Price_FI,NaN,NaN,0.043988,0.017911,0.015890,0.024456,0.022371,0.032453,NaN,NaN,...,NaN,NaN,0.139607,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Finland,FI
Nitrogenous fertilizers_Price_DE,0.446379,0.453464,0.374676,0.290283,0.224133,0.269417,0.360847,0.354845,0.440541,0.514269,...,1.000415,0.877307,0.670741,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Germany,DE
Nitrogenous fertilizers_Price_GR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.664723,0.278141,0.504776,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Greece,GR
Nitrogenous fertilizers_Price_HU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.129657,0.157405,0.182369,...,0.293421,NaN,0.174225,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Hungary,HU
Nitrogenous fertilizers_Price_IS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Iceland,IS
Nitrogenous fertilizers_Price_IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,India,IN
Nitrogenous fertilizers_Price_IR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Iran (Islamic Republic of),IR
Nitrogenous fertilizers_Price_IQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.043703,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Iraq,IQ
Nitrogenous fertilizers_Price_IE,0.310353,0.305748,0.270013,0.209752,0.352944,0.195468,0.230349,0.153717,0.289291,0.315524,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Ireland,IE
Nitrogenous fertilizers_Price_LT,NaN,NaN,0.105543,0.083277,0.065172,0.088812,0.090181,0.244767,0.332838,0.441168,...,0.850566,0.722585,0.514714,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Lithuania,LT
Nitrogenous fertilizers_Price_LU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Luxembourg,LU
Nitrogenous fertilizers_Price_MT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Malta,MT
Nitrogenous fertilizers_Price_MX,0.079321,0.098242,0.098277,0.076663,0.080155,0.097157,0.103043,0.098045,0.114513,0.118420,...,0.247124,0.232748,0.195021,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Mexico,MX
Nitrogenous fertilizers_Price_ME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Montenegro,ME
Nitrogenous fertilizers_Price_NP,NaN,NaN,NaN,NaN,NaN,NaN,0.054611,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Nepal,NP
Nitrogenous fertilizers_Price_NL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.833034,0.733360,0.412306,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Netherlands,NL
Nitrogenous fertilizers_Price_PL,NaN,NaN,NaN,NaN,NaN,0.089608,0.108143,0.100761,0.111273,0.142723,...,0.306879,0.258347,0.131990,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Poland,PL
Nitrogenous fertilizers_Price_PT,NaN,NaN,0.149958,0.127226,0.112582,0.112357,0.157447,0.142151,0.169012,0.195248,...,0.314331,0.281703,0.220328,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Portugal,PT
Nitrogenous fertilizers_Price_RO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.252912,0.244509,0.368211,...,0.234862,0.280925,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Romania,RO
Nitrogenous fertilizers_Price_SK,NaN,NaN,NaN,NaN,NaN,NaN,0.338005,0.288231,0.371244,0.451266,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Slovakia,SK
Nitrogenous fertilizers_Price_ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.372576,...,0.608360,0.505593,0.410308,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Spain,ES
Nitrogenous fertilizers_Price_SE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.405460,0.874643,0.926762,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Sweden,SE
Nitrogenous fertilizers_Price_MK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,The former Yugoslav Republic of Macedonia,MK
Nitrogenous fertilizers_Price_TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.317629,0.281149,0.232374,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Turkey,TR
Nitrogenous fertilizers_Price_GB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,United Kingdom,GB
Nitrogenous fertilizers_Price_UY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Uruguay,UY
Nitrogenous fertilizers_Price_UZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.441300,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Uzbekistan,UZ
Nitrogenous fertilizers_Price_ZW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand metric tons,UN Industrial Statistics Database,Price,National,Nitrogenous fertilizers,Zimbabwe,ZW

In [45]:
# Beer
# http://data.un.org/Data.aspx?q=beer&d=ICS&f=cmID%3a24310-0

beer = read_unisd('Beer.csv')
beer

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2014,2015,2016,Unit,Data Source,Metric,Spatial Scale,Technology Name,Country Name,Country Code
ID,,,,,,,,,,,,,,,,,,,,,
Beer_Price_AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.085795,...,0.071104,0.059542,0.060415,Mil. USD/Thousand hectolitres,UN Industrial Statistics Database,Price,National,Beer,Albania,AL
Beer_Price_AT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.113620,Mil. USD/Thousand hectolitres,UN Industrial Statistics Database,Price,National,Beer,Austria,AT
Beer_Price_AZ,NaN,NaN,NaN,NaN,NaN,0.044010,0.054332,0.048513,0.050526,0.056472,...,0.128262,0.098137,0.066451,Mil. USD/Thousand hectolitres,UN Industrial Statistics Database,Price,National,Beer,Azerbaijan,AZ
Beer_Price_BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.121780,Mil. USD/Thousand hectolitres,UN Industrial Statistics Database,Price,National,Beer,Belgium,BE
Beer_Price_BO,0.798753,0.731583,0.808104,0.768867,0.742077,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand hectolitres,UN Industrial Statistics Database,Price,National,Beer,Bolivia (Plurinational State of),BO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Beer_Price_GB,0.124938,0.129617,0.134616,0.127555,0.119755,0.096716,0.091073,0.090912,0.095210,0.104283,...,NaN,NaN,0.087095,Mil. USD/Thousand hectolitres,UN Industrial Statistics Database,Price,National,Beer,United Kingdom,GB
Beer_Price_TZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.116613,0.098158,NaN,Mil. USD/Thousand hectolitres,UN Industrial Statistics Database,Price,National,Beer,United Republic of Tanzania,TZ
Beer_Price_UY,NaN,NaN,0.085859,0.086688,0.086863,0.090354,0.086478,NaN,0.073790,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand hectolitres,UN Industrial Statistics Database,Price,National,Beer,Uruguay,UY
Beer_Price_UZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.051010,Mil. USD/Thousand hectolitres,UN Industrial Statistics Database,Price,National,Beer,Uzbekistan,UZ
Beer_Price_ZW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mil. USD/Thousand hectolitres,UN Industrial Statistics Database,Price,National,Beer,Zimbabwe,ZW