In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
# https://link.springer.com/referenceworkentry/10.1057/978-1-137-30568-8_300#Sec1
# https://static-content.springer.com/esm/chp%3A10.1057%2F978-1-137-30568-8_300/MediaObjects/978-1-137-30568-8_300_MOESM1_ESM.xls

In [4]:
os.chdir('/Users/ariana/desktop/historical_tech')

In [14]:
d5_canada = pd.read_excel('raw data/NorthAmerica_D5.xlsx', sheet_name='D5_Canada')
d5_canada

,Country,Metric,Year,Canada crude weight
0,Canada,NORTH AMERICA: OUTPUT OF IRON ORE (in thousand...,1860,...
1,Canada,NORTH AMERICA: OUTPUT OF IRON ORE (in thousand...,1870,...
2,Canada,NORTH AMERICA: OUTPUT OF IRON ORE (in thousand...,1875,...
3,Canada,NORTH AMERICA: OUTPUT OF IRON ORE (in thousand...,1880,...
4,Canada,NORTH AMERICA: OUTPUT OF IRON ORE (in thousand...,1881,...
...,...,...,...,...
127,Canada,NORTH AMERICA: OUTPUT OF IRON ORE (in thousand...,2004,...
128,Canada,NORTH AMERICA: OUTPUT OF IRON ORE (in thousand...,2005,...
129,Canada,NORTH AMERICA: OUTPUT OF IRON ORE (in thousand...,2006,...
130,Canada,NORTH AMERICA: OUTPUT OF IRON ORE (in thousand...,2007,...
131,Canada,NORTH AMERICA: OUTPUT OF IRON ORE (in thousand...,2008,...