In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [3]:
def read_kurzweil(page_no, tech_name, unit):
    file_name = 'raw data/kurzweil/page' + str(page_no) + '.xls'
    df = pd.read_excel(file_name, header=2, usecols=[0, 1])
    df = df[:-3]
    reg_year = []
    mid_year = []
    for col in df[df.columns[0]]:
        if type(col) == float:
            mid_year.append(col)
        if type(col) == int:
            reg_year.append(col)
    if len(mid_year) != 0:
        for year in mid_year:
            four_digit_year = int(str(year)[:4])
            idx = df[df[df.columns[0]]==year].index.tolist()
            if four_digit_year in reg_year:
                df.drop(idx, inplace=True)
            else:
                df.replace({year: str(four_digit_year)}, inplace=True)
    seen = set()
    dupes = []
    for year in df[df.columns[0]]:
        if year in seen:
            dupes.append(year)
        else:
            seen.add(year)
    dup_dict = {}
    if len(dupes) != 0:
        for dup in dupes:
            dup_df = df[df[df.columns[0]]==dup]
            avg_dup_val = sum(dup_df[dup_df.columns[1]]) / len(dup_df[dup_df.columns[1]])
            dup_dict[dup] = avg_dup_val
            dup_idx = df[df[df.columns[0]]==dup].index.tolist()
            df.drop(dup_idx, inplace=True)
    df.set_index(df.columns[0], drop=True, inplace=True)
    df = df.transpose()
    for dup in dup_dict:
        df[dup] = dup_dict[dup]
    df['Data Source'] = 'Kurzweil'
    df['Country Name'] = 'World'
    df['Country Code'] = 'World'
    df['Spatial Scale'] = 'Global'
    df['Metric'] = 'Computing Capacity'
    df['Technology Name'] = tech_name
    df['Unit'] = unit
    df['ID'] = df['Technology Name'] + '_' + df['Metric'] + '_' + df['Country Code']
    df.set_index('ID', drop=True, inplace=True)
    df.columns.name = None
    file_name = 'cleaned data/' + tech_name + '.csv'
    df.to_csv(file_name)
    return df

In [4]:
# https://www.singularity.com/charts/page64.html
# https://www.singularity.com/images/charts/xls/page64.xls
# Processor Performance

In [5]:
processing_power = read_kurzweil(64, 'Processor Performance', 'million instructions/second')
processing_power

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexes/base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

,1971,1972,1974,1976,1978,1982,1985,1989,1993,1995,...,2000,2001,2002,Data Source,Country Name,Country Code,Spatial Scale,Metric,Technology Name,Unit
ID,,,,,,,,,,,,,,,,,,,,,
Processor Performance_Computing Capacity_World,0.035,0.08,0.33,0.4,0.9,2.5,5.0,17.0,100.0,800.0,...,4000.0,10000.0,12000.0,Kurzweil,World,World,Global,Computing Capacity,Processor Performance,million instructions/second

In [6]:
# https://www.singularity.com/charts/page75.html
# https://www.singularity.com/images/charts/xls/page75.xls
# RAM

In [7]:
ram = read_kurzweil(75, 'Random Access Memory', 'bits/2000 USD')
ram

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexes/base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

,1949,1951,1955,1960,1962,1965,1968,1973,1975,1976,...,2002,2003,2004,Data Source,Country Name,Country Code,Spatial Scale,Metric,Technology Name,Unit
ID,,,,,,,,,,,,,,,,,,,,,
Random Access Memory_Computing Capacity_World,0.02423,0.03459,0.090545,0.10386,0.21193,1.1623,6.5123,11.388,104.82,170.64,...,31469000.0,36428000.0,93945000.0,Kurzweil,World,World,Global,Computing Capacity,Random Access Memory,bits/2000 USD

In [8]:
# https://www.singularity.com/charts/page61.html
# https://www.singularity.com/images/charts/xls/page61.xls
# Microprocessor Clock Speed

In [9]:
microprocessor_clock = read_kurzweil(61, 'Microprocessor Clock Speed', 'Hz')
microprocessor_clock

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexes/base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,...,2010,2013,2016,Data Source,Country Name,Country Code,Spatial Scale,Metric,Technology Name,Unit
ID,,,,,,,,,,,,,,,,,,,,,
Microprocessor Clock Speed_Computing Capacity_World,1350000.0,2060000.0,2140000.0,2290000.0,1940000.0,2410000.0,2630000.0,4070000.0,5190000.0,5890000.0,...,1.151100e+10,1.934800e+10,2.875100e+10,Kurzweil,World,World,Global,Computing Capacity,Microprocessor Clock Speed,Hz

In [10]:
# https://www.singularity.com/charts/page76.html
# https://www.singularity.com/images/charts/xls/page76.xls
# Magnetic Data Storage

In [11]:
magnetic_data = read_kurzweil(76, 'Magnetic Data Storage', 'bits/2000 USD')
magnetic_data

,1952,1956,1966,1970,1974,1981,1982,1983,1984,1985,...,2003,2004,1980,Data Source,Country Name,Country Code,Spatial Scale,Metric,Technology Name,Unit
ID,,,,,,,,,,,,,,,,,,,,,
Magnetic Data Storage_Computing Capacity_World,0.2033,158.8,1437.0,6941.0,12380.0,15320.0,11310.0,14500.0,41210.0,77440.0,...,6.552000e+09,1.182000e+10,19975.0,Kurzweil,World,World,Global,Computing Capacity,Magnetic Data Storage,bits/2000 USD

In [12]:
# https://www.singularity.com/charts/page63.html
# https://www.singularity.com/images/charts/xls/page63.xls
# Transistors per Microprocessor

In [13]:
transistors_per_microprocessor = read_kurzweil(63, 'Transistors per Microprocessor', 'no. of transistors/chip')
transistors_per_microprocessor

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexes/base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

,1971,1972,1974,1978,1982,1985,1989,1993,1997,1999,2000,2002,2003,Data Source,Country Name,Country Code,Spatial Scale,Metric,Technology Name,Unit
ID,,,,,,,,,,,,,,,,,,,,
Transistors per Microprocessor_Computing Capacity_World,2250.0,2500.0,5000.0,29000.0,120000.0,275000.0,1600000.0,3100000.0,7500000.0,24000000.0,42000000.0,169000000.0,410000000.0,Kurzweil,World,World,Global,Computing Capacity,Transistors per Microprocessor,no. of transistors/chip

In [14]:
# https://www.singularity.com/charts/page81.html
# https://www.singularity.com/images/charts/xls/page81.xls
# Internet Backbone Bandwidth

In [15]:
internet_backbone = read_kurzweil(81, 'Internet Backbone Bandwidth', 'bits/second')
internet_backbone

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexes/base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

,1968,1972,1973,1974,1976,1979,1981,1983,1984,1985,...,2002,2003,2004,Data Source,Country Name,Country Code,Spatial Scale,Metric,Technology Name,Unit
ID,,,,,,,,,,,,,,,,,,,,,
Internet Backbone Bandwidth_Computing Capacity_World,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,56000.0,56000.0,56000.0,1544000.0,...,2.488000e+09,9.952000e+09,9.952000e+09,Kurzweil,World,World,Global,Computing Capacity,Internet Backbone Bandwidth,bits/second

In [16]:
# https://www.singularity.com/charts/page70.html
# https://www.singularity.com/images/charts/xls/page70.xls
# Computing Growth

In [17]:
# not stated what year the dollar is indexed to
computing_growth = read_kurzweil(70, 'Computing Growth', 'calculations per second/1000 USD')
computing_growth

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexes/base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

,1900,1908,1911,1919,1928,1939,1940,1941,1943,1946,...,1973,1977,1982,Data Source,Country Name,Country Code,Spatial Scale,Metric,Technology Name,Unit
ID,,,,,,,,,,,,,,,,,,,,,
Computing Growth_Computing Capacity_World,0.000006,0.00013,0.000058,0.001064,0.000699,0.008547,0.01431,0.0463,5.308,0.7981,...,2064.8,15295.0,126600.0,Kurzweil,World,World,Global,Computing Capacity,Computing Growth,calculations per second/1000 USD