In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
# https://link.springer.com/referenceworkentry/10.1057/978-1-137-30568-8_300#Sec1
# https://static-content.springer.com/esm/chp%3A10.1057%2F978-1-137-30568-8_300/MediaObjects/978-1-137-30568-8_300_MOESM1_ESM.xls

In [3]:
os.chdir('/Users/ariana/desktop/historical_tech')

In [4]:
def read_mitchell(country_name):
    sheet_name = 'D5_' + country_name
    df = pd.read_excel('raw data/NorthAmerica_D5.xlsx', sheet_name=sheet_name, index_col=2, na_values='...')
    country_name = df['Country'].iloc[0]
    df.drop(columns=['Country', 'Metric'], inplace=True)
    df = df.transpose()
    df.columns.name = None
    df['Country Name'] = country_name
    df['Country Code'] = coco.convert(names=country_name, to='iso2')
    df['Data Source'] = 'Mitchell 2013'
    df['Unit'] = 'Thousands of metric tons'
    df['Spatial Scale'] = 'National'
    df['Metric'] = 'Annual production'
    df['Technology Name'] = 'Iron ore'
    df['ID'] = df['Technology Name'] + '_' + df['Metric'] + '_' + df['Country Code']
    df.set_index('ID', drop=True, inplace=True)
    return df

In [5]:
d5 = []

In [6]:
canada = read_mitchell('Canada')
d5.append(canada)

In [7]:
cuba = read_mitchell('Cuba')
d5.append(cuba)

In [8]:
mexico = read_mitchell('Mexico')
d5.append(mexico)

In [9]:
usa = read_mitchell('USA')
d5.append(usa)

In [10]:
iron_ore = pd.concat(d5)
iron_ore

,1860,1870,1875,1880,1881,1882,1883,1884,1885,1886,...,2006,2007,2008,Country Name,Country Code,Data Source,Unit,Spatial Scale,Metric,Technology Name
ID,,,,,,,,,,,,,,,,,,,,,
Iron ore_Annual production_CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58,...,NaN,NaN,NaN,Canada,CA,Mitchell 2013,Thousands of metric tons,National,Annual production,Iron ore
Iron ore_Annual production_CU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Cuba,CU,Mitchell 2013,Thousands of metric tons,National,Annual production,Iron ore
Iron ore_Annual production_MX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6589.6,7323.1,7726,Mexico,MX,Mitchell 2013,Thousands of metric tons,National,Annual production,Iron ore
Iron ore_Annual production_US,2919.0,3893.0,4082.0,7234.0,7234.0,9144.0,8534.0,8332.0,7722.0,10160.0,...,NaN,NaN,NaN,USA,US,Mitchell 2013,Thousands of metric tons,National,Annual production,Iron ore

In [11]:
iron_ore.to_csv('cleaned data/mitchell_iron ore.csv')