In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
from openpyxl import load_workbook
import country_converter as coco

In [2]:
os.chdir('/Users/ariana/desktop/historical_tech')
mitchell = os.listdir('/Users/ariana/desktop/historical_tech/raw data/Mitchell_InternationalHistoricalStatistics')

reading_files = []
for file in mitchell:
     if '.xlsx' in file:
        reading_files.append(file)
reading_files.sort()
reading_files

['Acids_Africa.xlsx',
 'Acids_Americas.xlsx',
 'Acids_Asia.xlsx',
 'Acids_Europe.xlsx',
 'Acids_Oceania.xlsx',
 'GoldSilver_Africa.xlsx',
 'GoldSilver_Asia.xlsx',
 'GoldSilver_Oceania.xlsx',
 'Refining_Africa.xlsx',
 'Refining_Asia.xlsx',
 'Refining_NorthAmerica.xlsx',
 'Refining_Oceania.xlsx',
 'Refining_SouthAmerica.xlsx',
 'SyntheticFilaments_Americas.xlsx',
 'SyntheticFilaments_AsiaAfricaOceania.xlsx',
 'SyntheticFilaments_Europe.xlsx']

In [3]:
def read_mitchell(file_relpath):
    file_name = 'raw data/Mitchell_InternationalHistoricalStatistics/' + file_relpath
    df = pd.ExcelFile(file_name)
    df_sheets = df.sheet_names
    drop_sheets = ['Sheet1', 'All', 'Copy All', 'All Copy']
    for item in drop_sheets:
        if item in df_sheets:
            df_sheets.remove(item)
    df_list = []
    for sheet in df_sheets:
        df = pd.read_excel(file_name, sheet_name=sheet, usecols=[0,2,3], na_values = ['â€”', '...', '- -'])
        df.dropna(subset=df.columns[1], inplace=True)
        df[df.columns[1]] = df[df.columns[1]].astype(int)
        df.set_index(df.columns[1], inplace=True)
        country_name = df[df.columns[0]].iloc[0]
        technology_unit = df.columns[-1]
        cutoff = technology_unit.index('(')
        technology_name = technology_unit[:cutoff]
        technology_name = technology_name.strip()
        if technology_name == 'Copper' or technology_name == 'Gold' or technology_name == 'Lead':
            continue
        unit = technology_unit[cutoff:]
        unit = unit.strip('()')
        unit = unit.title()
        df.drop(columns=df.columns[0], inplace=True)
        df = df.transpose()
        df.columns.name = None
        df['Unit'] = unit
        df['Technology Name'] = technology_name
        df['Country Name'] = country_name
        if country_name == 'Phillipines' or country_name=='Phillipine':
            country_code = 'PH'
        elif country_name == 'Yugoslavia':
            country_code = 'YU'
        elif country_name == 'East Germany':
            country_code = 'East Germany'
        elif country_name == 'West Germany':
            country_code = 'West Germany'
        else:
            country_code = coco.convert(names=country_name, to='iso2')
        df['Country Code'] = country_code
        df['Spatial Scale'] = 'National'
        df['Data Source'] = 'Mitchell'
        df['Metric'] = 'Annual Production'
        df['ID'] = df['Technology Name'] + '_' + df['Metric'] + '_' + df['Country Code']
        df.set_index('ID', drop=True, inplace=True)
        df.to_csv('raw data/mitchell_processing/' + sheet + '.csv')

In [4]:
for file in reading_files:
    read_mitchell(file)

In [5]:
mitchell_processing = os.listdir('/Users/ariana/desktop/historical_tech/raw data/mitchell_processing')
len(mitchell_processing)

165

In [6]:
for file in mitchell_processing:
    if '.csv' not in file:
        mitchell_processing.remove(file)

In [7]:
len(mitchell_processing)

164

In [8]:
frame = pd.read_csv('cleaned data/frame.csv')

In [9]:
df_list = [frame]
for file in mitchell_processing:
    file = 'raw data/mitchell_processing/' + file
    file = pd.read_csv(file)
    df_list.append(file)

In [10]:
all_mitchell = pd.concat(df_list)
all_mitchell.replace({'Caustic Soda Acid':'Caustic Soda', 'Artificial and Synthetic Fibers':'Synthetic Filaments'}, inplace=True)
all_mitchell

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Tin_Annual Production_ID,National,ID,Indonesia,Tin,Annual Production,Thousand Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sulphuric Acid_Annual Production_CA,National,CA,Canada,Sulphuric Acid,Annual Production,Thousands Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Synthetic Filaments_Annual Production_ID,National,ID,Indonesia,Synthetic Filaments,Annual Production,Thousand Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Synthetic Filaments_Annual Production_West Ger...,National,West Germany,West Germany,Synthetic Filaments,Annual Production,Thousand Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sulphuric Acid_Annual Production_IT,National,IT,Italy,Sulphuric Acid,Annual Production,Thousand Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,Zinc_Annual Production_KR,National,KR,Korea,Zinc,Annual Production,Thousand Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sulphuric Acid_Annual Production_RO,National,RO,Romania,Sulphuric Acid,Annual Production,Thousand Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sulphuric Acid_Annual Production_IE,National,IE,Ireland,Sulphuric Acid,Annual Production,Thousand Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sulphuric Acid_Annual Production_FI,National,FI,Finland,Sulphuric Acid,Annual Production,Thousand Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Synthetic Filaments_Annual Production_AT,National,AT,Austria,Synthetic Filaments,Annual Production,Thousand Metric Tons,Mitchell,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
all_mitchell.to_csv('cleaned data/mitchell.csv', index=False)