In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
os.chdir('/Users/ariana/desktop/historical_tech')

In [10]:
# http://data.un.org/Default.aspx

In [45]:
# Nitrogenous fertilizers, mineral or chemical
# http://data.un.org/Data.aspx?q=Nitrogenous+fertilizers%2c+mineral+or+chemical&d=ICS&f=cmID%3a34613-0

nitrogen_fertilizer = pd.read_csv('raw data/cost data/unisd/UNdata_Export_20230710_182252226.csv')
end_idx = None
for idx in range(len(nitrogen_fertilizer)):
    val = nitrogen_fertilizer.iloc[idx]['Unit']
    if val == 'Footnote':
        end_idx = idx
        break
nitrogen_fertilizer = nitrogen_fertilizer[:end_idx]
drop_cols = []
for col in nitrogen_fertilizer.columns:
    if 'Footnotes' in col:
        drop_cols.append(col)
nitrogen_fertilizer.drop(columns=drop_cols, inplace=True)
all_countries = list(set(nitrogen_fertilizer['Country or Area']))
countries_lt2_units = []
for country in all_countries:
    country_units = list(set(nitrogen_fertilizer[nitrogen_fertilizer['Country or Area']==country]['Unit']))
    if len(country_units) != 2:
        countries_lt2_units.append(country)
for idx in range(len(nitrogen_fertilizer)):
    val = nitrogen_fertilizer.iloc[idx]['Country or Area']
    if val in countries_lt2_units:
        print(idx)

0
1
2
9
12
15
20
29
30
47
48
49
60
65
72
75
76
81
84
87
94

In [38]:
# Beer
# http://data.un.org/Data.aspx?q=beer&d=ICS&f=cmID%3a24310-0

beer = pd.read_csv('raw data/cost data/unisd/UNdata_Export_20230710_182706951.csv')
end_idx = None
for idx in range(len(beer)):
    val = beer.iloc[idx]['Unit']
    if val == 'Footnote':
        end_idx = idx
        break
beer = beer[:end_idx]
drop_cols = []
for col in beer.columns:
    if 'Footnotes' in col:
        drop_cols.append(col)
beer.drop(columns=drop_cols, inplace=True)
beer

,Country or Area,Unit,1995,1996,1997,1998,1999,2000,2001,2002,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Albania,Mil. USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.748128,34.638700,22.329353,26.365151,25.280748,59.834738,37.655436,55.183563,53.089004,52.079504
1,Albania,Thousand hectolitres,89.0,9.0,151.0,93.0,87.0,86.0,117.000000,150.000000,...,365.880000,330.200000,249.200000,327.200000,311.039170,772.026300,488.401120,776.096000,891.618000,862.026000
2,Algeria,Thousand hectolitres,402.0,377.0,370.0,382.0,382.6,452.8,434.600000,283.000000,...,78.300000,66.700000,37.100000,14.000000,8.900000,3.600000,0.000000,0.000000,0.000000,NaN
3,Angola,Thousand hectolitres,280.0,797.0,1150.0,1288.0,1609.0,NaN,NaN,NaN,...,136.060750,157.192641,54.902397,165.001000,165.426000,176.175883,172.504000,177.252000,169.522000,156.638328
4,Argentina,Thousand hectolitres,10913.0,11615.0,12687.0,12395.0,12448.0,12685.0,12390.000000,11990.000000,...,15850.000000,18190.000000,18640.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Uzbekistan,Thousand hectolitres,724.0,677.0,619.0,569.0,422.0,609.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2271.629280
189,Viet Nam,Thousand hectolitres,4650.0,5334.0,5811.0,6700.0,6898.0,7791.0,8712.000000,9398.000000,...,16553.000000,18472.000000,20075.000000,24202.000000,26256.910000,29787.130000,30041.030000,32871.520000,35268.380000,38451.000000
190,Zambia,Thousand hectolitres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5730.170000,4794.523300,8776.700000,9824.320000,10115.930000,10616.880000,9939.465000,NaN
191,Zimbabwe,Mil. USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,9.400000,22.700000,28.000000,36.387000,NaN,NaN,NaN
192,Zimbabwe,Thousand hectolitres,NaN,NaN,NaN,NaN,NaN,NaN,4746.656426,2957.026475,...,NaN,NaN,NaN,255.100000,156.100000,278.700000,546.778000,NaN,NaN,NaN