In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
clean_files

['frame.csv', 'bp.csv', '.DS_Store', '.ipynb_checkpoints', 'fao.csv']

In [4]:
csv = []
for file in clean_files:
     if '.csv' in file:
        name = path + file
        csv.append(name)
csv

['cleaned data/frame.csv', 'cleaned data/bp.csv', 'cleaned data/fao.csv']

In [5]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Country Code, Country Name, Technology Name, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, ...]
Index: []

[0 rows x 332 columns]

In [6]:
df_list = []
for file in csv:
    file = pd.read_csv(file)
    df_list.append(file)

In [7]:
all_tech_df = pd.concat(df_list)
all_tech_df

,ID,Country Code,Country Name,Technology Name,Unit,Data Source,1700,1701,1702,1703,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,"Oil Production, Million tonnes: CA",CA,Canada,Oil Production,Million tonnes,BP,NaN,NaN,NaN,NaN,...,218.844941,236.623854,257.745067,263.462162,252.022685,267.096470,NaN,NaN,NaN,NaN
1,"Oil Production, Million tonnes: MX",MX,Mexico,Oil Production,Million tonnes,BP,NaN,NaN,NaN,NaN,...,121.516944,109.584590,102.400224,95.000334,95.111225,96.486319,NaN,NaN,NaN,NaN
2,"Oil Production, Million tonnes: US",US,US,Oil Production,Million tonnes,BP,NaN,NaN,NaN,NaN,...,542.593149,574.134693,669.055938,749.895128,711.550649,711.124690,NaN,NaN,NaN,NaN
3,"Oil Production, Million tonnes: AR",AR,Argentina,Oil Production,Million tonnes,BP,NaN,NaN,NaN,NaN,...,28.630797,27.240149,27.542351,28.834834,27.657269,29.066317,NaN,NaN,NaN,NaN
4,"Oil Production, Million tonnes: BR",BR,Brazil,Oil Production,Million tonnes,BP,NaN,NaN,NaN,NaN,...,136.707063,142.641816,140.603161,151.199171,159.344927,156.792441,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,"Phosphate fertilizer production, Tonnes: ZM",ZM,Zambia,Phosphate fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
521,"Potash fertilizer production, Tonnes: ZM",ZM,Zambia,Potash fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
522,"Nitrogen fertilizer production, Tonnes: ZW",ZW,Zimbabwe,Nitrogen fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,...,11700.000000,12300.000000,13200.000000,13200.000000,13200.000000,NaN,NaN,NaN,NaN,NaN
523,"Phosphate fertilizer production, Tonnes: ZW",ZW,Zimbabwe,Phosphate fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,...,2100.000000,9500.000000,8100.000000,8100.000000,8100.000000,NaN,NaN,NaN,NaN,NaN
524,"Potash fertilizer production, Tonnes: ZW",ZW,Zimbabwe,Potash fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN

In [8]:
all_tech_df.to_csv('all_tech.csv')