In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
csv = []
for file in clean_files:
    if '.csv' in file:
        name = path + file
        csv.append(name)

In [4]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Metric, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, ...]
Index: []

[0 rows x 334 columns]

In [5]:
df_list = [frame]
for file in csv:
    file = pd.read_csv(file)
    df_list.append(file)

In [6]:
all_tech_df = pd.concat(df_list)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-ion battery storage_Cumulative Rated C...,National,TG,Togo,Lithium-ion battery storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,NaN,760.0,1160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-ion battery storage_Cumulative Rated P...,National,TG,Togo,Lithium-ion battery storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,NaN,190.0,290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sensible heat storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible heat storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,1195000.0,1745000.0,2945000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sensible heat storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible heat storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,255000.0,355000.0,455000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Pumped hydro storage_Cumulative Rated Capacity_CA,National,CA,Canada,Pumped hydro storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,3044000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
0,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied natural gas_Exports_US,NaN,US,United States,Liquefied natural gas,Exports,Billion cubic feet,U.S. Energy Information Administration,NaN,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
len(set(all_tech_df['Technology Name']))

215

In [8]:
#for x in set(all_tech_df['Technology Name']):
#    print(x)

In [9]:
all_tech_df[all_tech_df['Technology Name']=='Space Launches']

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Space Launches_Yearly Launches_RW,National,RW,Rwanda,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_TW,National,TW,Taiwan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,1,NaN,6,NaN,2,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_SI,National,SI,Slovenia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,2,NaN,1,NaN,NaN,NaN
0,Space Launches_Yearly Launches_SK,National,SK,Slovakia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_DK,National,DK,Denmark,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,1,NaN,2,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,Space Launches_Yearly Launches_EE,National,EE,Estonia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_TN,National,TN,Tunisia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
0,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
all_tech_df.to_csv('all_tech.csv', index=False)