In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
csv = []
for file in clean_files:
    if '.csv' in file:
        name = path + file
        csv.append(name)

In [4]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Metric, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, ...]
Index: []

[0 rows x 334 columns]

In [5]:
# don't use default na, this erroneously converts 'NA' (iso code for Namibia) to a missing value
# I manually input all the default na vals except for 'NA' to prevent this
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
df_list = [frame]
for file in csv:
    file = pd.read_csv(file, keep_default_na=False, na_values=['-1.#IND', '1.#QNAN', '1.#IND', '-1.#QNAN', 
                                                               '#N/A N/A', '#N/A', 'N/A', 'n/a', '<NA>', '#NA', 
                                                               'NULL', 'null', 'NaN', '-NaN', 'nan', '-nan', 
                                                               'None', ''])
    df_list.append(file)

In [ ]:
all_tech_df = pd.concat(df_list)
all_tech_df

In [ ]:
len(set(all_tech_df['Technology Name']))

In [ ]:
for x in set(all_tech_df['Technology Name']):
    print(x)

In [ ]:
all_tech_df[all_tech_df['Technology Name']=='Cellphones']

In [ ]:
all_tech_df.insert(8, 'Long Technology Name', all_tech_df['Metric'] + '|' + all_tech_df['Technology Name'])
all_tech_df

In [ ]:
all_tech_df.reset_index(drop=True,inplace=True)
all_tech_df

In [ ]:
omit = []
for col in all_tech_df.columns:
    if len(col) != 4 or col == 'Unit':
         omit.append(col)
empty_rows = all_tech_df.drop(columns=omit)
empty_rows.dropna(how='all', inplace=True)
na_idx = []
for idx in all_tech_df.index:
    if idx not in empty_rows.index:
        na_idx.append(idx)
all_tech_df.drop(na_idx, inplace=True)
all_tech_df

In [ ]:
all_tech_df['Metric'] = all_tech_df['Metric'].str.title()

In [ ]:
all_tech_df['Metric'] = all_tech_df['Metric'].str.strip()

In [ ]:
set(all_tech_df['Metric'])

In [ ]:
all_tech_df.to_csv('all_tech_version 2.0.csv', index=False)

In [ ]:
all_tech_df = all_tech_df[all_tech_df['Metric']!='Price']
all_tech_df

In [ ]:
all_tech_df.to_csv('all_tech_version 1.5.csv', index=False)

In [ ]:
no_country = []
for tech in set(all_tech_df['Technology Name']):
    countries = list(set(all_tech_df[all_tech_df['Technology Name'] == tech]['Country Name']))
    id_ = list(all_tech_df[all_tech_df['Technology Name'] == tech]['ID'])
    if len(countries) <= 2:
        no_country.extend(id_)

In [ ]:
all_tech_w_countrylvl = all_tech_df.set_index('ID', drop=True)
all_tech_w_countrylvl.drop(index=no_country, inplace=True)
all_tech_w_countrylvl

In [ ]:
all_tech_w_countrylvl.to_csv('all_tech_with_country-level.csv', index=False)