In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
csv = []
for file in clean_files:
     if '.csv' in file:
        name = path + file
        csv.append(name)

In [4]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Metric, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, ...]
Index: []

[0 rows x 334 columns]

In [5]:
df_list = []
for file in csv:
    file = pd.read_csv(file)
    df_list.append(file)

In [6]:
all_tech_df = pd.concat(df_list)
all_tech_df

,ID,1945,1946,1947,1948,1949,1950,1951,1952,1953,...,2025,1949.1,1953.1,1955.1,1958.1,1960.1,1965.1,1973.1,1977.1,1982.1
0,Nuclear weapons_Cumulative total capacity_US,2.0,9.0,13.0,50.0,170.0,299.0,438.0,841.0,"1,169",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nuclear weapons_Cumulative total capacity_RU,NaN,NaN,NaN,NaN,1.0,5.0,25.0,50.0,120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nuclear weapons_Cumulative total capacity_GB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nuclear weapons_Cumulative total capacity_FR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nuclear weapons_Cumulative total capacity_CN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Raw steel production_Annual production_VN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Raw steel production_Annual production_YU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Raw steel production_Annual production_ZW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Raw steel production_Annual production_World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied natural gas_Exports_US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
set(all_tech_df['Technology Name'])

{'Acrylic Fiber',
 'Acrylonitrile',
 'Amazon Prime users',
 'Aniline',
 'Aquaculture',
 'Automatic transmission',
 'Automobile',
 'BCG Vaccine',
 'Beer',
 'Benzene',
 'Bicycles',
 'Biofuels',
 'Bisphenol A',
 'CFLs',
 'Cable TV',
 'Cadmium Refining',
 'Caprolactam',
 'Capture fisheries',
 'Cellphones',
 'Cellular phone',
 'Central heating',
 'Coal Power',
 'Coal Production',
 'Cobalt Mine Production',
 'Colour TV',
 'Compressed air energy storage',
 'Computer',
 'Computing Growth',
 'Copper Mining',
 'Copper Refining',
 'Crude Oil',
 'Cyclohexane',
 'DTP1 Vaccine',
 'DTP3 Vaccine',
 'Desalination',
 'Dishwasher',
 'Disk brakes',
 'Dryer',
 'Ebook reader',
 'Electric Bicycles',
 'Electric Range',
 'Electric power',
 'Electricity',
 'Electricity access',
 'Electro-chemical capacitor',
 'Electronic ignition',
 'Ethanolamine',
 'Ethyl Alcohol',
 'Ethylene',
 'Ethylene 2',
 'Ethylene Glycol',
 'FCC-Refineries',
 'Flow battery',
 'Flush toilet',
 'Flywheel',
 'Formaldehyde',
 'Freezer',
 'Gas Production',
 'Gas pipeline',
 'Graphite Mine Production',
 'Ground-Source Heat Pumps',
 'HEPB3 Vaccine',
 'HEPBB Vaccine',
 'HIB3 Vaccine',
 'Heat thermal storage',
 'High-speed rail',
 'Home air conditioning',
 'Household refrigerator',
 'Households with only mobile phones (no landlines)',
 'Hydro Power',
 'Hydroelectricity',
 'Hydrofluoric Acid',
 'Hydrogen storage',
 'IPV1 Vaccine',
 'Internet',
 'Internet Backbone Bandwidth',
 'Internet Traffic',
 'Iron',
 'Iron ore',
 'Jet Aircraft',
 'Landline',
 'Latent heat',
 'Laundry Dryers',
 'Lead mine production',
 'Lead-acid battery',
 'Liquefied natural gas',
 'Lithium Mine Production',
 'Lithium-ion battery',
 'Low-Density Polyethylene',
 'MCV1 Vaccine',
 'MCV2 Vaccine',
 'Magnesium',
 'Maleic Anhydride',
 'Methanol',
 'Microcomputer',
 'Microprocessor Clock Speed',
 'Microwave',
 'Milk',
 'Motor Gasoline',
 'Motorcycles',
 'NatGas Power',
 'Neoprene Rubber',
 'Nickel-based battery',
 'Nitrogen Fertilizer',
 'Nox pollution controls (boilers)',
 'Nuclear Energy',
 'Nuclear Power',
 'Nuclear weapons',
 'Off-Grid Onshore Wind Energy',
 'Oil Production',
 'Oil Refining Capacity',
 'Oil pipeline',
 'On-Grid Biogas',
 'On-Grid Coal And Peat',
 'On-Grid Geothermal Energy',
 'On-Grid Liquid Biofuels',
 'On-Grid Marine Energy',
 'On-Grid Mixed Hydro Plants',
 'On-Grid Natural Gas',
 'On-Grid Nuclear',
 'On-Grid Offshore Wind Energy',
 'On-Grid Oil',
 'On-Grid Onshore Wind Energy',
 'On-Grid Renewable Hydropower',
 'On-Grid Solar Photovoltaic',
 'On-Grid Solar Thermal Energy',
 'On-Grid Solid Biofuels',
 'PCV3 Vaccine',
 'POL3 Vaccine',
 'Paraxylene',
 'Passenger Cars',
 'Pentaerythritol',
 'Phenol',
 'Phosphate Fertilizer',
 'Phthalic Anhydride',
 'Podcasting',
 'PolyesterFiber',
 'Polyethylene HD',
 'Polyethylene LD',
 'Polystyrene',
 'Polyvinylchloride',
 'Potash Fertilizer',
 'Power steering',
 'Primary Alumninum',
 'Primary Magnesium',
 'Primary aluminum production',
 'Primary bauxite production',
 'Processor Performance',
 'Public roads',
 'Pumped hydro storage',
 'RCV1 Vaccine',
 'ROTAC Vaccine',
 'RTGS adoption',
 'Radial tires',
 'Radio',
 'Railroad',
 'Random Access Memory',
 'Rare Earth Mine Production',
 'Raw steel production',
 'Refined Cane Sugar',
 'Refrigerator',
 'Refrigerators',
 'Renewable Power',
 'Running water',
 'Salt production',
 'Satellite launches',
 'Sensible heat',
 'Shale production',
 'Shipping container port infrastructure',
 'Shotgun Sanger DNA Sequencing',
 'Smartphone usage',
 'Social media usage',
 'Sodium',
 'Sodium Chlorate',
 'Sodium-based battery',
 'Solar Energy',
 'Solar Power',
 'Stationary Steam Engines',
 'Steam Locomotives',
 'Steamships',
 'Stove',
 'Styrene',
 'Tablet',
 'Television',
 'Titanium Sponge',
 'Transistors per Microprocessor',
 'Urea',
 'Vacuum',
 'Videocassette recorder',
 'Vinyl Acetate',
 'Vinyl Chloride',
 'Washer',
 'Washing Machines',
 'Washing machine',
 'Water Heater',
 'Wet flue gas desulfurization systems',
 'Wind Energy',
 'Wind Power',
 'YFV Vaccine',
 'Zinc-based battery'}

In [8]:
all_tech_df.to_csv('all_tech.csv', index=False)