In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
csv = []
for file in clean_files:
    if '.csv' in file:
        name = path + file
        csv.append(name)

In [4]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Metric, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, ...]
Index: []

[0 rows x 334 columns]

In [5]:
df_list = [frame]
for file in csv:
    file = pd.read_csv(file)
    df_list.append(file)

In [6]:
all_tech_df = pd.concat(df_list)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-ion battery storage_Cumulative Rated C...,National,TG,Togo,Lithium-ion battery storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,NaN,760.0,1160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-ion battery storage_Cumulative Rated P...,National,TG,Togo,Lithium-ion battery storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,NaN,190.0,290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sensible heat storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible heat storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,1195000.0,1745000.0,2945000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sensible heat storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible heat storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,255000.0,355000.0,455000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Pumped hydro storage_Cumulative Rated Capacity_CA,National,CA,Canada,Pumped hydro storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,3044000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
0,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied natural gas_Exports_US,NaN,US,United States,Liquefied natural gas,Exports,Billion cubic feet,U.S. Energy Information Administration,NaN,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
len(set(all_tech_df['Technology Name']))

205

In [8]:
for x in set(all_tech_df['Technology Name']):
    print(x)

Paraxylene
Concentrated Solar Power
Television
Zinc-based battery
Synthetic Filaments
Primary aluminum production
Steam ships
Lithium-ion battery storage
Processor Performance
Electro-chemical capacitor
Neoprene Rubber
Electric Range
Desalination capacity
Microcomputers
Transistors per Microprocessor
IPV1 Vaccine
Radial tires
HEPB3 Vaccine
Off-Grid Onshore Wind Energy
Vacuums
Aniline
Internet Backbone Bandwidth
DTP1 Vaccine
Motor Gasoline
Running water
Microwaves
Dishwashers
Jet Aircraft
Liquefied natural gas
Copper Mining
Disk brakes
Electronic ignition
Households with only mobile phones (no landlines)
Acrylonitrile
Ethylene
Flush toilet
Benzene
Hydrofluoric Acid
Podcasting
Formaldehyde
Submarine Cables
Methanol
MCV1 Vaccine
Magnetic Data Storage
Power steering
Flywheel battery storage
CFLs
Silver
Solid Biofuels
Vinyl Chloride
Beer production
Railroad
RTGS adoption
Tablet
Electric Bicycles
Passenger Cars
Herbicide-Tolerant Cotton
Pumped hydro storage
Nitrogen Fertilizer
Home air conditioning
Nuclear weapons
Copper Refining
Salt production
Colour TV
Smartphone usage
Insect-Resistant Corn
Radio
Lithium Mine Production
Steam Locomotives
Nitric Acid
Microprocessor Clock Speed
Solar Photovoltaic
Milk production
Primary bauxite production
Bicycles
Gold production
Passenger cars
Nickel-based battery
Nickel production
Oil pipeline
Sodium
Biogas
Iron
Ethanolamine
Laundry Dryers
Nuclear Energy
Vinyl Acetate
Automatic transmission
Stationary Steam Engines
Amazon Prime users
Crude Oil
Liquid Biofuels
Caprolactam
HEPBB Vaccine
Natural gas pipeline
Urea
Coal Production
HIB3 Vaccine
Sodium-based battery storage
Solar Thermal Energy
Nox pollution controls (boilers)
Insect-Resistant Cotton
Iron ore
PCV3 Vaccine
Marine Energy
Lead mine production
Renewable Power
Sand and gravel production (construction)
Hydrochloric Acid
Primary Magnesium
Raw steel production
Cellphones
Crop harvester
Titanium Sponge
Natural Gas Production
Sensible heat storage
Hydroelectricity
Shipping container port infrastructure
Phthalic Anhydride
NatGas Power
Flow battery storage
Hydrogen storage
BCG Vaccine
Central heating
Sulphuric Acid
YFV Vaccine
Motorcycles
Geothermal Energy
Public roads
Bisphenol A
Lead-acid battery storage
Ground Source Heat Pumps
Stove
MCV2 Vaccine
Cyclohexane
Styrene
Cement production
Capture fisheries production
Tin
Postal Traffic
Magnesium
Water Heater
Household Internet access
Shotgun Sanger DNA Sequencing
Compressed air energy storage
Random Access Memory
ROTAC Vaccine
Polyethylene HD
Electricity
All Biofuels
Shale production
Telegraph Traffic
Acrylic Fiber
Computing Growth
Washing Machines
Sand and gravel production (industrial)
Oil Production
Refined Cane Sugar Production
Caustic Soda
Graphite Mine Production
Polyvinylchloride
Telephones
Phosphate Fertilizer
Coal Power
Maleic Anhydride
Heat thermal battery storage
POL3 Vaccine
Videocassette recorder
Carbon Capture & Sequestration
On-Grid Onshore Wind Energy
Wet flue gas desulfurization systems
High-speed rail
On-Grid Offshore Wind Energy
Polyethylene LD
Zinc
Cable TV
Ebook reader
Ethylene Glycol
RCV1 Vaccine
Herbicide-Tolerant Corn
Ethyl Alcohol
Polyester Fiber
Phenol
Home computers
Cadmium Refining
DTP3 Vaccine
Primary copper production
Air-Source Heat Pumps
Oil Refining Capacity
Freezer
Latent heat storage
Herbicide-Tolerant Soybeans
Aquaculture production
Canals
Internet Traffic
Space Launches
Pentaerythritol
Polystyrene
Sodium Chlorate
Cobalt Mine Production
Social media usage
Potash Fertilizer
Rare Earth Mine Production
FCC-Refineries
Refrigerators

In [11]:
all_tech_df[all_tech_df['Technology Name']=='Marine Energy']

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
250,Marine Energy_Installed electricity capacity_AU,National,AU,Australia,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
251,Marine Energy_Installed electricity capacity_BR,National,BR,Brazil,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,0.05,0.05,0.05,0.05,0.05,0.05,NaN,NaN,NaN,NaN
252,Marine Energy_Installed electricity capacity_CA,National,CA,Canada,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,20.0,20.0,20.0,20.0,20.0,20.0,NaN,NaN,NaN,NaN
253,Marine Energy_Installed electricity capacity_CN,National,CN,China,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,4.25,4.25,4.25,4.25,4.75,4.75,NaN,NaN,NaN,NaN
254,Marine Energy_Installed electricity capacity_DK,National,DK,Denmark,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Marine Energy_Installed electricity capacity_FO,National,FO,Faroe Islands,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,NaN,NaN,NaN,NaN,0.1,0.1,NaN,NaN,NaN,NaN
256,Marine Energy_Installed electricity capacity_FR,National,FR,France,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,220.224,218.87,218.002,214.067,211.765,211.765,NaN,NaN,NaN,NaN
257,Marine Energy_Installed electricity capacity_IT,National,IT,Italy,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,0.2,0.2,0.2,0.2,0.205,0.205,NaN,NaN,NaN,NaN
258,Marine Energy_Installed electricity capacity_NL,National,NL,Netherlands,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,2.05,2.05,2.05,2.05,2.05,2.05,NaN,NaN,NaN,NaN
259,Marine Energy_Installed electricity capacity_NZ,National,NZ,New Zealand,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,NaN,NaN,NaN,0.002,0.004,0.004,NaN,NaN,NaN,NaN
260,Marine Energy_Installed electricity capacity_NO,National,NO,Norway,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,0.2,0.2,0.2,0.2,0.2,0.2,NaN,NaN,NaN,NaN
261,Marine Energy_Installed electricity capacity_PT,National,PT,Portugal,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,NaN,0.4,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Marine Energy_Installed electricity capacity_KR,National,KR,Republic of Korea,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,255.0,255.0,255.0,256.0,255.5,255.5,NaN,NaN,NaN,NaN
263,Marine Energy_Installed electricity capacity_RU,National,RU,Russian Federation,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,1.7,1.7,1.7,1.7,1.7,1.7,NaN,NaN,NaN,NaN
264,Marine Energy_Installed electricity capacity_SG,National,SG,Singapore,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,0.021,0.021,0.021,0.021,0.021,0.021,NaN,NaN,NaN,NaN
265,Marine Energy_Installed electricity capacity_ES,National,ES,Spain,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,4.796,4.796,4.796,4.796,4.796,4.796,NaN,NaN,NaN,NaN
266,Marine Energy_Installed electricity capacity_SE,National,SE,Sweden,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,0.187,0.187,0.187,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,Marine Energy_Installed electricity capacity_GB,National,GB,United Kingdom of Great Britain and Northern I...,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,8.938,13.487,18.398,20.398,22.0,22.0,NaN,NaN,NaN,NaN
268,Marine Energy_Installed electricity capacity_US,National,US,United States of America,Marine Energy,Installed electricity capacity,MW,IRENA,NaN,NaN,...,0.04,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
all_tech_df.to_csv('all_tech.csv', index=False)