In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
csv = []
for file in clean_files:
     if '.csv' in file:
        name = path + file
        csv.append(name)

In [4]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Metric, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, ...]
Index: []

[0 rows x 334 columns]

In [5]:
df_list = [frame]
for file in csv:
    file = pd.read_csv(file)
    df_list.append(file)

In [6]:
all_tech_df = pd.concat(df_list)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,183 r
0,Lithium-ion battery storage_Cumulative Rated C...,National,TG,Togo,Lithium-ion battery storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-ion battery storage_Cumulative Rated P...,National,TG,Togo,Lithium-ion battery storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sensible heat storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible heat storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sensible heat storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible heat storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Pumped hydro storage_Cumulative Rated Capacity_CA,National,CA,Canada,Pumped hydro storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Raw steel production_Annual production_VN,National,VN,Vietnam,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Raw steel production_Annual production_YU,National,YU,Yugoslavia,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Raw steel production_Annual production_ZW,National,ZW,Zimbabwe,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied natural gas_Exports_US,NaN,US,United States,Liquefied natural gas,Exports,Billion cubic feet,U.S. Energy Information Administration,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
for x in set(all_tech_df['Technology Name']):
    print(x)

Submarine Cables
Gold
Magnetic Data Storage
Nuclear Energy
Compressed air energy storage
Tin
Heat thermal battery storage
Automatic transmission
Maleic Anhydride
Aquaculture production
Steam Locomotives
Nitric Acid
Hydrochloric Acid
YFV Vaccine
Vinyl Chloride
On-Grid Nuclear
Railroad
Home air conditioning
Polystyrene
Nox pollution controls (boilers)
HEPBB Vaccine
Copper Refining
Polyvinylchloride
Zinc
Titanium Sponge
Nuclear Power
Videocassette recorder
Natural Gas Production
Bicycles
Ebook reader
On-Grid Onshore Wind Energy
Cable TV
Steamships
Smartphone usage
Nitrogen Fertilizer
Potash Fertilizer
Processor Performance
Motorcycles
Refined Cane Sugar Production
Acrylic Fiber
Electric Bicycles
Lithium Mine Production
Pentaerythritol
Sodium-based battery storage
On-Grid Coal And Peat
Lead
Renewable Power
Sodium Chlorate
Cadmium Refining
Benzene
Ethanolamine
Beer production
Latent heat storage
Synthetic Filaments
Polyester Fiber
Radial tires
Cement production
Oil Production
On-Grid Biogas
MCV2 Vaccine
Zinc-based battery
Colour TV
Aniline
BCG Vaccine
Bisphenol A
PCV3 Vaccine
Disk brakes
Rare Earth Mine Production
Biofuels
Hydro Power
On-Grid Marine Energy
Social media usage
Household Internet access
Telephones
Nuclear weapons
Shale production
Washing Machines
Lead mine production
RCV1 Vaccine
Sand and gravel production (industrial)
Capture fisheries production
Nickel production
Microcomputers
Off-Grid Onshore Wind Energy
On-Grid Solid Biofuels
Households with only mobile phones (no landlines)
Wet flue gas desulfurization systems
Stove
Raw steel production
Caustic Soda Acid
On-Grid Offshore Wind Energy
Primary Magnesium
Running water
DTP1 Vaccine
Graphite Mine Production
CFLs
Primary aluminum production
IPV1 Vaccine
Vinyl Acetate
High-speed rail
Neoprene Rubber
Home computers
Artificial and Synthetic Fibers
Public roads
Methanol
Flywheel battery storage
HEPB3 Vaccine
NatGas Power
On-Grid Geothermal Energy
POL3 Vaccine
Laundry Dryers
On-Grid Oil
Lead-acid battery storage
Desalination capacity
On-Grid Liquid Biofuels
Flow battery storage
Crop harvester
Coal Production
Ethyl Alcohol
Caprolactam
Tablet
DTP3 Vaccine
Coal Power
Passenger cars
Refrigerators
Electro-chemical capacitor
Zambia
Ground Source Heat Pumps
Primary copper production
Natural gas pipeline
On-Grid Renewable Hydropower
Flush toilet
Urea
Nickel-based battery
Transistors per Microprocessor
Electricity
Postal Traffic
Freezer
Primary bauxite production
Motor Gasoline
Internet Backbone Bandwidth
Vacuums
Wind Power
Steam ships
Formaldehyde
On-Grid Natural Gas
Liquefied natural gas
MCV1 Vaccine
Styrene
Microprocessor Clock Speed
FCC-Refineries
On-Grid Solar Photovoltaic
Amazon Prime users
Oil pipeline
Passenger Cars
Shipping container port infrastructure
On-Grid Solar Thermal Energy
Sodium
Central heating
Stationary Steam Engines
Television
Random Access Memory
Cellphones
Computing Growth
Acrylonitrile
Gold production
On-Grid Mixed Hydro Plants
Polyethylene LD
Telegraph Traffic
Radio
Phosphate Fertilizer
Electric Range
Cyclohexane
Dishwashers
Phenol
Copper Mining
Internet Traffic
Iron ore
Ethylene
RTGS adoption
Magnesium
Ethylene Glycol
Shotgun Sanger DNA Sequencing
Paraxylene
Water Heater
Hydroelectricity
Microwaves
Canals
Phthalic Anhydride
Lithium-ion battery storage
Crude Oil
Salt production
Polyethylene HD
ROTAC Vaccine
Electronic ignition
Silver
Pumped hydro storage
Sand and gravel production (construction)
Milk production
Hydrofluoric Acid
Hydrogen storage
Jet Aircraft
Power steering
Sensible heat storage
Sulphuric Acid
Copper
Iron
HIB3 Vaccine
Oil Refining Capacity
Caustic Soda
Podcasting
Cobalt Mine Production

In [10]:
all_tech_df[all_tech_df['Technology Name']=='Lead mine production']

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,183 r
0,Lead mine production_Annual production_DZ,National,DZ,Algeria,Lead mine production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lead mine production_Annual production_AR,National,AR,Argentina,Lead mine production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Lead mine production_Annual production_AU,National,AU,Australia,Lead mine production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lead mine production_Annual production_AT,National,AT,Austria,Lead mine production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lead mine production_Annual production_BO,National,BO,Bolivia,Lead mine production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Lead mine production_Annual production_UZ,National,UZ,Uzbekistan,Lead mine production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Lead mine production_Annual production_VN,National,VN,Vietnam,Lead mine production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Lead mine production_Annual production_YU,National,YU,Yugoslavia,Lead mine production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Lead mine production_Annual production_ZM,National,ZM,Zambia,Lead mine production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Lead mine production_Annual production_World,Global,World,World,Lead mine production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
all_tech_df.to_csv('all_tech.csv', index=False)