In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os
import locale
from locale import atof

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
csv = []
for file in clean_files:
    if '.csv' in file:
        name = path + file
        csv.append(name)

In [4]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Metric, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, ...]
Index: []

[0 rows x 334 columns]

In [5]:
locale.setlocale(locale.LC_NUMERIC, '')

'en_US.UTF-8'

In [6]:
# don't use default na, this erroneously converts 'NA' (iso code for Namibia) to a missing value
# I manually input all the default na vals except for 'NA' to prevent this
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
df_list = [frame]
for file in csv:
    file = pd.read_csv(file, thousands=',',keep_default_na=False, 
                       na_values=['-1.#IND', '1.#QNAN', '1.#IND', '-1.#QNAN', '#N/A N/A', '#N/A', 'N/A', 'n/a', 
                                  '<NA>', '#NA', 'NULL', 'null', 'NaN', '-NaN', 'nan', '-nan', 'None', ''])
    df_list.append(file)

In [7]:
all_tech_df = pd.concat(df_list)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,NaN,190.00,290.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,NaN,760.00,1160.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,255000.00,355000.00,455000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,1195000.00,1745000.00,2945000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,4574000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
0,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied natural gas_Annual Production_US,National,US,United States,Liquefied natural gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,NaN,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
len(set(all_tech_df['Technology Name']))

204

In [9]:
for x in set(all_tech_df['Technology Name']):
    print(x)

Concentrated Solar Power
Phthalic Anhydride
Silver
Central heating
Air-Source Heat Pumps
Cadmium Refining
Random Access Memory
Coal Power
Shotgun Sanger DNA Sequencing
Electronic ignition
Lithium-Ion Battery Storage
Raw steel production
Radio
Methanol
Herbicide-Tolerant Soybeans
Aniline
Social media usage
Submarine Cables
Urea
Ethyl Alcohol
High-Density Polyethylene
Railroad
All Biofuels
Ammonia Synthesis
Acrylic Fiber
Television
Podcasting
Transistors per Microprocessor
Crude Oil
Caustic Soda
HIB3 Vaccine
Microwaves
Polystyrene
Capture fisheries production
Primary aluminum production
Ethylene
RCV1 Vaccine
Automatic transmission
Rare Earth Mine Production
Liquid Biofuels
Insect-Resistant Cotton
Steam Locomotives
Biogas
Lead-Acid Battery Storage
Telephones
Paraxylene
Nickel production
Ethanolamine
Sand and gravel production (construction)
Stove
Wet flue gas desulfurization systems
Bicycles
Solar Photovoltaic
YFV Vaccine
Herbicide-Tolerant Cotton
Steam ships
Crop harvester
Solar Thermal Energy
Latent Heat Storage
Electricity
Aquaculture production
Vacuums
Primary bauxite production
Natural gas pipeline
Nitric Acid
Hydrogen Storage
Low-Density Polyethylene
Natural Gas Production
Sodium Chlorate
Magnetic Data Storage
Zinc
Tin
Vinyl Acetate
Desalination capacity
Insect-Resistant Corn
Potash Fertilizer
Motor Gasoline
Compact fluorescent light bulbs
Public roads
Polyvinylchloride
Home computers
Heat Thermal Battery Storage
Internet Backbone Bandwidth
MCV1 Vaccine
Space Launches
Motorcycles
Carbon Capture & Sequestration
Cable TV
HEPBB Vaccine
Caprolactam
Lithium Mine Production
Geothermal Energy
Iron
Canals
Nuclear Energy
Electro-Chemical Capacitor
Lead mine production
Magnesium
Vinyl Chloride
Formaldehyde
Flywheel Battery Storage
Microprocessor Clock Speed
Cane Sugar Production
Amazon Prime users
Primary copper production
Titanium Sponge
Herbicide-Tolerant Corn
PCV3 Vaccine
Milk production
Internet Traffic
Microcomputers
Dishwashers
Oil Refining Capacity
Phenol
Cyclohexane
Maleic Anhydride
Copper Refining
Jet Aircraft
Ethylene Glycol
Liquefied natural gas
Compressed Air Energy Storage
Acrylonitrile
Radial tires
Smartphone usage
Copper Mining
Iron ore
Videocassette recorder
Beer Production
Ground Source Heat Pumps
Zinc-Based Battery
MCV2 Vaccine
BCG Vaccine
Hydroelectricity
Disk brakes
Home air conditioning
Hydrofluoric Acid
Laundry Dryers
Running water
Benzene
Cement production
Washing Machines
Sodium
Postal Traffic
Natural Gas Power
Flow Battery Storage
Processor Performance
Passenger Cars
Graphite Mine Production
Synthetic Filaments
Onshore Wind Energy
Sensible Heat Storage
Electric Bicycles
Nickel-Based Battery
Salt production
Pentaerythritol
Household Internet access
Real-time gross settlement adoption
Phosphate Fertilizer
HEPB3 Vaccine
Computing Growth
Oil pipeline
Liquefied Natural Gas
Nuclear weapons
Tablet
Solid Biofuels
Nitrogen Fertilizer
Cobalt Mine Production
Gold production
Water Heater
Bisphenol A
Power steering
Stationary Steam Engines
Sand and gravel production (industrial)
POL3 Vaccine
ROTAC Vaccine
Flush toilet
DTP1 Vaccine
Oil Production
Ebook reader
Neoprene Rubber
High-speed rail
Renewable Power
Primary Magnesium
Marine Energy
Colour TV
Pumped Hydro Storage
DTP3 Vaccine
Cellphones
Styrene
Sodium-Based Battery Storage
Hydrochloric Acid
IPV1 Vaccine
Polyester Fiber
Coal Production
Freezer
Households with only mobile phones (no landlines)
Refrigerators
Fluid Catalytic Cracking Refineries
Offshore Wind Energy
Telegraph Traffic
Nox pollution controls (boilers)
Sulphuric Acid
Electric Range
Shale production

In [10]:
all_tech_df[all_tech_df['Technology Name']=='Cellphones']

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
10,Cellphones_Cumulative Total Capacity_World,Global,World,World,Cellphones,Cumulative Total Capacity,MW,IIASA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Cellphones_Total Number_BO,National,BO,Bolivia,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cellphones_Total Number_LS,National,LS,Lesotho,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cellphones_Total Number_MR,National,MR,Mauritania,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cellphones_Total Number_CI,National,CI,Ivory Coast,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Cellphones_Total Number_GT,National,GT,Guatemala,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,Cellphones_Total Number_BJ,National,BJ,Benin,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Cellphones_Total Number_TR,National,TR,Turkey,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,Cellphones_Total Number_GA,National,GA,Gabon,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,Cellphones_Total Number_LR,National,LR,Liberia,Cellphones,Total Number,Number of users,NBER CHAT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
all_tech_df['Technology Name'] = all_tech_df['Technology Name'].str.title()

In [12]:
all_tech_df.insert(8, 'Long Technology Name', all_tech_df['Metric'] + '|' + all_tech_df['Technology Name'])
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Lithium-Ion Battery Sto...,NaN,...,NaN,190.00,290.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity|Lithium-Ion Battery ...,NaN,...,NaN,760.00,1160.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Sensible Heat Storage,NaN,...,255000.00,355000.00,455000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity|Sensible Heat Storage,NaN,...,1195000.00,1745000.00,2945000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Pumped Hydro Storage,NaN,...,4574000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,Raw steel production_Annual production_World,Global,World,World,Raw Steel Production,Annual production,Metric tons,U.S. Geological Survey,Annual production|Raw Steel Production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
0,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Liquefied natural gas_Annual Production_US,National,US,United States,Liquefied Natural Gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,Annual Production|Liquefied Natural Gas,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
0,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,...,NaN,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
all_tech_df.reset_index(drop=True,inplace=True)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Lithium-Ion Battery Sto...,NaN,...,NaN,190.00,290.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity|Lithium-Ion Battery ...,NaN,...,NaN,760.00,1160.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Sensible Heat Storage,NaN,...,255000.00,355000.00,455000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity|Sensible Heat Storage,NaN,...,1195000.00,1745000.00,2945000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Pumped Hydro Storage,NaN,...,4574000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7569,Raw steel production_Annual production_World,Global,World,World,Raw Steel Production,Annual production,Metric tons,U.S. Geological Survey,Annual production|Raw Steel Production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7570,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
7571,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7572,Liquefied natural gas_Annual Production_US,National,US,United States,Liquefied Natural Gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,Annual Production|Liquefied Natural Gas,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
7573,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,...,NaN,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
omit = []
for col in all_tech_df.columns:
    if len(col) != 4 or col == 'Unit':
         omit.append(col)
empty_rows = all_tech_df.drop(columns=omit)
empty_rows.dropna(how='all', inplace=True)
na_idx = []
for idx in all_tech_df.index:
    if idx not in empty_rows.index:
        na_idx.append(idx)
all_tech_df.drop(na_idx, inplace=True)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Lithium-Ion Battery Sto...,NaN,...,NaN,190.00,290.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity|Lithium-Ion Battery ...,NaN,...,NaN,760.00,1160.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Sensible Heat Storage,NaN,...,255000.00,355000.00,455000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity|Sensible Heat Storage,NaN,...,1195000.00,1745000.00,2945000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Pumped Hydro Storage,NaN,...,4574000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7569,Raw steel production_Annual production_World,Global,World,World,Raw Steel Production,Annual production,Metric tons,U.S. Geological Survey,Annual production|Raw Steel Production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7570,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
7571,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7572,Liquefied natural gas_Annual Production_US,National,US,United States,Liquefied Natural Gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,Annual Production|Liquefied Natural Gas,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
7573,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,...,NaN,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
all_tech_df['Metric'] = all_tech_df['Metric'].str.title()

In [16]:
all_tech_df['Metric'] = all_tech_df['Metric'].str.strip()

In [17]:
set(all_tech_df['Metric'])

{'Annual Production',
 'Average Capacity Of Unit Additions',
 'Computing Capacity',
 'Cumulative Acreage',
 'Cumulative Length',
 'Cumulative Rated Capacity',
 'Cumulative Rated Power',
 'Cumulative Total Capacity',
 'Installed Capacity',
 'Installed Electricity Capacity',
 'Net Total Capacity',
 'Number Of Weapons',
 'Price',
 'Share Of Boilers',
 'Share Of Households',
 'Share Of Market',
 'Share Of Population',
 'Total Capacity',
 'Total Length',
 'Total Number',
 'Yearly Launches'}

In [18]:
all_tech_df.to_csv('all_tech_version 2.0.csv', index=False)

In [19]:
all_tech_df = all_tech_df[all_tech_df['Metric']!='Price']
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-Ion Battery Storage_Cumulative Rated P...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Lithium-Ion Battery Sto...,NaN,...,NaN,190.00,290.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-Ion Battery Storage_Cumulative Rated C...,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity|Lithium-Ion Battery ...,NaN,...,NaN,760.00,1160.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Sensible Heat Storage,NaN,...,255000.00,355000.00,455000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible Heat Storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity|Sensible Heat Storage,NaN,...,1195000.00,1745000.00,2945000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Pumped Hydro Storage,NaN,...,4574000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7569,Raw steel production_Annual production_World,Global,World,World,Raw Steel Production,Annual Production,Metric tons,U.S. Geological Survey,Annual production|Raw Steel Production,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7570,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
7571,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7572,Liquefied natural gas_Annual Production_US,National,US,United States,Liquefied Natural Gas,Annual Production,Billion cubic feet,U.S. Energy Information Administration,Annual Production|Liquefied Natural Gas,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
7573,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,...,NaN,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
all_tech_df.to_csv('all_tech_version 1.5.csv', index=False)

In [21]:
no_country = []
for tech in set(all_tech_df['Technology Name']):
    countries = list(set(all_tech_df[all_tech_df['Technology Name'] == tech]['Country Name']))
    id_ = list(all_tech_df[all_tech_df['Technology Name'] == tech]['ID'])
    if len(countries) <= 2:
        no_country.extend(id_)

In [22]:
all_tech_w_countrylvl = all_tech_df.set_index('ID', drop=True)
all_tech_w_countrylvl.drop(index=no_country, inplace=True)
all_tech_w_countrylvl

,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,Long Technology Name,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
ID,,,,,,,,,,,,,,,,,,,,,
Lithium-Ion Battery Storage_Cumulative Rated Power_TG,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Lithium-Ion Battery Sto...,NaN,NaN,...,NaN,190.0,290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithium-Ion Battery Storage_Cumulative Rated Capacity_TG,National,TG,Togo,Lithium-Ion Battery Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity|Lithium-Ion Battery ...,NaN,NaN,...,NaN,760.0,1160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sensible Heat Storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Sensible Heat Storage,NaN,NaN,...,255000.0,355000.0,455000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sensible Heat Storage_Cumulative Rated Capacity_ZA,National,ZA,South Africa,Sensible Heat Storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,Cumulative Rated Capacity|Sensible Heat Storage,NaN,NaN,...,1195000.0,1745000.0,2945000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pumped Hydro Storage_Cumulative Rated Power_CA,National,CA,Canada,Pumped Hydro Storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,Cumulative Rated Power|Pumped Hydro Storage,NaN,NaN,...,4574000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Raw steel production_Annual production_ZW,National,ZW,Zimbabwe,Raw Steel Production,Annual Production,Metric tons,U.S. Geological Survey,Annual production|Raw Steel Production,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Raw steel production_Annual production_World,Global,World,World,Raw Steel Production,Annual Production,Metric tons,U.S. Geological Survey,Annual production|Raw Steel Production,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,Yearly Launches|Space Launches,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
all_tech_w_countrylvl.to_csv('all_tech_with_country-level.csv', index=False)