In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
all_tech = pd.read_csv('all_tech.csv')
all_tech

,ID,Country Code,Country Name,Technology Name,Unit,Data Source,1700,1701,1702,1703,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,"Oil Production, Million tonnes: CA",CA,Canada,Oil Production,Million tonnes,BP,NaN,NaN,NaN,NaN,...,218.844941,236.623854,257.745067,263.462162,252.022685,267.096470,NaN,NaN,NaN,NaN
1,"Oil Production, Million tonnes: MX",MX,Mexico,Oil Production,Million tonnes,BP,NaN,NaN,NaN,NaN,...,121.516944,109.584590,102.400224,95.000334,95.111225,96.486319,NaN,NaN,NaN,NaN
2,"Oil Production, Million tonnes: US",US,US,Oil Production,Million tonnes,BP,NaN,NaN,NaN,NaN,...,542.593149,574.134693,669.055938,749.895128,711.550649,711.124690,NaN,NaN,NaN,NaN
3,"Oil Production, Million tonnes: AR",AR,Argentina,Oil Production,Million tonnes,BP,NaN,NaN,NaN,NaN,...,28.630797,27.240149,27.542351,28.834834,27.657269,29.066317,NaN,NaN,NaN,NaN
4,"Oil Production, Million tonnes: BR",BR,Brazil,Oil Production,Million tonnes,BP,NaN,NaN,NaN,NaN,...,136.707063,142.641816,140.603161,151.199171,159.344927,156.792441,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1365,"Phosphate fertilizer production, Tonnes: ZM",ZM,Zambia,Phosphate fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
1366,"Potash fertilizer production, Tonnes: ZM",ZM,Zambia,Potash fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
1367,"Nitrogen fertilizer production, Tonnes: ZW",ZW,Zimbabwe,Nitrogen fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,...,11700.000000,12300.000000,13200.000000,13200.000000,13200.000000,NaN,NaN,NaN,NaN,NaN
1368,"Phosphate fertilizer production, Tonnes: ZW",ZW,Zimbabwe,Phosphate fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,...,2100.000000,9500.000000,8100.000000,8100.000000,8100.000000,NaN,NaN,NaN,NaN,NaN
1369,"Potash fertilizer production, Tonnes: ZW",ZW,Zimbabwe,Potash fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN

In [3]:
all_tech.duplicated('ID')

0       False
1       False
2       False
3       False
4       False
        ...
1365    False
1366    False
1367    False
1368    False
1369    False
Length: 1370, dtype: bool