In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
all_tech = pd.read_csv('all_tech.csv')
all_tech

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Oil Production_Annual Production_Million tonne...,National,CA,Canada,Oil Production,Annual Production,Million tonnes,BP,NaN,NaN,...,218.844941,236.623854,257.745067,263.462162,252.022685,267.096470,NaN,NaN,NaN,NaN
1,Oil Production_Annual Production_Million tonne...,National,MX,Mexico,Oil Production,Annual Production,Million tonnes,BP,NaN,NaN,...,121.516944,109.584590,102.400224,95.000334,95.111225,96.486319,NaN,NaN,NaN,NaN
2,Oil Production_Annual Production_Million tonne...,National,US,US,Oil Production,Annual Production,Million tonnes,BP,NaN,NaN,...,542.593149,574.134693,669.055938,749.895128,711.550649,711.124690,NaN,NaN,NaN,NaN
3,Oil Production_Annual Production_Million tonne...,National,AR,Argentina,Oil Production,Annual Production,Million tonnes,BP,NaN,NaN,...,28.630797,27.240149,27.542351,28.834834,27.657269,29.066317,NaN,NaN,NaN,NaN
4,Oil Production_Annual Production_Million tonne...,National,BR,Brazil,Oil Production,Annual Production,Million tonnes,BP,NaN,NaN,...,136.707063,142.641816,140.603161,151.199171,159.344927,156.792441,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3661,Phosphate Fertilizer_Annual Production_Tonnes_ZM,National,ZM,Zambia,Phosphate Fertilizer,Annual Production,Tonnes,UN FAO,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
3662,Potash Fertilizer_Annual Production_Tonnes_ZM,National,ZM,Zambia,Potash Fertilizer,Annual Production,Tonnes,UN FAO,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
3663,Nitrogen Fertilizer_Annual Production_Tonnes_ZW,National,ZW,Zimbabwe,Nitrogen Fertilizer,Annual Production,Tonnes,UN FAO,NaN,NaN,...,11700.000000,12300.000000,13200.000000,13200.000000,13200.000000,NaN,NaN,NaN,NaN,NaN
3664,Phosphate Fertilizer_Annual Production_Tonnes_ZW,National,ZW,Zimbabwe,Phosphate Fertilizer,Annual Production,Tonnes,UN FAO,NaN,NaN,...,2100.000000,9500.000000,8100.000000,8100.000000,8100.000000,NaN,NaN,NaN,NaN,NaN
3665,Potash Fertilizer_Annual Production_Tonnes_ZW,National,ZW,Zimbabwe,Potash Fertilizer,Annual Production,Tonnes,UN FAO,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN

In [3]:
dup = []
for x in all_tech['ID']:
    if x not in dup:
        dup.append(x)
    else:
        print(x)

Nitrogen Fertilizer_Annual Production_Tonnes_CN
Phosphate Fertilizer_Annual Production_Tonnes_CN
Potash Fertilizer_Annual Production_Tonnes_CN
Nitrogen Fertilizer_Annual Production_Tonnes_CZ
Phosphate Fertilizer_Annual Production_Tonnes_CZ
Potash Fertilizer_Annual Production_Tonnes_CZ
Nitrogen Fertilizer_Annual Production_Tonnes_SD
Phosphate Fertilizer_Annual Production_Tonnes_SD
Potash Fertilizer_Annual Production_Tonnes_SD