In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [16]:
x = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
type(x)

dict

In [17]:
y = pd.DataFrame([x])
type(y)

pandas.core.frame.DataFrame

In [18]:
y

   a  b  c  d
0  1  2  3  4