In [1]:
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [11]:
def read_fao(file_name):
    df = pd.read_excel(file_name)
    df = df.drop(0)
    df = df.drop(columns=['Unnamed: 1', 'Unnamed: 2'])
    df = df.set_index('Unnamed: 0')
    df.index.name = 'Country Name'
    df = df.dropna(how='all')
    iso2 = []
    for country in df.index:
        if country=='China, Taiwan Province of':
            iso2.append('TW')
        elif country=='Serbia and Montenegro':
            iso2.append('CS')
        elif country=='USSR':
            iso2.append('SU')
        elif country=='Yugoslav SFR':
            iso2.append('YU')
        elif country=='Belgium-Luxembourg':
            iso2.append('BE-WLX')   
        else:
            iso2.append(coco.convert(names=country, to='iso2'))
    df['Country Code'] = iso2
    df.insert(0, 'Country Name', df.index)
    df = df.set_index('Country Code')
    df.insert(1, 'Unit', 'Tonnes')
    return df

In [13]:
fao_nitrogen = read_fao('FAOSTAT_data_2-9-2023.xls')
fao_nitrogen.insert(1, 'Technology Name', 'Nitrogen fertilizer production')
fao_nitrogen

,Country Name,Technology Name,Unit,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country Code,,,,,,,,,,,,,,,,,,,,,
AF,Afghanistan,Nitrogen fertilizer production,Tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17555,15776,15694,14416,14416,14416,14416,14416,14416,14416
AL,Albania,Nitrogen fertilizer production,Tonnes,NaN,NaN,NaN,NaN,NaN,NaN,5000,...,0,0,0,0,0,0,0,0,0,0
DZ,Algeria,Nitrogen fertilizer production,Tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19500,24500,68000,438300,777600,1043200,1043200,1043200,1043200,1043200
AO,Angola,Nitrogen fertilizer production,Tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
AG,Antigua and Barbuda,Nitrogen fertilizer production,Tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VN,Viet Nam,Nitrogen fertilizer production,Tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,461328.02,754400,967380,1011080,1039140,962458.67,1052485.22,998067.44,1099609.84,1647548.59
YE,Yemen,Nitrogen fertilizer production,Tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
YU,Yugoslav SFR,Nitrogen fertilizer production,Tonnes,12960,20463,62923,87122,90131,99905,101047,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZM,Zambia,Nitrogen fertilizer production,Tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
ZW,Zimbabwe,Nitrogen fertilizer production,Tonnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28000,20300,22200,25700,29300,11700,12300,13200,13200,13200