In [1]:
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
# https://www.fao.org/faostat/en/#data/RFN

In [3]:
fao = pd.read_csv('raw data/FAOSTAT_data_2-20-2023.csv')
fao = fao.drop(0)
fao = fao.drop(columns=['Unnamed: 1'])
fao = fao.dropna(how='all')
iso2 = []
for country in fao['Unnamed: 0']:
    if country=='China, Taiwan Province of':
        iso2.append('TW')
    elif country=='Serbia and Montenegro':
        iso2.append('CS')
    elif country=='USSR':
        iso2.append('SU')
    elif country=='Yugoslav SFR':
        iso2.append('YU')
    elif country=='Belgium-Luxembourg':
        iso2.append('BE-WLX')   
    else:
        iso2.append(coco.convert(names=country, to='iso2'))
fao.insert(1, 'Country Code', iso2)
fao = fao.rename(columns={'Unnamed: 0': 'Country Name', 'Unnamed: 2': 'Technology Name'})
fao.insert(3, 'Unit', 'Tonnes')
fao.insert(4, 'Data Source', 'UN FAO')
fao = fao.set_index('Country Code')
fao = fao.replace('Nutrient nitrogen N (total)', 'Nitrogen fertilizer production')
fao = fao.replace('Nutrient phosphate P2O5 (total)', 'Phosphate fertilizer production')
fao = fao.replace('Nutrient potash K2O (total)', 'Potash fertilizer production')
fao

,Country Name,Technology Name,Unit,Data Source,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country Code,,,,,,,,,,,,,,,,,,,,,
AF,Afghanistan,Nitrogen fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,NaN,NaN,...,17555,15776,15694,14416,14416,14416,14416,14416,14416,14416
AF,Afghanistan,Phosphate fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,NaN,NaN,...,1563,460,1539,1541,1541,1541,1541,1541,1541,1541
AF,Afghanistan,Potash fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
AL,Albania,Nitrogen fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
AL,Albania,Phosphate fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,500,2000,3000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZM,Zambia,Phosphate fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
ZM,Zambia,Potash fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
ZW,Zimbabwe,Nitrogen fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,NaN,NaN,...,28000,20300,22200,25700,29300,11700,12300,13200,13200,13200
ZW,Zimbabwe,Phosphate fertilizer production,Tonnes,UN FAO,11000,11000,15000,15000,20000,20000,...,0,0,5600,3800,2000,2100,9500,8100,8100,8100
ZW,Zimbabwe,Potash fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0

In [4]:
bp = pd.read_csv('cleaned data/bp.csv')
bp

,Country Code,Country Name,Technology Name,Unit,Data Source,1965,1966,1967,1968,1969,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CA,Canada,Oil production,Million tonnes,BP,43.874178,48.212154,52.701140,57.119336,62.218043,...,182.912943,195.409623,209.777010,216.074424,218.844941,236.623854,257.745067,263.462162,252.022685,267.096470
1,MX,Mexico,Oil production,Million tonnes,BP,18.053894,18.489542,20.463761,21.900666,22.965009,...,143.857278,142.091212,137.343922,127.734295,121.516944,109.584590,102.400224,95.000334,95.111225,96.486319
2,US,US,Oil production,Million tonnes,BP,427.694442,454.538861,484.221630,502.880332,511.351724,...,395.245087,448.684134,524.659261,567.122838,542.593149,574.134693,669.055938,749.895128,711.550649,711.124690
3,AR,Argentina,Oil production,Million tonnes,BP,13.764759,14.643966,15.962276,17.487586,18.106759,...,30.840747,30.185948,29.786305,30.045688,28.630797,27.240149,27.542351,28.834834,27.657269,29.066317
4,BR,Brazil,Oil production,Million tonnes,BP,5.045191,6.159290,7.750860,8.516863,9.289377,...,112.366533,110.152868,122.454669,132.192891,136.707063,142.641816,140.603161,151.199171,159.344927,156.792441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,CN,China,Biofuels production,Petajoules,BP,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,IN,India,Biofuels production,Petajoules,BP,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842,ID,Indonesia,Biofuels production,Petajoules,BP,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
843,KR,South Korea,Biofuels production,Petajoules,BP,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
844,TH,Thailand,Biofuels production,Petajoules,BP,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
fao.to_csv('cleaned data/fao.csv')