In [1]:
import pandas as pd
from pandas import Series, DataFrame
import string
import country_converter as coco

In [ ]:
def map_country_code(df):
    iso2 = []
    for country in df.index:
        if country=='USSR':
            iso2.append('SU')
        elif country=='Netherlands Antilles':
            iso2.append('AN')
        else:
            iso2.append(coco.convert(names=country, to='iso2'))
    df['Country Code'] = iso2
    df.insert(0, 'Country Name', df.index)
    df = df.set_index('Country Code')
    return df

In [ ]:
# https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html
# Statistical Review of World Energy - all data, 1965-2021
# https://www.bp.com/content/dam/bp/business-sites/en/global/corporate/xlsx/energy-economics/statistical-review/bp-stats-review-2022-all-data.xlsx

In [ ]:
def read_bp(sheet):
    missing_values = ['-', '^','â™¦']
    df = pd.read_excel('raw data/bp-stats-review-2022-all-data.xlsx', sheet_name=sheet, header=2, index_col=0, 
                       na_values=missing_values)
    omit = []
    for col in df.columns:
        if type(col) != int:
            omit.append(col)
    df = df.drop(columns=omit)
    df = df.dropna(how='all')
    idx = []
    for country in df.index:
        x = country.strip(string.digits)
        idx.append(x)
    unit = df.index.name.rstrip('*')
    unit = unit.strip(string.digits)
    df.insert(0, 'Unit', unit)
    df.insert(1, 'Data Source', 'BP')
    df['Country Name'] = idx
    df = df.set_index('Country Name')
    for country in df.index:
        strings = ['Total', 'Rest of World', 'Other', 'European Union', 'OECD', 'Central America', \
                   'Eastern Africa', 'Middle Africa', 'Western Africa', 'OPEC']
        for s in strings:
            if s in country:
                df = df.drop(country)
    df = map_country_code(df)
    return df

In [37]:
missing_values = ['-', '^','â™¦']
df = pd.read_excel('raw data/bp-stats-review-2022-all-data.xlsx', sheet_name='Oil Production - Tonnes', header=2, 
                   na_values=missing_values)
col = df.columns[0]
df.rename(columns={col: 'Country Name'}, inplace=True)
omit = []
for col in df.columns:
    if type(col) != int and col!= 'Country Name':
        omit.append(col)
df = df.drop(columns=omit)
df = df.dropna(how='all')
df

,Country Name,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Canada,43.874178,48.212154,52.701140,57.119336,62.218043,70.067889,75.163773,86.713147,100.314612,...,182.912943,195.409623,209.777010,216.074424,218.844941,236.623854,257.745067,263.462162,252.022685,267.096470
2,Mexico,18.053894,18.489542,20.463761,21.900666,22.965009,24.179007,24.107319,25.097617,25.859389,...,143.857278,142.091212,137.343922,127.734295,121.516944,109.584590,102.400224,95.000334,95.111225,96.486319
3,US,427.694442,454.538861,484.221630,502.880332,511.351724,533.489849,525.887850,527.887889,514.652287,...,395.245087,448.684134,524.659261,567.122838,542.593149,574.134693,669.055938,749.895128,711.550649,711.124690
4,Total North America,489.622514,521.240557,557.386531,581.900334,596.534776,627.736745,625.158942,639.698654,640.826287,...,722.015309,786.184969,871.780194,910.931556,882.955035,920.343137,1029.201229,1108.357624,1058.684559,1074.707478
6,Argentina,13.764759,14.643966,15.962276,17.487586,18.106759,20.000517,21.570862,22.218034,21.601172,...,30.840747,30.185948,29.786305,30.045688,28.630797,27.240149,27.542351,28.834834,27.657269,29.066317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,w Less than 0.05%.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,"USSR includes CIS, Georgia, Ukraine and the Ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,"# Excludes Estonia, Latvia and Lithuania prio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Note: Annual changes and shares of total are c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Growth rates are adjusted for leap years.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

idx = []
for country in df.index:
    x = country.strip(string.digits)
    idx.append(x)
unit = df.index.name.rstrip('*')
unit = unit.strip(string.digits)
df.insert(0, 'Unit', unit)
df.insert(1, 'Data Source', 'BP')
df['Country Name'] = idx
df = df.set_index('Country Name')
for country in df.index:
    strings = ['Total', 'Rest of World', 'Other', 'European Union', 'OECD', 'Central America', \
               'Eastern Africa', 'Middle Africa', 'Western Africa', 'OPEC']
    for s in strings:
        if s in country:
            df = df.drop(country)

In [ ]:
bp_oil_production = read_bp('Oil Production - Tonnes')
bp_oil_production.insert(1, 'Technology Name', 'Oil production')
#bp_oil_production.to_csv('cleaned data/bp.csv')

In [ ]:
bp_oil_production.insert(0, 'ID', bp_oil_production['Technology Name'] + ' - ' + bp_oil_production.index)

In [ ]:
bp_oil_production

In [ ]:
bp_oil_production = bp_oil_production.set_index('ID')
bp_oil_production

In [ ]:
bp_oil_refining = read_bp('Oil - Refining capacity')
bp_oil_refining.insert(1, 'Technology Name', 'Oil refining')
bp_oil_refining.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_gas = read_bp('Gas Production - Bcm')
bp_gas.insert(1, 'Technology Name', 'Gas production')
bp_gas.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_coal = read_bp('Coal Production - Tonnes')
bp_coal.insert(1, 'Technology Name', 'Coal production')
bp_coal.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_nuclear = read_bp('Nuclear Generation - TWh')
bp_nuclear.insert(1, 'Technology Name', 'Nuclear generation')
bp_nuclear.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_hydro = read_bp('Hydro Generation - TWh')
bp_hydro.insert(1, 'Technology Name', 'Hydroelectricity generation')
bp_hydro.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_renewable = read_bp('Renewable power - TWh')
bp_renewable.insert(1, 'Technology Name', 'Renewable energy generation')
bp_renewable.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_wind_gen = read_bp('Wind Generation - TWh')
bp_wind_gen.insert(1, 'Technology Name', 'Wind power generation')
bp_wind_gen.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_solar_gen = read_bp('Solar Generation - TWh')
bp_solar_gen.insert(1, 'Technology Name', 'Solar power generation')
bp_solar_gen.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_electricity_gen = read_bp('Electricity Generation')
bp_electricity_gen.insert(1, 'Technology Name', 'Electricity generation')
bp_electricity_gen.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_lithium = read_bp('Lithium Production-Reserves')
bp_lithium.insert(1, 'Technology Name', 'Lithium production')
bp_lithium.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_cobalt = read_bp('Cobalt Production-Reserves')
bp_cobalt.insert(1, 'Technology Name', 'Cobalt production')
bp_cobalt.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_rare_earth = read_bp('Rare Earth Production-Reserves')
bp_rare_earth.insert(1, 'Technology Name', 'Rare earth production')
bp_rare_earth.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_graphite = read_bp('Graphite Production-Reserves')
bp_graphite.insert(1, 'Technology Name', 'Graphite production')
bp_graphite.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
def read_bp2(sheet):
    missing_values = ['-', '^','â™¦']
    df = pd.read_excel('raw data/bp-stats-review-2022-all-data.xlsx', sheet_name=sheet, header=3, index_col=0, 
                       na_values=missing_values)
    omit = []
    for col in df.columns:
        if type(col) != int:
            omit.append(col)
    df = df.drop(columns=omit)
    df = df.dropna(how='all')
    idx = []
    for country in df.index:
        x = country.strip(string.digits)
        idx.append(x)
    df.insert(0, 'Unit', df.index.name.rstrip('*'))
    df.insert(1, 'Data Source', 'BP')
    df['Country Name'] = idx
    df = df.set_index('Country Name')
    for country in df.index:
        strings = ['Total', 'Rest of World', 'Other', 'European Union', 'OECD', 'Central America', \
                   'Eastern Africa', 'Middle Africa', 'Western Africa', 'OPEC']
        for s in strings:
            if s in country:
                df = df.drop(country)
    df = map_country_code(df)
    return df

In [ ]:
bp_solar = read_bp2('Solar Capacity')
bp_solar.insert(1, 'Technology Name', 'Solar capacity - Installed photovoltaic power')
bp_solar.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
bp_wind = read_bp2('Wind Capacity')
bp_wind.insert(1, 'Technology Name', 'Wind - Installed turbine capacity')
bp_wind.to_csv('cleaned data/bp.csv', mode='a', header=False)

In [ ]:
def read_bp3(sheet):
    missing_values = ['-', '^','â™¦']
    df = pd.read_excel('raw data/bp-stats-review-2022-all-data.xlsx', sheet_name=sheet, header=2, index_col=0, 
                       na_values=missing_values, skipfooter=40)
    omit = []
    for col in df.columns:
        if type(col) != int:
            omit.append(col)
    df = df.drop(columns=omit)
    df = df.dropna(how='all')
    idx = []
    for country in df.index:
        x = country.strip(string.digits)
        idx.append(x)
    df.insert(0, 'Unit', df.index.name.rstrip('*'))
    df.insert(1, 'Data Source', 'BP')
    df['Country Name'] = idx
    df = df.set_index('Country Name')
    for country in df.index:
        strings = ['Total', 'Rest of World', 'Other', 'European Union', 'OECD', 'Central America', \
                   'Eastern Africa', 'Middle Africa', 'Western Africa', 'OPEC']
        for s in strings:
            if s in country:
                df = df.drop(country)
    df = map_country_code(df)
    return df

In [ ]:
bp_biofuels = read_bp3('Biofuels production - PJ')
bp_biofuels.insert(1, 'Technology Name', 'Biofuels production')
bp_biofuels.to_csv('cleaned data/bp.csv', mode='a', header=False)