In [1]:
import pandas as pd
from pandas import Series, DataFrame
import string
import sqlite3
import country_converter as coco

In [2]:
def map_country_code(df):
    iso2 = []
    for country in df.index:
        if country=='USSR':
            iso2.append('SU')
        elif country=='Netherlands Antilles':
            iso2.append('AN')
        else:
            iso2.append(coco.convert(names=country, to='iso2'))
    df['Country Code'] = iso2
    df.insert(0, 'Country Name', df.index)
    df = df.set_index('Country Code')
    return df

In [3]:
def read_bp(sheet):
    missing_values = ['-', '^','♦']
    df = pd.read_excel('bp-stats-review-2022-all-data.xlsx', sheet_name=sheet, header=2, index_col=0, 
                       na_values=missing_values)
    omit = []
    for col in df.columns:
        if type(col) != int:
            omit.append(col)
    df = df.drop(columns=omit)
    df = df.dropna(how='all')
    idx = []
    for country in df.index:
        x = country.strip(string.digits)
        idx.append(x)
    unit = df.index.name.rstrip('*')
    unit = unit.strip(string.digits)
    df.insert(0, 'Unit', unit)
    df['Country Name'] = idx
    df = df.set_index('Country Name')
    for country in df.index:
        strings = ['Total', 'Rest of World', 'Other', 'European Union', 'OECD', 'Central America', \
                   'Eastern Africa', 'Middle Africa', 'Western Africa', 'OPEC']
        for s in strings:
            if s in country:
                df = df.drop(country)
    df = map_country_code(df)
    return df

In [4]:
bp_oil_production = read_bp('Oil Production - Tonnes')
bp_oil_production.insert(1, 'Technology Name', 'Oil production')
bp_oil_production

,Country Name,Technology Name,Unit,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Oil production,Million tonnes,43.874178,48.212154,52.701140,57.119336,62.218043,70.067889,75.163773,...,182.912943,195.409623,209.777010,216.074424,218.844941,236.623854,257.745067,263.462162,252.022685,267.096470
MX,Mexico,Oil production,Million tonnes,18.053894,18.489542,20.463761,21.900666,22.965009,24.179007,24.107319,...,143.857278,142.091212,137.343922,127.734295,121.516944,109.584590,102.400224,95.000334,95.111225,96.486319
US,US,Oil production,Million tonnes,427.694442,454.538861,484.221630,502.880332,511.351724,533.489849,525.887850,...,395.245087,448.684134,524.659261,567.122838,542.593149,574.134693,669.055938,749.895128,711.550649,711.124690
AR,Argentina,Oil production,Million tonnes,13.764759,14.643966,15.962276,17.487586,18.106759,20.000517,21.570862,...,30.840747,30.185948,29.786305,30.045688,28.630797,27.240149,27.542351,28.834834,27.657269,29.066317
BR,Brazil,Oil production,Million tonnes,5.045191,6.159290,7.750860,8.516863,9.289377,8.792737,9.203948,...,112.366533,110.152868,122.454669,132.192891,136.707063,142.641816,140.603161,151.199171,159.344927,156.792441
CO,Colombia,Oil production,Million tonnes,10.654546,10.443867,10.075181,9.257762,11.233911,11.759925,11.675790,...,49.862574,53.189490,52.162822,52.963156,46.787709,44.981902,45.584496,46.656255,41.251981,38.878026
EC,Ecuador,Oil production,Million tonnes,0.428781,0.375184,0.321586,0.268722,0.214391,0.214391,0.214391,...,27.098114,28.242780,29.829982,29.108609,29.473041,28.477106,27.722830,28.460511,25.763542,25.344872
PE,Peru,Oil production,Million tonnes,3.394165,3.394165,3.811905,3.979430,3.864122,3.862692,3.299296,...,6.865127,7.314465,7.541427,6.535412,5.848813,5.693446,5.857806,6.105302,5.466467,5.305072
TT,Trinidad & Tobago,Oil production,Million tonnes,6.671460,7.562912,8.850564,9.485210,7.775441,6.933514,6.388738,...,5.182263,5.108392,5.054163,4.824142,4.331345,4.379927,3.900726,3.660321,3.431932,3.489987
VE,Venezuela,Oil production,Million tonnes,184.113962,178.785909,187.925042,191.762384,190.805531,197.238062,189.876556,...,139.324997,137.781445,138.510268,147.618822,132.556389,114.095175,83.843239,52.057038,32.701681,33.408471
DK,Denmark,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.979991,8.682906,8.130409,7.689812,6.924374,6.736967,5.646862,5.017234,3.520207,3.152110
IT,Italy,Oil production,Million tonnes,2.278000,1.850000,1.723000,1.627000,1.591000,1.502000,1.353000,...,5.396411,5.501556,5.764933,5.470205,3.759517,4.148197,4.684199,4.278568,5.393780,4.840300
NO,Norway,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.292781,...,87.045020,82.930070,84.966372,87.636523,90.306715,88.856829,83.318372,79.777811,92.035975,93.796252
RO,Romania,Oil production,Million tonnes,12.821000,13.075000,13.456000,13.535000,13.546000,13.677000,14.093000,...,3.982000,4.131000,4.052000,4.003000,3.802000,3.634000,3.577000,3.567000,3.457000,3.322000
GB,United Kingdom,Oil production,Million tonnes,0.084000,0.078000,0.089000,0.084000,0.085000,0.156000,0.212000,...,44.560820,40.646390,39.927920,45.287730,47.444578,46.630331,50.870390,51.817708,48.985260,40.864806
AZ,Azerbaijan,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,43.738300,43.845000,42.512900,42.019900,41.427600,39.089300,39.198300,37.994400,35.026300,35.138796
KZ,Kazakhstan,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,79.279391,82.308331,81.109114,80.174011,78.589857,86.980128,90.480870,91.043885,85.957182,85.989040
RU,Russian Federation,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,526.735645,532.223585,537.420587,544.552364,558.479079,558.546697,567.884888,573.388845,524.404217,536.445850
TM,Turkmenistan,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.990000,12.470000,12.850000,13.230000,13.180000,13.055000,12.509000,12.213000,10.400909,11.984095
SU,USSR,Oil production,Million tonnes,242.888000,265.100000,288.100000,309.200000,328.300000,353.039000,377.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
UZ,Uzbekistan,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.337100,3.167181,2.867052,2.728090,2.615407,2.766624,2.890915,3.010894,2.781504,2.718148
IR,Iran,Oil production,Million tonnes,95.662088,106.892857,130.507555,142.780220,169.263736,192.586962,228.684626,...,180.478795,169.672025,174.046495,180.242937,216.144450,231.945673,219.246085,158.327680,143.249750,167.658092
IQ,Iraq,Oil production,Million tonnes,64.675439,68.566802,60.488529,74.237247,74.921053,76.300270,83.442645,...,151.315151,151.935143,158.809882,195.615876,217.602278,222.381854,227.012450,234.220106,202.037840,200.829370
KW,Kuwait,Oil production,Million tonnes,119.011362,125.556470,126.392344,133.128194,140.907964,151.798934,162.549492,...,153.968094,151.430325,150.225027,148.246973,152.734328,144.968769,146.849035,143.381896,130.340337,131.092786
OM,Oman,Oil production,Million tonnes,0.000000,0.000000,2.822931,11.968250,16.194708,16.442334,14.560380,...,44.999682,46.082194,46.218958,48.030926,49.316164,47.564363,47.824124,47.328160,46.111052,46.824545
QA,Qatar,Oil production,Million tonnes,11.605327,14.494207,16.137880,16.981209,17.731745,18.080403,21.417557,...,79.601885,79.657387,79.379248,75.677625,75.110464,73.571041,74.845033,71.889240,72.043449,73.320237
SA,Saudi Arabia,Oil production,Million tonnes,111.024176,130.968819,141.287088,154.222747,162.750893,192.171497,240.794712,...,549.225546,538.413090,543.823576,568.034177,586.712209,559.319387,576.817653,556.564010,519.582902,515.022998
SY,Syria,Oil production,Million tonnes,0.000000,0.000000,0.000000,1.048568,2.639154,4.232606,5.278308,...,8.078834,2.686481,1.459948,1.197836,1.101254,1.078810,1.051034,1.510591,1.964180,4.598421
AE,United Arab Emirates,Oil production,Million tonnes,13.666313,17.433992,18.504246,24.115112,30.402945,37.754279,51.309208,...,156.245556,162.766750,163.396597,176.062453,182.379589,176.224335,176.686676,180.544180,166.582744,164.380594
YE,Yemen,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.140715,9.034351,6.903391,2.607259,1.610472,2.954849,4.051518,4.075111,3.767377,2.759777
DZ,Algeria,Oil production,Million tonnes,26.139312,33.642476,38.645242,42.423748,44.435793,48.313494,36.797660,...,67.212000,64.784000,68.771000,67.225000,68.417000,66.648000,65.332000,64.330000,57.516000,58.174000
AO,Angola,Oil production,Million tonnes,0.655000,0.631000,0.537000,0.750000,2.458000,5.065000,5.721000,...,85.295857,85.205920,83.277412,88.162659,85.768037,81.604942,74.085432,69.069890,64.220269,56.607404
TD,Chad,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.309353,4.759988,4.663832,5.809218,6.136010,5.168381,6.066114,6.663367,6.648839,6.117519
CG,Republic of Congo,Oil production,Million tonnes,0.071000,0.062000,0.050000,0.043000,0.024000,0.019000,0.014000,...,14.241384,12.323503,12.891468,11.933691,11.887969,13.800196,16.931360,17.226814,15.755473,14.020331
EG,Egypt,Oil production,Million tonnes,6.478000,6.257000,5.581000,8.577000,12.295000,16.404000,14.952000,...,34.726087,34.361053,35.140197,35.431000,33.835000,32.178000,32.844000,31.812000,31.066370,29.601363
GQ,Equatorial Guinea,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,15.163406,13.234749,13.279241,12.104110,10.344194,8.965715,8.122960,7.395200,7.381700,6.432435
GA,Gabon,Oil production,Million tonnes,1.265000,1.447000,3.445000,4.641000,5.027000,5.423000,5.795000,...,11.072526,10.655653,10.530824,10.662394,11.047943,10.488932,9.659118,10.876650,10.385137,9.037620
LY,Libya,Oil production,Million tonnes,57.981771,71.669271,82.362630,123.858594,147.710938,159.544922,130.684185,...,72.567512,49.353757,24.383713,20.455231,19.326163,43.755327,54.943198,57.811575,20.008481,59.649764
NG,Nigeria,Oil production,Million tonnes,13.506478,20.570040,15.718151,6.979190,26.613968,53.351080,75.423482,...,116.362196,109.372195,109.203755,105.655726,91.268206,94.444389,96.317945,101.107828,88.421199,77.928713
SS,South Sudan,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.533199,4.912417,7.652272,7.277228,6.751574,7.250767,7.107698,8.448494,8.126227,7.515699
SD,Sudan,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.092759,5.805194,5.891450,5.372157,4.153085,3.448734,3.654912,3.554830,3.129928,3.156698
TN,Tunisia,Oil production,Million tonnes,0.000000,0.771000,2.241000,3.191000,3.707000,4.151000,4.109000,...,3.409000,3.128000,2.903000,2.627000,2.506000,2.117000,2.048000,1.879000,1.736621,2.120538
AU,Australia,Oil production,Million tonnes,0.346206,0.445122,1.038618,1.934146,2.225610,8.704607,15.255404,...,21.184010,17.610375,18.604636,16.803170,15.352201,13.900812,14.635110,19.084000,19.060328,18.133839
BN,Brunei,Oil production,Million tonnes,3.964974,4.760614,5.158435,6.070115,6.152985,6.749715,6.401623,...,7.787651,6.576117,6.153486,6.177047,5.898135,5.487575,5.412577,5.901085,5.378891,5.204629
CN,China,Oil production,Million tonnes,11.310000,14.550000,13.880000,15.990000,21.740000,30.650000,39.410000,...,207.478000,209.959285,211.429000,214.560000,199.685000,191.506000,189.324000,191.628000,194.769000,198.881000
IN,India,Oil production,Million tonnes,3.022000,4.647000,5.667000,5.853000,6.723000,6.809000,7.185000,...,42.548619,42.470620,41.640472,41.172006,40.222858,40.437704,39.547648,37.486737,35.148944,33.997749
ID,Indonesia,Oil production,Million tonnes,24.535270,23.929461,25.746888,30.322822,32.410788,43.113416,45.031812,...,44.582840,42.364770,40.962071,40.579684,42.648988,40.947280,39.492717,38.158677,36.368553,33.772668
MY,Malaysia,Oil production,Million tonnes,0.047775,0.047775,0.047775,0.191623,0.429974,0.859948,3.296466,...,30.069544,28.714578,29.796682,32.188682,33.303078,32.854624,32.529985,30.561275,28.052435,25.924258
TH,Thailand,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,17.271433,17.094549,16.886906,17.598206,18.127824,17.562978,16.966807,16.927565,15.136256,13.948695
VN,Vietnam,Oil production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,16.994200,16.911800,15.853000,17.169000,15.511000,13.850000,12.410000,11.442200,10.023900,9.342980

In [5]:
bp_oil_refining = read_bp('Oil - Refining capacity')
bp_oil_refining.insert(1, 'Technology Name', 'Oil refining')
bp_oil_refining

,Country Name,Technology Name,Unit,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Oil refining,Thousand barrels daily,1089.143628,1140.468484,1238.526634,1280.039384,1344.32125,1396.463781,1651.584795,...,2014.852814,1929.441554,1929.441554,1930.789494,1933.707966,1969.559887,1939.198971,2054.145120,2065.133420,1954.000000
MX,Mexico,Oil refining,Thousand barrels daily,417.000000,417.000000,457.000000,525.000000,525.00000,562.000000,562.000000,...,1605.500000,1605.500000,1521.900000,1521.900000,1521.900000,1545.650000,1558.000000,1558.000000,1558.000000,1558.000000
US,US,Oil refining,Thousand barrels daily,10390.000000,10660.000000,11350.000000,11700.000000,12020.00000,12860.000000,13290.000000,...,17823.000000,17925.000000,17967.000000,18317.000000,18617.000000,18598.000000,18808.000000,18974.000000,18143.000000,17941.000000
AR,Argentina,Oil refining,Thousand barrels daily,402.325000,414.200000,412.300000,423.700000,434.15000,437.690000,603.920350,...,657.000000,657.000000,657.000000,657.000000,657.000000,657.000000,580.000000,580.000000,580.000000,580.000000
BR,Brazil,Oil refining,Thousand barrels daily,346.655000,351.880000,360.905000,439.280000,476.52000,525.000000,597.000000,...,2004.235000,2096.852000,2238.378000,2281.400000,2288.869000,2285.075664,2285.075664,2290.164121,2290.164121,2302.542468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SG,Singapore,Oil refining,Thousand barrels daily,50.000000,79.000000,162.000000,170.000000,180.00000,288.000000,303.000000,...,1422.000000,1414.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1461.000000
KR,South Korea,Oil refining,Thousand barrels daily,33.000000,38.000000,57.000000,114.000000,171.00000,209.000000,257.000000,...,2877.550000,2877.550000,3122.650000,3128.350000,3258.500000,3298.400000,3345.900000,3393.400000,3572.000000,3572.000000
TW,Taiwan,Oil refining,Thousand barrels daily,46.000000,50.000000,50.000000,103.000000,103.00000,103.000000,122.000000,...,1197.000000,1197.000000,1197.000000,988.000000,988.000000,1083.000000,1083.000000,1083.000000,1130.500000,1130.500000
TH,Thailand,Oil refining,Thousand barrels daily,45.000000,45.000000,45.000000,45.000000,63.00000,122.000000,122.000000,...,1229.500000,1236.500000,1251.500000,1251.500000,1234.500000,1234.500000,1234.500000,1234.500000,1244.500000,1244.500000
VN,Vietnam,Oil refining,Thousand barrels daily,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,159.000000,159.000000,159.000000,159.000000,163.000000,167.000000,367.000000,367.000000,367.000000,367.000000

In [6]:
bp_gas = read_bp('Gas Production - Bcm')
bp_gas.insert(1, 'Technology Name', 'Gas production')
bp_gas

,Country Name,Technology Name,Unit,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Gas production,Billion cubic metres,54.016275,59.055000,66.675000,71.437500,69.955410,71.456550,72.085200,...,150.305200,151.920350,158.991600,160.755675,165.075500,171.270600,176.796325,169.765475,165.728125,172.319192
MX,Mexico,Gas production,Billion cubic metres,11.030307,10.918173,11.348023,12.330594,12.926203,13.139034,12.885493,...,50.850187,52.488039,51.299803,47.946948,43.651424,38.268444,35.191028,31.294889,30.489354,29.241314
US,US,Gas production,Billion cubic metres,571.462298,587.660597,585.755008,585.222310,559.447190,518.041471,513.820614,...,649.124828,655.692735,704.726482,740.303203,727.356111,746.170711,840.936171,928.111084,915.899762,934.203188
AR,Argentina,Gas production,Billion cubic metres,5.854450,6.326599,6.013940,6.548815,7.048680,7.480470,7.132315,...,36.691203,34.555854,34.485880,35.491144,37.282356,37.149888,39.423291,41.615260,38.292528,38.608495
BO,Bolivia,Gas production,Billion cubic metres,0.041868,0.041868,1.116480,1.721240,1.801487,1.775901,1.830562,...,17.139784,19.575464,20.276825,19.560596,18.801001,18.256278,17.053202,15.020820,14.452845,15.088104
BR,Brazil,Gas production,Billion cubic metres,0.081101,0.128748,0.175381,0.200726,0.386245,0.420713,0.484580,...,19.832850,21.949594,23.347676,23.804495,24.123578,27.181422,25.162357,25.746527,24.236339,24.332678
CO,Colombia,Gas production,Billion cubic metres,1.249325,1.300450,1.588550,1.646000,1.712550,1.491575,1.514800,...,11.525648,13.223476,12.332834,11.610316,11.992118,11.752476,12.376339,12.618220,12.455031,12.566443
PE,Peru,Gas production,Billion cubic metres,0.397513,0.474513,0.456225,0.446600,0.460075,0.567875,0.616000,...,11.958075,12.399126,13.127230,12.656717,14.018435,13.010747,12.811486,13.495792,12.167065,11.483049
TT,Trinidad & Tobago,Gas production,Billion cubic metres,1.776757,1.863500,1.926075,1.849800,1.689975,1.535975,1.728825,...,38.532407,38.747260,38.067205,35.955857,31.281698,31.872928,33.961113,34.560890,29.465264,24.722997
VE,Venezuela,Gas production,Billion cubic metres,8.558100,8.293920,8.243970,10.155390,10.732590,10.438440,12.940380,...,31.904730,30.590490,31.788180,36.065010,37.238734,38.605388,31.619100,25.576219,21.561088,23.977127
DK,Denmark,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.991195,4.973585,4.800654,4.793545,4.700103,5.050029,4.292761,3.202557,1.379693,1.308592
DE,Germany,Gas production,Billion cubic metres,12.012975,14.799725,17.718575,19.837450,20.603700,19.125200,19.720975,...,9.461373,8.604125,8.082743,7.524433,6.923041,6.376161,5.541774,5.330759,4.532420,4.536816
IT,Italy,Gas production,Billion cubic metres,12.581550,12.820200,13.587325,14.675250,14.648450,13.961825,15.002875,...,8.195804,7.367495,6.809556,6.449688,5.509763,5.273059,5.189197,4.621247,3.912091,3.184141
NL,Netherlands,Gas production,Billion cubic metres,27.916667,38.583333,51.444444,62.555556,74.166667,80.333333,85.833333,...,68.402778,72.405556,60.386111,45.872222,44.286111,37.930556,32.325000,27.844444,20.072222,18.100000
NO,Norway,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,113.862524,107.930399,107.491139,116.130878,115.890931,123.729222,121.286867,114.259787,111.454258,114.316848
PL,Poland,Gas production,Billion cubic metres,5.119325,5.279025,5.584075,5.664775,5.483525,5.643775,6.143250,...,4.543583,4.446306,4.333722,4.283250,4.131806,4.040000,3.981306,3.985194,3.928778,3.870221
RO,Romania,Gas production,Billion cubic metres,21.742856,23.236146,23.768698,25.163677,25.971591,28.212225,30.773414,...,10.097975,10.001900,10.194300,10.217225,9.052775,10.011401,9.957650,9.622587,8.596321,8.464479
UA,Ukraine,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19.392908,20.158555,20.219125,18.833579,19.022861,19.401426,19.685349,19.401426,19.117502,18.582212
GB,United Kingdom,Gas production,Billion cubic metres,10.949645,18.196298,26.255888,28.507456,34.380606,35.800629,37.912637,...,39.192385,36.980380,37.431513,40.661183,41.738189,41.884648,40.638988,39.155583,39.466789,32.697749
AZ,Azerbaijan,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,16.836911,17.474565,18.384078,18.784052,18.277540,17.758627,18.755733,23.938214,25.864849,31.808316
KZ,Kazakhstan,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,29.019425,30.445565,31.026135,31.225557,31.484278,33.402992,33.081303,33.071824,33.344486,31.974209
RU,Russian Federation,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,601.854986,614.496219,591.155156,584.439564,589.275368,635.560863,669.112979,679.044838,637.294248,701.667404
TM,Turkmenistan,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,58.961406,58.961406,63.504179,65.870206,63.220256,58.677483,61.516716,63.163184,66.014650,79.283595
SU,USSR,Gas production,Billion cubic metres,187.501386,201.193738,209.718896,223.832770,246.850697,274.006169,304.019462,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
UZ,Uzbekistan,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,56.527625,55.902000,56.296625,53.611250,53.124000,53.606802,58.285150,57.458411,47.101173,50.918805
BH,Bahrain,Gas production,Billion cubic metres,0.650117,0.947845,1.182771,1.677046,2.067814,2.175973,2.280643,...,13.051854,13.957830,14.696525,14.584345,14.441371,14.466323,14.647456,16.265963,16.436681,17.228249
IR,Iran,Gas production,Billion cubic metres,3.495454,8.454400,11.400434,12.598127,13.072009,13.617853,13.873764,...,156.935759,157.528055,175.450603,183.547896,199.341920,213.850070,224.898984,232.900088,249.530229,256.650166
IQ,Iraq,Gas production,Billion cubic metres,0.741000,0.878750,0.888250,0.864500,0.794200,1.230250,1.714750,...,6.341345,7.072655,7.530834,7.301097,9.895578,10.117798,10.573736,10.966854,7.005354,9.354809
KW,Kuwait,Gas production,Billion cubic metres,1.935150,1.998800,2.362650,2.646700,2.784450,3.051400,3.670800,...,14.739250,15.495639,14.277337,16.063550,16.426450,16.246640,16.850891,18.154611,16.470396,17.393453
OM,Oman,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,28.321993,30.785902,29.349080,30.747118,31.477503,32.323414,36.332648,36.690195,36.930405,41.792215
QA,Qatar,Gas production,Billion cubic metres,1.040175,1.040175,1.141605,1.635300,1.343430,2.073105,1.132290,...,162.546330,167.889214,169.425228,175.864483,174.768557,170.535881,175.202879,177.152466,174.934838,176.980399
SA,Saudi Arabia,Gas production,Billion cubic metres,1.536150,1.281550,1.452550,1.710000,2.164100,2.574500,2.779225,...,94.363500,95.028500,97.261000,99.227500,105.317000,109.250209,112.100000,111.150000,113.050000,117.286984
SY,Syria,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.031400,...,6.079125,4.995250,4.618250,4.052750,3.534375,3.487250,3.468400,3.327025,2.741733,2.878132
AE,United Arab Emirates,Gas production,Billion cubic metres,0.812175,1.434225,1.455675,1.692112,1.694550,1.618500,1.891500,...,52.942500,53.235000,52.888479,58.598735,59.520822,59.536688,58.082329,57.516510,55.444915,56.994166
YE,Yemen,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.616900,10.352975,9.761675,2.856350,0.501125,0.300667,0.099002,0.300667,0.306435,0.397750
DZ,Algeria,Gas production,Billion cubic metres,2.438013,2.569875,3.256137,4.321625,4.996338,6.152300,7.749087,...,78.443750,79.338875,80.172400,81.411137,91.392263,92.976538,93.843750,86.952250,81.456375,100.773750
EG,Egypt,Gas production,Billion cubic metres,0.081813,0.081813,0.068338,0.054863,0.057750,0.048125,0.365750,...,58.598181,53.964837,46.961049,42.590625,40.251750,48.812649,58.558327,64.938697,58.465432,67.799431
LY,Libya,Gas production,Billion cubic metres,0.279300,0.672600,2.690400,4.304450,3.871250,4.403250,4.540050,...,11.590000,12.160000,11.827500,14.718350,14.791950,13.593800,13.185975,13.480186,12.098420,12.396907
NG,Nigeria,Gas production,Billion cubic metres,0.105450,0.195225,0.261725,0.400900,0.374300,0.335350,0.622725,...,39.160303,33.099571,39.982533,47.565285,42.637021,47.205619,48.269554,49.279149,49.431139,45.913324
AU,Australia,Gas production,Billion cubic metres,1.730397,2.582668,3.707426,4.706880,5.370199,5.766997,6.807722,...,57.962008,60.250019,64.927608,74.098519,93.997929,110.124627,127.401860,146.114289,145.950597,147.218897
BD,Bangladesh,Gas production,Billion cubic metres,0.000000,0.445638,0.445638,0.615038,0.681450,0.451412,0.687225,...,21.336279,21.952787,23.022272,25.854063,26.450947,26.592672,26.581770,25.284434,23.730901,24.142775
BN,Brunei,Gas production,Billion cubic metres,0.213525,0.211575,0.434363,1.896862,4.117425,5.399550,7.121400,...,12.251276,11.901314,12.688146,13.291452,12.942845,12.854908,12.565272,12.980136,12.640790,11.534709
CN,China,Gas production,Billion cubic metres,2.892576,3.769420,4.878073,6.027040,7.589233,8.919617,10.179449,...,111.478073,121.810718,131.180851,135.668879,137.941618,149.199484,161.418854,176.741445,194.009218,209.212881
IN,India,Gas production,Billion cubic metres,0.632847,0.670622,0.735591,0.733666,0.830397,1.063081,1.291434,...,37.267823,31.063128,29.355218,28.142781,26.582316,27.693324,27.491486,26.905524,23.760627,28.538813
ID,Indonesia,Gas production,Billion cubic metres,1.278900,1.522500,1.127665,1.747830,1.804670,2.364950,2.385250,...,78.299570,77.623654,76.399578,76.162201,75.079964,72.704988,72.801675,67.583436,59.538086,59.291943
MY,Malaysia,Gas production,Billion cubic metres,0.000000,0.082875,0.116051,0.116051,0.241926,0.291626,0.347177,...,69.250721,72.588601,72.174108,76.846010,76.695481,79.583109,76.118997,76.441704,68.690222,74.190541
MM,Myanmar,Gas production,Billion cubic metres,0.007369,0.014246,0.015229,0.018422,0.164814,0.176850,0.245625,...,12.511102,12.860942,16.543192,19.216684,18.280076,17.798892,16.971708,18.481905,17.506865,16.940227
PK,Pakistan,Gas production,Billion cubic metres,2.910392,2.636095,2.798920,3.195545,3.664815,3.807600,3.882750,...,36.597231,35.585729,34.986689,35.047566,34.678689,34.651498,34.200104,32.693429,30.605070,32.676795
TH,Thailand,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,38.449858,38.934748,39.091995,37.477269,37.273708,35.946515,34.728116,35.772687,32.706406,31.525941
VN,Vietnam,Gas production,Billion cubic metres,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.027575,9.409715,9.852650,10.286900,10.238650,9.520690,9.659650,9.843000,8.839400,7.121700

In [7]:
bp_coal = read_bp('Coal Production - Tonnes')
bp_coal.insert(1, 'Technology Name', 'Coal production')
bp_coal

,Country Name,Technology Name,Unit,1981,1982,1983,1984,1985,1986,1987,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Coal production,Million tonnes,40.088000,42.907000,44.807000,57.402000,60.853000,57.048000,61.207000,...,67.300500,68.418100,68.305100,62.355200,62.351500,60.596100,55.047500,53.165500,45.284900,46.740474
MX,Mexico,Coal production,Million tonnes,3.032331,3.751216,4.851129,5.335241,5.525976,6.216795,6.931471,...,15.205110,14.633170,14.895550,12.252900,11.408950,12.928590,11.883980,9.755420,7.746920,7.441824
US,US,Coal production,Million tonnes,747.316076,760.322383,709.500989,812.765612,801.622980,807.679881,833.486976,...,922.115525,893.433394,907.228933,813.690756,660.761129,702.713757,685.983219,640.752957,485.737854,524.408300
BR,Brazil,Coal production,Million tonnes,5.689000,6.346000,6.737000,7.519000,7.712000,7.391000,6.884000,...,8.174374,9.468086,9.351638,8.049604,7.500464,5.841825,6.432749,5.843574,7.060094,8.239395
CO,Colombia,Coal production,Million tonnes,3.990400,4.421600,5.053200,6.637000,8.974000,10.737000,14.594000,...,89.812000,86.023000,89.412000,86.470000,91.179000,91.291000,86.327000,85.169000,52.317000,59.600000
VE,Venezuela,Coal production,Million tonnes,0.050000,0.050000,0.040000,0.050000,0.040000,0.060000,0.240000,...,1.910801,1.229309,0.800640,0.801697,0.749227,0.720049,0.692008,0.393968,0.284740,0.157718
BG,Bulgaria,Coal production,Million tonnes,29.240000,32.210000,32.390000,32.360000,30.880000,35.220000,36.820000,...,33.430416,28.634828,31.326331,35.912757,31.288951,34.318820,30.565345,28.304123,22.543402,28.509182
CZ,Czech Republic,Coal production,Million tonnes,117.720000,118.790000,123.040000,124.930000,122.800000,123.060000,122.150000,...,55.185000,49.131000,47.077000,46.531000,45.543000,44.906774,43.765593,41.026758,31.633004,31.497739
DE,Germany,Coal production,Million tonnes,492.800000,499.700000,476.500000,501.800000,521.600000,513.218000,502.850000,...,196.202000,190.561000,185.795000,184.288000,175.396000,175.122000,168.842000,131.300000,107.400000,126.000000
GR,Greece,Coal production,Million tonnes,27.320000,27.400000,30.590000,32.500000,35.890000,38.100000,44.612000,...,62.956000,53.924000,50.845000,46.246000,32.638000,37.731348,36.488800,12.723109,6.544424,5.714690
HU,Hungary,Coal production,Million tonnes,25.942181,26.078701,25.212983,25.047585,24.042514,23.128697,22.844350,...,9.290000,9.558000,9.551000,9.261000,9.216000,7.972000,7.898000,6.847000,6.125000,4.987539
PL,Poland,Coal production,Million tonnes,198.640000,226.960000,233.620000,241.970000,249.390000,259.340000,266.210000,...,144.093000,142.906000,137.148000,135.814000,131.029000,127.076000,122.427868,112.409160,100.697281,107.640380
RO,Romania,Coal production,Million tonnes,39.564000,41.433000,48.759000,47.799000,49.819000,51.432000,55.699000,...,33.947000,24.722000,23.567000,25.497000,22.987000,25.759221,23.652908,21.653156,15.032728,17.768985
RS,Serbia,Coal production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,38.172000,40.254000,29.820000,37.788000,38.545527,39.884959,37.675477,38.988520,39.703059,36.447556
ES,Spain,Coal production,Million tonnes,35.676000,39.305000,39.953000,39.592000,39.663000,38.323000,34.634000,...,6.181000,4.368000,3.899000,3.064000,1.741802,2.977000,2.401000,0.125840,0.095377,0.099000
TR,Turkey,Coal production,Million tonnes,21.006000,22.672000,25.245000,29.972000,39.997000,46.417000,46.988000,...,71.461000,60.392497,65.249000,58.414000,73.003948,74.098124,83.936203,87.089072,74.711468,85.632887
UA,Ukraine,Coal production,Million tonnes,0.000000,0.000000,0.000000,0.000000,170.947000,175.088000,173.143000,...,66.151000,64.894000,45.687000,30.408000,32.170000,24.685000,26.794000,26.070000,24.440000,24.922978
GB,United Kingdom,Coal production,Million tonnes,127.469000,124.711000,119.254000,51.182000,94.111000,108.099000,104.533000,...,16.966667,12.767446,11.647612,8.598018,4.177796,3.041064,2.580876,2.166397,1.673290,1.053820
KZ,Kazakhstan,Coal production,Million tonnes,0.000000,0.000000,0.000000,0.000000,130.800000,137.500000,142.100000,...,120.527300,119.573700,113.985100,107.318198,103.074000,112.293600,118.483300,115.001200,113.397600,115.693900
RU,Russian Federation,Coal production,Million tonnes,0.000000,0.000000,0.000000,0.000000,409.252000,423.948000,424.087000,...,358.300000,355.231000,357.396992,372.482353,386.613471,412.540341,441.576471,440.905783,399.664238,433.670588
SU,USSR,Coal production,Million tonnes,778.147000,777.977000,774.775000,761.911000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
UZ,Uzbekistan,Coal production,Million tonnes,0.000000,0.000000,0.000000,0.000000,5.300000,6.000000,5.000000,...,3.752940,4.090020,4.396820,3.487970,3.867250,4.038630,4.174430,4.047940,4.133051,4.781200
ZA,South Africa,Coal production,Million tonnes,130.420000,144.180000,145.610000,162.910000,173.520000,176.720000,176.550000,...,258.575800,256.282135,261.398523,252.176473,249.718680,252.343008,250.036629,254.410720,245.818273,234.494792
ZW,Zimbabwe,Coal production,Million tonnes,2.870000,2.770000,3.330000,3.110000,3.110000,4.050000,4.830000,...,1.593600,3.114200,5.782600,4.336193,2.701719,2.928000,3.347764,2.627011,2.705936,3.239215
AU,Australia,Coal production,Million tonnes,128.519000,131.581000,135.072000,141.555000,168.563500,180.326000,190.074000,...,448.207696,472.784777,505.270410,503.745489,502.127448,487.226204,501.960227,505.408428,469.957900,478.594204
CN,China,Coal production,Million tonnes,621.600000,666.300000,714.500000,789.200000,872.300000,894.000000,928.100000,...,3945.128100,3974.322000,3873.919000,3746.541600,3410.604000,3523.561800,3697.735800,3846.332000,3901.577100,4126.000000
IN,India,Coal production,Million tonnes,130.100000,134.950000,142.900000,152.530000,157.450000,169.180000,185.360000,...,605.616000,608.535000,646.232000,674.153000,689.810000,711.681000,760.407000,753.912000,759.331000,811.256000
ID,Indonesia,Coal production,Million tonnes,0.400000,0.590000,0.650000,1.470000,2.000000,2.590000,3.030000,...,386.077357,474.371369,458.096707,461.566080,456.197775,461.248184,557.772940,616.159594,563.728255,613.990256
JP,Japan,Coal production,Million tonnes,17.690000,17.610000,17.060000,16.650000,16.380000,16.010000,13.050000,...,1.321062,1.203630,1.307515,1.170817,1.340424,1.388518,1.040705,0.758348,0.772012,0.674713
MN,Mongolia,Coal production,Million tonnes,4.300000,4.921000,4.974000,5.431000,6.523000,7.065000,7.765000,...,31.139000,33.340500,24.449300,24.146100,35.096500,49.480300,54.572300,57.128800,43.079000,32.317600
NZ,New Zealand,Coal production,Million tonnes,2.196894,2.244384,2.473531,2.526647,2.390010,2.517947,2.220996,...,4.922172,4.625463,3.984447,3.390648,2.866622,2.918563,3.230798,3.033983,2.818682,2.867610
PK,Pakistan,Coal production,Million tonnes,1.560000,1.770000,1.820000,2.310000,2.190000,2.050000,2.410000,...,3.040000,2.986500,3.382500,3.325000,4.099000,4.171000,4.384973,7.052509,8.776518,7.532000
KR,South Korea,Coal production,Million tonnes,19.865000,20.116000,19.861000,21.370000,22.543000,24.253000,24.274000,...,2.094000,1.815000,1.748000,1.764000,1.726000,1.485000,1.200000,1.084000,1.019000,0.898000
TH,Thailand,Coal production,Million tonnes,1.686044,1.963764,1.866083,2.337226,5.146150,5.538084,6.931257,...,18.066429,18.110763,17.981721,15.150549,16.978601,16.258637,14.851950,14.077965,13.250574,14.221573
VN,Vietnam,Coal production,Million tonnes,6.000000,6.300000,6.300000,5.000000,5.600000,6.100000,6.300000,...,42.083000,41.064000,41.086000,41.664000,38.735000,38.409000,42.384000,46.387000,48.377470,47.845157

In [8]:
bp_nuclear = read_bp('Nuclear Generation - TWh')
bp_nuclear.insert(1, 'Technology Name', 'Nuclear generation')
bp_nuclear

,Country Name,Technology Name,Unit,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Nuclear generation,Terawatt-hours,0.128000,0.172000,0.15300,0.918000,0.529000,1.037000,4.267000,...,94.202515,102.720454,106.534534,101.100835,100.723486,100.594760,100.031154,100.493954,97.512599,91.960223
MX,Mexico,Nuclear generation,Terawatt-hours,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,8.769599,11.799870,9.677208,11.577138,10.567174,10.882862,13.554877,11.189830,11.177935,11.923092
US,US,Nuclear generation,Terawatt-hours,3.849157,5.810431,8.05812,13.187809,14.660883,22.952051,40.110047,...,809.822367,830.543656,839.122086,839.134607,848.098893,847.315405,849.562607,852.009749,831.451435,819.106842
AR,Argentina,Nuclear generation,Terawatt-hours,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,6.402000,6.207000,5.514000,7.039000,8.285000,6.088000,6.872000,8.443000,10.662424,10.831574
BR,Brazil,Nuclear generation,Terawatt-hours,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,16.038400,15.449690,15.378462,14.734153,15.864344,15.739196,15.673887,16.128824,14.052598,14.704588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
KR,South Korea,Nuclear generation,Terawatt-hours,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,150.327293,138.783973,156.406511,164.762416,161.995104,148.426725,133.505261,145.909669,160.183721,158.015230
LK,Sri Lanka,Nuclear generation,Terawatt-hours,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
TW,Taiwan,Nuclear generation,Terawatt-hours,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,40.421730,41.639360,42.388975,36.471121,31.661363,22.445531,27.678312,32.323432,31.440245,27.787948
TH,Thailand,Nuclear generation,Terawatt-hours,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
VN,Vietnam,Nuclear generation,Terawatt-hours,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [9]:
bp_hydro = read_bp('Hydro Generation - TWh')
bp_hydro.insert(1, 'Technology Name', 'Hydroelectricity generation')
bp_hydro

,Country Name,Technology Name,Unit,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Hydroelectricity generation,Terawatt-hours,118.088000,131.000000,133.924000,136.200000,150.638000,158.137000,162.461000,...,380.267136,391.788872,382.501379,382.193257,385.432425,394.587385,385.893962,381.770323,386.544736,380.846282
MX,Mexico,Hydroelectricity generation,Terawatt-hours,8.863000,10.118000,11.017000,12.642000,13.406000,15.005000,14.572000,...,31.910688,28.021322,38.892769,30.891541,30.697353,31.847656,32.485556,23.608056,26.935242,34.722054
US,US,Hydroelectricity generation,Terawatt-hours,198.974086,199.936907,227.220813,228.154705,256.028522,253.492366,272.253999,...,274.030027,266.549848,255.750580,246.453128,263.763663,296.806446,289.514596,285.467664,282.780495,257.690102
AR,Argentina,Hydroelectricity generation,Terawatt-hours,1.225116,1.240930,1.270698,1.497674,1.343256,1.557127,1.546148,...,29.164399,32.771379,32.416697,32.337470,29.752789,31.594284,32.278668,27.504504,23.669312,19.597537
BR,Brazil,Hydroelectricity generation,Terawatt-hours,25.515000,27.906000,29.189000,30.550000,32.692000,39.801000,43.199000,...,415.342175,390.992014,373.439060,359.742808,380.910942,370.906456,388.971076,397.877057,396.381195,362.818451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
KR,South Korea,Hydroelectricity generation,Terawatt-hours,0.710427,0.985322,0.953171,0.929483,1.428512,1.220684,1.319976,...,3.969038,4.289267,2.751419,2.145719,2.846275,2.808820,3.359418,2.788679,3.877230,3.055118
LK,Sri Lanka,Hydroelectricity generation,Terawatt-hours,0.365000,0.399000,0.410000,0.474000,0.549000,0.740300,0.825500,...,3.302164,6.929243,4.562649,5.979890,4.231540,4.031360,6.411460,4.811900,4.995661,7.085865
TW,Taiwan,Hydroelectricity generation,Terawatt-hours,2.586000,2.661000,2.634000,3.864000,3.052000,2.865000,3.091000,...,5.669558,5.422890,4.317862,4.470146,6.562041,5.446815,4.481584,5.544796,3.019152,3.468808
TH,Thailand,Hydroelectricity generation,Terawatt-hours,0.841000,1.064000,1.368000,1.405000,1.046000,1.787000,2.048000,...,8.431217,5.412084,5.163573,3.760733,3.543078,4.687186,7.597013,6.309958,4.539848,4.539992
VN,Vietnam,Hydroelectricity generation,Terawatt-hours,0.340000,0.390000,0.430000,0.480000,0.540000,0.600000,0.614000,...,53.305370,57.819688,62.164936,57.170844,64.167000,87.599000,84.489000,66.542000,73.382000,75.899472

In [10]:
bp_renewable = read_bp('Renewable power - TWh')
bp_renewable.insert(1, 'Technology Name', 'Renewable energy generation')
bp_renewable

,Country Name,Technology Name,Unit,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Renewable energy generation,Terawatt-hours,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,23.106114,23.680044,24.732516,39.848521,46.324963,45.937835,47.483041,47.262655,49.307591,49.974678
MX,Mexico,Renewable energy generation,Terawatt-hours,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,10.518245,11.612805,13.783831,16.579446,18.239662,19.930105,23.916759,31.545542,36.189605,39.716028
US,US,Renewable energy generation,Terawatt-hours,13.332232,14.062007,14.073571,15.546045,16.22706,16.235903,16.584414,...,228.317260,266.240323,296.776575,315.807526,367.428184,417.729306,451.622958,483.665476,547.700296,624.450112
AR,Argentina,Renewable energy generation,Terawatt-hours,0.000000,0.000000,0.000000,0.000000,0.00000,0.056242,0.058991,...,1.862588,2.075092,2.118294,2.125369,1.700441,2.017021,3.110706,7.445566,13.019696,17.237010
BR,Brazil,Renewable energy generation,Terawatt-hours,0.000000,0.000000,0.000000,0.000000,0.00000,0.514692,0.633395,...,40.816651,47.552502,59.305516,71.564940,84.908832,96.117177,106.318810,117.561077,126.540897,143.997475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
KR,South Korea,Renewable energy generation,Terawatt-hours,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,8.617869,10.159658,14.695690,17.317949,18.935660,24.145362,27.176674,30.526257,31.056508,40.197560
LK,Sri Lanka,Renewable energy generation,Terawatt-hours,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.178989,0.275354,0.341931,0.449240,0.499800,0.658420,0.734720,0.966100,1.256403,1.573996
TW,Taiwan,Renewable energy generation,Terawatt-hours,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,3.403670,3.809505,3.941771,4.313810,4.469802,5.248115,6.387848,7.892361,10.354851,12.142491
TH,Thailand,Renewable energy generation,Terawatt-hours,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,5.212056,7.235160,9.046938,10.042832,12.538594,14.945570,17.924234,21.403671,20.541213,21.894992
VN,Vietnam,Renewable energy generation,Terawatt-hours,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.103596,0.132796,0.134569,0.253369,0.274290,0.434446,0.718202,6.100000,12.060000,28.320070

In [11]:
bp_wind_gen = read_bp('Wind Generation - TWh')
bp_wind_gen.insert(1, 'Technology Name', 'Wind power generation')
bp_wind_gen

,Country Name,Technology Name,Unit,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Wind power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.311488,11.145443,12.817070,26.966391,30.933117,31.513615,33.144466,32.875573,35.641923,35.117034
MX,Mexico,Wind power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.688310,4.184544,6.426197,8.745095,10.378095,10.619782,13.088611,16.726667,19.702259,20.902109
US,US,Wind power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,142.244144,169.535096,183.490184,192.644998,229.285416,256.871409,275.421671,298.871196,341.351565,383.603280
AR,Argentina,Wind power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.369862,0.453355,0.619491,0.593335,0.547359,0.611567,1.412743,4.995966,9.410639,12.937550
BR,Brazil,Wind power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.050000,6.575863,12.210252,21.625702,33.488872,42.373258,48.475141,55.985622,57.050706,72.285975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
KR,South Korea,Wind power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.912760,1.148179,1.145557,1.342439,1.683142,2.169014,2.464879,2.679158,3.149798,3.166891
LK,Sri Lanka,Wind power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.146808,0.234582,0.272454,0.343210,0.344870,0.366810,0.326310,0.348200,0.486559,0.684473
TW,Taiwan,Wind power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.413468,1.640008,1.500484,1.525236,1.457102,1.722459,1.707184,1.892232,2.308872,2.242071
TH,Thailand,Wind power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.017179,0.351304,0.396000,0.328000,0.345000,1.109000,1.641000,3.670000,3.680055,3.670000
VN,Vietnam,Wind power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.040700,0.068900,0.068900,0.176700,0.201000,0.350000,0.487000,0.722000,1.073790,2.391613

In [12]:
bp_solar_gen = read_bp('Solar Generation - TWh')
bp_solar_gen.insert(1, 'Technology Name', 'Solar power generation')
bp_solar_gen

,Country Name,Technology Name,Unit,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Solar power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.880807,1.498990,2.120201,2.894952,4.032322,3.573738,3.796970,4.079798,4.280405,5.161737
MX,Mexico,Solar power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.069000,0.106000,0.221000,0.202198,0.252276,1.186506,3.180000,7.366667,9.452778,11.907885
US,US,Solar power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.037014,16.039695,29.216162,39.426263,55.420202,78.057576,94.308081,107.973737,132.041414,165.356566
AR,Argentina,Solar power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.008173,0.015074,0.015944,0.014683,0.014273,0.016417,0.108130,0.799698,1.344358,2.195563
BR,Brazil,Solar power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000980,0.004794,0.016082,0.058917,0.085261,0.831813,3.461435,6.654579,10.748341,16.752281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
KR,South Korea,Solar power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.126906,1.667325,2.693985,4.229723,5.515817,7.737852,10.154964,14.163040,19.297854,21.815741
LK,Sri Lanka,Solar power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.010008,0.014383,0.028084,0.048720,0.082970,0.224610,0.321310,0.500400,0.652022,0.761211
TW,Taiwan,Solar power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.159870,0.321096,0.528762,0.850268,1.109005,1.667453,2.712080,4.015948,6.074674,7.920296
TH,Thailand,Solar power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.498475,1.257475,1.933475,2.378000,3.377000,4.543000,4.537000,5.146000,5.160099,5.242457
VN,Vietnam,Solar power generation,Terawatt-hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.005896,0.005896,0.006669,0.006669,0.005290,0.007992,0.104992,5.251790,10.860000,25.770420

In [13]:
bp_electricity_gen = read_bp('Electricity Generation')
bp_electricity_gen.insert(1, 'Technology Name', 'Electricity generation')
bp_electricity_gen

,Country Name,Technology Name,Unit,1985,1986,1987,1988,1989,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Electricity generation,Terawatt-hours,459.016400,468.584033,496.397700,506.015765,498.092587,480.593242,506.994858,...,636.542679,655.681014,647.552547,659.349312,663.745638,664.518076,655.815930,650.809975,649.140443,641.026268
MX,Mexico,Electricity generation,Terawatt-hours,96.207532,99.589895,106.165401,112.230823,120.047161,117.591543,128.571171,...,296.395954,297.117849,303.315833,310.349642,319.440834,325.122054,335.054722,344.578889,325.726133,336.028597
US,US,Electricity generation,Terawatt-hours,2657.150071,2676.113155,2772.205266,2914.445815,3155.449679,3232.779649,3270.724402,...,4310.569202,4330.292888,4363.326407,4348.669440,4347.910814,4302.538328,4461.586453,4411.159352,4284.784593,4406.413093
AR,Argentina,Electricity generation,Terawatt-hours,45.303728,49.022193,52.115279,52.499520,50.862813,51.004894,53.854270,...,136.033625,139.441423,138.551146,145.421556,147.192821,145.618454,146.773875,139.529922,144.642787,152.465381
BR,Brazil,Electricity generation,Terawatt-hours,193.682234,202.128899,203.331472,214.952848,221.739021,222.820115,234.376318,...,552.499326,570.834653,590.542118,581.227955,578.898309,589.327327,601.396488,626.328387,621.251215,654.350023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
KR,South Korea,Electricity generation,Terawatt-hours,62.667201,69.680597,80.251348,93.108847,103.623614,118.460795,131.616144,...,531.201866,537.169276,540.378799,547.801803,560.984590,576.412127,592.904629,586.806004,575.269209,600.434020
LK,Sri Lanka,Electricity generation,Terawatt-hours,2.465000,2.651700,2.707200,2.798400,2.857900,3.149800,3.377100,...,11.897620,12.029010,12.867480,13.225500,14.361320,14.983700,16.216600,16.762300,16.825121,17.407214
TW,Taiwan,Electricity generation,Terawatt-hours,55.556761,62.333849,69.179059,76.261221,84.057809,90.193533,99.177554,...,250.373423,252.340824,259.963933,258.141909,264.107669,270.256421,275.545209,274.188686,279.978162,290.921204
TH,Thailand,Electricity generation,Terawatt-hours,23.029950,24.669810,28.573610,32.413240,37.353380,44.112510,50.120390,...,168.956183,168.633661,173.764180,177.831928,179.828519,176.738107,177.758563,186.503022,176.483850,176.327389
VN,Vietnam,Electricity generation,Terawatt-hours,5.069000,5.527000,6.051000,6.785000,7.784000,8.681000,9.210000,...,115.147000,124.454000,141.250000,157.949000,175.745000,191.593000,209.181000,227.422690,235.410370,244.776851

In [14]:
bp_lithium = read_bp('Lithium Production-Reserves')
bp_lithium.insert(1, 'Technology Name', 'Lithium production')
bp_lithium

,Country Name,Technology Name,Unit,1995,1996,1997,1998,1999,2000,2001,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
AR,Argentina,Lithium production,Thousand tonnes,0.008000,0.008000,0.008000,1.130000,0.200000,0.200000,0.200000,...,2.700000,2.500000,3.200000,3.600000,5.800000,5.700000,6.400000,6.300000,5.900000,5.966912
AU,Australia,Lithium production,Thousand tonnes,2.233481,3.882136,1.576606,1.179995,1.505701,1.825694,2.225789,...,12.700000,10.117350,12.374939,11.928996,14.000000,21.300000,57.000000,45.000000,40.000000,55.415617
BR,Brazil,Lithium production,Thousand tonnes,0.032000,0.032000,0.032000,0.032000,0.032000,0.030000,0.220000,...,0.150000,0.400000,0.160000,0.147698,0.224932,0.269464,1.047503,2.171653,1.420000,1.500000
CL,Chile,Lithium production,Thousand tonnes,2.000000,2.663668,4.554534,5.462649,5.705155,6.737877,5.883362,...,12.325488,10.505052,10.834172,9.809592,13.595976,14.233599,16.974504,19.241287,21.630357,26.000000
CN,China,Lithium production,Thousand tonnes,0.320000,2.800000,2.900000,3.000000,2.300000,2.400000,2.400000,...,4.500000,4.700000,2.300000,2.000000,2.300000,6.800000,7.100000,10.800000,13.300000,14.000000
PT,Portugal,Lithium production,Thousand tonnes,0.160000,0.160000,0.180000,0.160000,0.222930,0.140280,0.173565,...,0.310470,0.299102,0.261885,0.256799,0.386370,0.761149,1.152274,0.898678,0.347775,0.900000
US,US,Lithium production,Thousand tonnes,3.500000,4.000000,4.000000,1.500000,1.500000,1.500000,1.500000,...,1.000000,0.870000,0.900000,0.900000,0.900000,0.900000,0.900000,0.900000,0.900000,0.900000
ZW,Zimbabwe,Lithium production,Thousand tonnes,0.520000,0.500000,0.700000,1.000000,0.700000,0.740000,0.700000,...,1.060000,1.000000,0.900000,0.900000,1.000000,0.800000,1.600000,1.200000,0.417000,1.200000

In [15]:
bp_cobalt = read_bp('Cobalt Production-Reserves')
bp_cobalt.insert(1, 'Technology Name', 'Cobalt production')
bp_cobalt

,Country Name,Technology Name,Unit,1995,1996,1997,1998,1999,2000,2001,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
AU,Australia,Cobalt production,Thousand tonnes,0.824,0.942,1.219,1.269,1.010345,3.59848,4.31194,...,5.880,6.400,6.201256,6.030000,5.470000,5.800000,4.9000,5.7000,5.600000,5.570160
CA,Canada,Cobalt production,Thousand tonnes,5.339,5.714,5.709,5.861,5.323000,5.29800,5.32600,...,3.698,4.005,3.907000,4.339000,4.216000,3.704000,3.5240,3.3360,4.474000,3.834000
CN,China,Cobalt production,Thousand tonnes,0.980,0.190,0.200,0.040,0.250000,0.09000,0.15000,...,2.200,2.600,2.800000,2.600000,2.300000,2.500000,2.0000,2.5000,2.200000,2.200000
CU,Cuba,Cobalt production,Thousand tonnes,1.591,2.011,2.358,2.665,2.537000,2.85200,3.42500,...,4.700,4.000,3.700000,4.000000,3.900000,3.900000,3.5000,3.8000,3.793246,3.968839
CD,Democratic Republic of Congo,Cobalt production,Thousand tonnes,1.670,2.000,3.500,5.000,7.000000,11.00000,12.00000,...,86.433,76.572,76.474961,84.400477,69.038289,90.319406,109.4023,77.9637,86.591000,93.011000
MG,Madagascar,Cobalt production,Thousand tonnes,0.000,0.000,0.000,0.000,0.000000,0.00000,0.00000,...,0.600,2.400,3.400000,4.000000,3.800000,3.053000,2.8520,2.8970,0.833000,2.000000
MA,Morocco,Cobalt production,Thousand tonnes,0.537,0.565,0.714,0.287,0.863000,0.96700,1.24200,...,2.000,2.000,2.150000,2.250000,2.729869,2.523915,2.1000,2.3000,2.300000,2.300000
NC,New Caledonia,Cobalt production,Thousand tonnes,1.100,1.100,1.000,1.000,1.100000,1.20000,1.40000,...,2.670,3.190,4.040000,3.690000,3.390000,2.800000,1.6610,1.2400,0.681000,0.000000
PG,Papua New Guinea,Cobalt production,Thousand tonnes,0.000,0.000,0.000,0.000,0.000000,0.00000,0.00000,...,0.469,1.013,2.134000,2.505000,2.190000,3.310000,3.2800,2.9100,2.940000,2.953000
PH,Philippines,Cobalt production,Thousand tonnes,0.000,0.000,0.000,0.000,0.000000,0.00000,0.00000,...,2.700,2.800,4.600000,4.300000,4.000000,4.600000,4.7500,5.1000,4.922504,4.329723
RU,Russian Federation,Cobalt production,Thousand tonnes,3.500,3.300,3.300,3.600,3.900000,4.00000,4.60000,...,6.300,6.300,6.300000,6.200000,5.500000,5.900000,6.1000,6.3000,6.529091,6.529091
ZA,South Africa,Cobalt production,Thousand tonnes,0.288,0.350,0.465,0.435,0.450000,0.58000,0.56000,...,2.500,3.000,3.000000,2.900000,2.300000,2.300000,2.3000,2.1000,1.800000,1.197000
ZM,Zambia,Cobalt production,Thousand tonnes,2.931,4.829,4.028,4.961,4.378000,2.87700,4.18200,...,5.435,5.919,4.562000,2.979000,4.982000,2.648900,1.5850,0.3670,0.287000,0.287000

In [16]:
bp_rare_earth = read_bp('Rare Earth Production-Reserves')
bp_rare_earth.insert(1, 'Technology Name', 'Rare earth production')
bp_rare_earth

,Country Name,Technology Name,Unit,1995,1996,1997,1998,1999,2000,2001,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
AU,Australia,Rare earth production,Thousand tonnes,0.110,0.00,0.000,0.00,0.0000,0.000,0.00000,...,3.2220,1.2680,6.2000,11.9070,13.873,17.263,18.556,17.613,21.089,22.540
BR,Brazil,Rare earth production,Thousand tonnes,0.103,0.00,0.000,0.00,0.0000,0.000,0.00000,...,1.6200,0.3300,0.0000,0.8800,2.700,1.700,1.200,0.710,0.600,0.500
CN,China,Rare earth production,Thousand tonnes,48.000,55.00,53.000,60.00,70.0000,73.000,80.60000,...,93.8000,93.8000,105.0000,105.0000,105.000,105.000,120.000,132.000,140.000,168.000
IN,India,Rare earth production,Thousand tonnes,3.000,3.00,3.000,1.92,1.0188,1.134,1.59060,...,0.0000,0.2946,1.6950,0.9560,2.265,2.724,4.215,5.048,5.048,5.048
MG,Madagascar,Rare earth production,Thousand tonnes,0.000,0.00,0.000,0.00,0.0000,0.000,0.00000,...,0.0000,0.0000,0.0000,0.0000,0.000,0.000,2.000,4.000,2.800,3.200
RU,Russian Federation,Rare earth production,Thousand tonnes,1.740,1.74,1.740,1.74,2.6100,2.610,3.53162,...,2.1313,1.4431,2.1338,2.3123,3.100,2.500,2.600,2.600,2.600,2.600
TH,Thailand,Rare earth production,Thousand tonnes,0.000,0.00,0.012,0.00,0.0000,0.000,0.00000,...,0.1200,0.1300,1.9000,0.7600,1.600,1.300,1.000,1.900,3.600,8.000
US,US,Rare earth production,Thousand tonnes,22.200,20.40,10.000,5.00,0.0000,0.000,0.00000,...,3.0000,5.5000,5.4000,5.9000,0.000,0.000,18.000,28.000,39.000,43.000

In [17]:
bp_graphite = read_bp('Graphite Production-Reserves')
bp_graphite.insert(1, 'Technology Name', 'Graphite production')
bp_graphite

,Country Name,Technology Name,Unit,1995,1996,1997,1998,1999,2000,2001,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
BR,Brazil,Graphite production,Thousand tonnes,33.590,40.466,41.444,61.369,53.503,71.208,60.666,...,88.110,91.908,87.026,75.100,61.687,79.771,95.000,96.000,95.000000,95.000000
CA,Canada,Graphite production,Thousand tonnes,25.000,25.000,25.000,25.000,25.000,25.000,35.000,...,24.000,20.000,30.000,30.000,21.000,14.000,11.000,11.045,7.620000,7.700000
CN,China,Graphite production,Thousand tonnes,204.000,185.000,310.000,224.000,300.000,430.000,450.000,...,820.000,750.000,780.000,725.000,625.000,625.000,693.000,700.000,762.000000,820.000000
IN,India,Graphite production,Thousand tonnes,136.263,117.761,111.518,135.668,108.826,124.790,105.814,...,134.735,146.390,116.712,134.568,137.338,46.368,44.458,30.497,31.799000,40.224000
MG,Madagascar,Graphite production,Thousand tonnes,16.119,12.134,14.107,20.629,16.137,40.328,2.013,...,2.885,4.300,5.316,8.100,9.230,13.342,48.056,53.400,48.500000,88.100000
MX,Mexico,Graphite production,Thousand tonnes,34.386,40.412,47.981,43.461,27.780,30.330,21.442,...,7.520,7.024,9.160,6.524,3.839,1.746,4.130,1.591,1.461000,1.660000
MZ,Mozambique,Graphite production,Thousand tonnes,3.019,3.283,5.125,5.889,4.007,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.300,104.000,153.000,12.000000,72.000000
NO,Norway,Graphite production,Thousand tonnes,2.558,7.065,7.713,8.271,7.339,8.392,9.070,...,6.992,6.207,8.266,9.185,9.600,9.600,12.000,9.780,5.549000,6.293000
RU,Russian Federation,Graphite production,Thousand tonnes,13.700,13.928,14.275,6.000,15.670,20.125,16.563,...,14.300,20.200,17.600,15.900,19.400,19.500,11.900,17.500,12.900000,15.226230
LK,Sri Lanka,Graphite production,Thousand tonnes,4.825,5.645,5.400,5.910,4.592,5.902,6.585,...,4.173,3.143,4.000,4.212,4.000,3.500,4.000,4.000,4.000000,4.300000
TR,Turkey,Graphite production,Thousand tonnes,5.000,5.000,5.000,5.000,5.000,0.000,0.000,...,31.500,28.740,3.850,0.000,0.000,0.000,16.752,9.990,15.205000,15.205000
UA,Ukraine,Graphite production,Thousand tonnes,8.757,5.367,4.289,5.104,7.461,7.431,6.400,...,7.000,2.000,8.000,7.900,6.100,13.900,12.200,1.500,4.100745,3.184178

In [18]:
def read_bp2(sheet):
    missing_values = ['-', '^','♦']
    df = pd.read_excel('bp-stats-review-2022-all-data.xlsx', sheet_name=sheet, header=3, index_col=0, 
                       na_values=missing_values)
    omit = []
    for col in df.columns:
        if type(col) != int:
            omit.append(col)
    df = df.drop(columns=omit)
    df = df.dropna(how='all')
    idx = []
    for country in df.index:
        x = country.strip(string.digits)
        idx.append(x)
    df.insert(0, 'Unit', df.index.name.rstrip('*'))
    df['Country Name'] = idx
    df = df.set_index('Country Name')
    for country in df.index:
        strings = ['Total', 'Rest of World', 'Other', 'European Union', 'OECD', 'Central America', \
                   'Eastern Africa', 'Middle Africa', 'Western Africa', 'OPEC']
        for s in strings:
            if s in country:
                df = df.drop(country)
    df = map_country_code(df)
    return df

In [19]:
bp_solar = read_bp2('Solar Capacity')
bp_solar.insert(1, 'Technology Name', 'Solar capacity - Installed photovoltaic power')
bp_solar

,Country Name,Technology Name,Unit,1996,1997,1998,1999,2000,2001,2002,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Solar capacity - Installed photovoltaic power,Megawatts,3.0,3.0,5.0,6.0,7.000,9.000,10.000,...,766.000,1210.000,1843.000,2519.000,2665.000,2932.000,3095.000,3327.000,3342.000,3629.600
MX,Mexico,Solar capacity - Installed photovoltaic power,Megawatts,10.0,11.0,12.0,13.0,14.000,15.000,16.000,...,72.800,109.000,174.000,287.000,632.600,1125.740,2541.000,4426.208,5149.000,7026.000
US,US,Solar capacity - Installed photovoltaic power,Megawatts,13.9,14.6,15.2,16.6,176.000,213.000,255.000,...,8137.000,11759.000,15984.000,21684.000,32958.000,41357.000,49812.000,59068.000,73813.700,93713.013
AR,Argentina,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.025,0.026,0.026,...,6.252,8.257,8.252,8.618,8.806,8.806,191.236,442.111,764.135,1071.366
BR,Brazil,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.036,0.036,...,6.608,12.528,20.697,45.567,127.789,1206.787,2435.022,4613.191,7879.157,13054.926
CL,Chile,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,2.000,15.000,221.000,576.000,1125.000,1809.000,2137.000,2653.698,3205.438,4360.007
HN,Honduras,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,1.0,1.599,1.804,1.975,...,5.156,5.156,5.156,393.156,414.156,453.786,513.686,514.000,514.000,514.000
AT,Austria,Solar capacity - Installed photovoltaic power,Megawatts,1.7,2.2,2.9,3.7,5.000,7.000,9.000,...,337.483,625.974,785.246,937.098,1096.016,1268.971,1455.132,1702.093,2042.934,2691.934
BE,Belgium,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,1.000,...,2646.600,2901.600,3015.000,3131.600,3328.800,3620.600,4000.000,4636.600,5574.800,6584.600
BG,Bulgaria,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,1013.000,1020.000,1026.000,1029.000,1028.000,1035.570,1032.679,1047.950,1097.357,1186.357
CZ,Czech Republic,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.100,0.100,0.200,...,2022.000,2063.500,2067.400,2074.900,2067.900,2069.500,2075.072,2086.424,2122.711,2119.211
DK,Denmark,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,1.000,1.000,2.000,...,402.000,571.000,607.000,782.108,850.953,906.350,998.000,1080.000,1304.294,1540.294
FR,France,Solar capacity - Installed photovoltaic power,Megawatts,4.0,6.0,8.0,9.0,7.000,7.000,8.000,...,4358.754,5277.289,6034.418,7137.517,7702.081,8610.437,9672.296,10807.874,12022.225,14709.225
DE,Germany,Solar capacity - Installed photovoltaic power,Megawatts,28.0,42.0,54.0,70.0,114.000,195.000,260.000,...,34075.000,36708.000,37898.000,39222.000,40677.000,42291.000,45156.000,48912.000,53719.000,58459.000
GR,Greece,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,1.000,1.000,...,1536.000,2579.000,2596.000,2604.000,2604.000,2605.530,2651.570,2833.794,3287.720,3530.000
HU,Hungary,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,12.000,35.000,89.000,172.000,235.000,344.000,728.000,1400.000,2131.000,2131.000
IT,Italy,Solar capacity - Installed photovoltaic power,Megawatts,16.0,17.0,18.0,18.0,19.000,20.000,22.000,...,16785.000,18185.000,18594.000,18901.000,19283.000,19682.293,20107.589,20865.275,21650.040,22692.040
NL,Netherlands,Solar capacity - Installed photovoltaic power,Megawatts,0.7,1.0,1.0,5.0,13.000,21.000,26.000,...,287.000,650.000,1007.000,1526.000,2135.000,2911.000,4608.000,7226.000,10949.720,14249.000
PL,Poland,Solar capacity - Installed photovoltaic power,Megawatts,NaN,0.0,0.0,0.0,0.000,0.000,0.000,...,1.300,2.393,27.150,107.777,187.247,287.091,561.976,1539.259,3954.963,6256.754
PT,Portugal,Solar capacity - Installed photovoltaic power,Megawatts,0.4,0.5,0.6,0.9,1.000,1.000,1.000,...,238.000,296.000,415.000,447.000,512.824,579.236,667.431,901.438,1100.292,1801.292
RO,Romania,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,41.000,761.000,1293.000,1326.000,1372.000,1374.129,1385.820,1397.705,1382.539,1397.539
SK,Slovakia,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,513.000,533.000,533.000,533.000,533.000,528.000,472.000,590.000,535.000,535.000
ES,Spain,Solar capacity - Installed photovoltaic power,Megawatts,1.0,1.0,1.0,2.0,10.000,13.000,17.000,...,4569.000,4690.000,4697.000,4704.000,4713.000,4723.000,4763.607,8839.253,10285.477,13648.477
SE,Sweden,Solar capacity - Installed photovoltaic power,Megawatts,2.0,2.0,2.0,3.0,3.000,3.000,3.000,...,24.000,43.000,60.000,104.000,153.000,244.000,428.000,714.000,1107.000,1577.400
CH,Switzerland,Solar capacity - Installed photovoltaic power,Megawatts,8.0,10.0,12.0,13.0,16.000,18.000,20.000,...,437.000,756.000,1061.000,1394.000,1664.000,1906.000,2173.000,2498.000,2973.390,3448.780
TR,Turkey,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.100,0.300,0.600,...,11.700,17.700,40.000,249.000,833.000,3420.700,5062.608,5995.155,6667.355,7815.555
UA,Ukraine,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,371.600,748.400,819.100,841.200,954.700,1200.000,2002.688,5935.688,7331.000,8062.000
GB,United Kingdom,Solar capacity - Installed photovoltaic power,Megawatts,0.2,0.4,0.5,0.9,2.000,3.000,4.000,...,1753.000,2937.000,5528.000,9601.219,11914.000,12760.000,13073.000,13346.000,13462.480,13689.000
RU,Russian Federation,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,0.093,1.259,5.000,61.320,76.320,225.320,535.320,1276.320,1427.820,1661.020
IL,Israel,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.3,0.3,0.4,0.000,0.000,0.000,...,272.000,376.800,587.100,765.700,873.600,982.300,1285.200,1807.400,2230.000,2313.000
JO,Jordan,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.015,0.015,0.015,...,0.073,0.141,0.236,5.557,286.593,396.588,699.623,1185.670,1448.375,1520.575
AE,United Arab Emirates,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,13.206,25.802,33.171,33.406,40.406,255.036,498.305,1817.870,2205.397,2605.047
DZ,Algeria,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,0.000,0.000,1.100,49.100,219.100,400.000,423.000,423.000,423.000,423.000
EG,Egypt,Solar capacity - Installed photovoltaic power,Megawatts,0.1,0.1,0.1,0.1,0.100,0.500,0.600,...,15.000,15.000,15.000,16.000,39.000,160.000,744.200,1627.200,1655.390,1655.390
MA,Morocco,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,6.700,7.000,7.700,...,15.174,15.174,19.600,19.800,21.870,23.895,193.895,193.903,194.000,234.300
ZA,South Africa,Solar capacity - Installed photovoltaic power,Megawatts,0.0,2.0,4.0,6.0,0.000,0.000,0.000,...,11.303,261.625,1062.901,1251.656,1974.026,3146.730,4400.929,4404.991,5489.578,5721.095
AU,Australia,Solar capacity - Installed photovoltaic power,Megawatts,16.0,19.0,23.0,25.0,25.000,29.000,34.000,...,3796.000,4565.000,5284.000,5943.000,6686.000,7352.000,8623.000,12967.000,17342.000,19074.000
CN,China,Solar capacity - Installed photovoltaic power,Megawatts,1.0,2.5,5.0,10.0,33.515,38.020,56.530,...,6717.800,17747.800,28387.800,43537.800,77787.800,130801.290,175015.864,204574.800,253417.800,306402.800
IN,India,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,1.084,5.535,6.705,...,978.582,1445.827,3444.008,5364.984,9650.521,17923.256,27124.598,34860.908,39042.658,49341.508
JP,Japan,Solar capacity - Installed photovoltaic power,Megawatts,60.0,91.0,133.0,209.0,330.000,453.000,637.000,...,6632.000,13599.000,23339.000,34150.000,42040.000,49500.000,56162.000,63192.000,69764.000,74191.000
MY,Malaysia,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,31.584,138.674,205.388,266.285,344.108,393.808,545.075,893.595,1482.597,1786.747
PK,Pakistan,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,45.783,100.658,165.363,265.512,589.505,654.699,679.109,763.313,860.313,1083.313
PH,Philippines,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,2.020,3.047,27.737,172.550,784.145,908.376,916.961,982.246,1057.881,1369.734
KR,South Korea,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,4.000,5.000,5.000,...,1024.000,1555.000,2481.000,3615.000,4502.000,5835.000,8099.000,11952.000,14574.791,18160.575
TW,Taiwan,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.100,0.200,0.330,...,231.281,409.938,635.951,884.251,1245.055,1767.702,2738.119,4149.539,5817.205,7700.213
TH,Thailand,Solar capacity - Installed photovoltaic power,Megawatts,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,376.700,823.500,1298.500,1419.600,2446.100,2697.260,2962.440,2982.620,2982.620,3043.620
VN,Viet Nam,Solar capacity - Installed photovoltaic power,Megawatts,NaN,NaN,NaN,NaN,0.002,0.108,0.236,...,4.518,4.518,5.290,5.290,5.290,7.992,104.992,4993.490,16660.490,16660.490

In [20]:
bp_wind = read_bp2('Wind Capacity')
bp_wind.insert(1, 'Technology Name', 'Wind - Installed turbine capacity')
bp_wind

,Country Name,Technology Name,Unit,1995,1996,1997,1998,1999,2000,2001,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Wind - Installed turbine capacity,Megawatts,NaN,NaN,26.000,83.000,126.000,92.000,131.000,...,6201.000,7801.000,9694.000,11214.000,11973.000,12250.000,12816.000,13413.000,13626.960,14303.560
MX,Mexico,Wind - Installed turbine capacity,Megawatts,NaN,NaN,2.000,2.000,2.000,17.000,17.000,...,1815.000,2122.000,2569.000,3271.000,4051.000,4199.372,4875.635,6050.260,6504.433,7691.530
US,US,Wind - Installed turbine capacity,Megawatts,NaN,NaN,1611.000,2141.000,2445.000,2377.000,3864.000,...,59075.000,59973.000,64232.020,72573.020,81286.000,87597.000,94516.000,104052.200,118731.700,132737.600
AR,Argentina,Wind - Installed turbine capacity,Megawatts,NaN,NaN,9.000,14.000,14.000,14.112,24.829,...,136.979,189.979,215.187,187.104,187.442,226.742,750.342,1609.359,2623.904,3292.124
BR,Brazil,Wind - Installed turbine capacity,Megawatts,NaN,NaN,4.000,19.000,22.000,22.000,24.000,...,1894.000,2202.020,4888.053,7633.115,10129.155,12304.272,14843.094,15438.379,17198.324,21161.270
CL,Chile,Wind - Installed turbine capacity,Megawatts,NaN,NaN,0.000,0.000,0.000,0.000,2.000,...,202.000,301.000,736.000,910.000,1039.000,1305.000,1524.000,1620.074,2148.996,3137.006
CR,Costa Rica,Wind - Installed turbine capacity,Megawatts,NaN,NaN,23.000,27.000,35.000,42.500,62.300,...,143.600,143.600,193.100,272.100,365.100,377.820,407.770,410.920,393.520,393.520
UY,Uruguay,Wind - Installed turbine capacity,Megawatts,NaN,NaN,0.000,0.000,0.000,0.150,0.150,...,52.605,59.417,481.268,856.756,1211.456,1510.656,1510.656,1513.856,1513.856,1513.856
AT,Austria,Wind - Installed turbine capacity,Megawatts,NaN,NaN,20.000,30.000,42.000,50.000,67.000,...,1337.150,1674.538,2110.275,2488.726,2729.996,2886.698,3132.713,3224.117,3225.985,3523.985
BE,Belgium,Wind - Installed turbine capacity,Megawatts,NaN,NaN,9.000,10.000,11.000,14.000,26.000,...,1370.000,1780.000,1944.000,2176.000,2370.000,2787.500,3267.900,3863.400,4680.900,4779.640
BG,Bulgaria,Wind - Installed turbine capacity,Megawatts,NaN,NaN,0.000,0.000,0.000,0.000,0.000,...,677.000,683.000,699.000,699.000,699.000,698.390,698.920,703.120,702.800,704.800
DK,Denmark,Wind - Installed turbine capacity,Megawatts,NaN,NaN,1116.000,1420.000,1738.000,2390.015,2497.153,...,4161.941,4818.923,4886.403,5076.966,5245.142,5488.949,6115.046,6102.940,6259.455,7013.565
FI,Finland,Wind - Installed turbine capacity,Megawatts,NaN,NaN,12.000,18.000,39.000,38.000,39.000,...,257.000,447.000,627.000,1005.000,1565.000,2044.000,2041.000,2284.000,2586.000,3257.000
FR,France,Wind - Installed turbine capacity,Megawatts,NaN,NaN,13.000,21.000,25.000,38.000,66.000,...,7607.496,8155.961,9201.425,10298.180,11566.564,13499.357,14900.146,16456.854,17484.001,18676.001
DE,Germany,Wind - Installed turbine capacity,Megawatts,NaN,NaN,2089.000,2877.000,4435.000,6095.000,8754.000,...,30979.000,33477.000,38614.000,44580.000,49435.000,55580.000,58721.000,60742.000,62188.000,63760.000
GR,Greece,Wind - Installed turbine capacity,Megawatts,NaN,NaN,29.000,38.100,105.800,226.000,270.000,...,1753.000,1809.000,1978.000,2091.000,2370.000,2624.000,2877.495,3589.000,4119.250,4457.250
IE,Ireland,Wind - Installed turbine capacity,Megawatts,NaN,NaN,53.000,64.000,74.000,116.500,122.900,...,1704.350,1923.300,2283.250,2451.150,2801.650,3319.150,3673.850,4126.450,4306.700,4332.050
IT,Italy,Wind - Installed turbine capacity,Megawatts,NaN,NaN,103.000,197.000,277.000,363.000,664.000,...,8102.000,8542.000,8683.000,9137.000,9384.000,9736.578,10230.246,10679.460,10870.622,11275.622
NL,Netherlands,Wind - Installed turbine capacity,Megawatts,NaN,NaN,329.000,379.000,433.000,447.000,486.000,...,2433.000,2713.000,2865.000,3391.000,4257.000,4202.000,4393.000,4484.158,6618.750,7801.000
NO,Norway,Wind - Installed turbine capacity,Megawatts,NaN,NaN,5.000,8.000,13.000,13.000,13.000,...,705.000,818.000,859.000,867.000,883.000,1207.000,1710.000,2914.000,4030.000,4650.000
PL,Poland,Wind - Installed turbine capacity,Megawatts,NaN,NaN,2.000,2.000,2.000,4.000,19.000,...,2564.000,3429.000,3836.000,4886.000,5747.000,5759.357,5766.078,5836.823,6298.250,6958.250
PT,Portugal,Wind - Installed turbine capacity,Megawatts,NaN,NaN,39.000,51.000,61.000,83.000,125.000,...,4411.552,4609.949,4856.556,4936.838,5124.103,5124.105,5172.359,5222.745,5122.259,5248.259
RO,Romania,Wind - Installed turbine capacity,Megawatts,NaN,NaN,0.000,0.000,0.000,0.000,0.000,...,1822.000,2773.000,3244.000,3130.000,3025.000,3029.798,3032.258,3037.515,3012.527,3012.527
ES,Spain,Wind - Installed turbine capacity,Megawatts,NaN,NaN,512.000,723.000,1408.000,2206.000,3397.000,...,22789.000,22958.000,22925.000,22943.000,22990.000,23124.479,23405.055,25590.076,26819.190,27497.190
SE,Sweden,Wind - Installed turbine capacity,Megawatts,NaN,NaN,122.000,176.000,220.000,209.000,295.000,...,3606.000,4194.000,5088.000,5819.000,6435.000,6611.000,7300.000,8681.000,9976.000,12080.000
TR,Turkey,Wind - Installed turbine capacity,Megawatts,NaN,NaN,9.000,9.000,9.000,19.000,19.000,...,2261.000,2760.000,3630.000,4503.000,5751.000,6516.150,7005.386,7591.156,8832.356,10606.956
UA,Ukraine,Wind - Installed turbine capacity,Megawatts,NaN,NaN,NaN,NaN,NaN,5.000,36.230,...,248.000,362.000,513.900,513.900,526.000,553.000,620.770,1257.770,1402.000,1761.000
GB,United Kingdom,Wind - Installed turbine capacity,Megawatts,NaN,NaN,328.000,338.000,362.000,412.000,493.000,...,9030.420,11282.272,13073.953,14305.634,16125.935,19584.998,21767.221,24095.381,24484.990,27129.990
RU,Russian Federation,Wind - Installed turbine capacity,Megawatts,NaN,NaN,NaN,NaN,NaN,3.000,3.000,...,10.000,10.000,10.000,10.900,10.900,10.900,51.900,101.900,945.300,1955.000
IR,Iran,Wind - Installed turbine capacity,Megawatts,NaN,NaN,9.000,9.000,9.000,11.000,11.000,...,106.130,107.630,148.780,153.440,190.940,259.000,282.000,304.920,308.080,310.200
JO,Jordan,Wind - Installed turbine capacity,Megawatts,NaN,NaN,NaN,NaN,NaN,1.400,1.400,...,1.400,1.400,1.400,118.400,198.400,198.400,280.400,373.000,518.010,621.510
EG,Egypt,Wind - Installed turbine capacity,Megawatts,NaN,NaN,6.000,6.000,36.000,74.000,74.000,...,555.000,555.000,555.000,755.000,755.000,755.000,1130.000,1132.000,1380.000,1640.000
MA,Morocco,Wind - Installed turbine capacity,Megawatts,NaN,NaN,0.000,2.000,20.000,54.000,54.000,...,255.000,495.000,797.000,797.000,897.000,1023.000,1225.000,1225.000,1405.000,1435.000
ZA,South Africa,Wind - Installed turbine capacity,Megawatts,NaN,NaN,0.000,0.000,0.000,0.000,0.000,...,10.160,257.000,569.000,1079.000,1473.000,2094.000,2094.000,2094.000,2516.000,2955.500
TN,Tunisia,Wind - Installed turbine capacity,Megawatts,NaN,NaN,0.000,2.000,8.000,10.650,10.650,...,173.000,200.000,233.000,240.000,240.000,240.000,245.000,245.000,245.000,245.000
AU,Australia,Wind - Installed turbine capacity,Megawatts,NaN,NaN,4.000,10.000,10.000,33.000,76.000,...,2561.000,3221.000,3797.000,4181.000,4324.000,4812.000,5442.000,6279.000,8603.000,8950.600
CN,China,Wind - Installed turbine capacity,Megawatts,NaN,NaN,146.000,200.000,262.000,341.000,383.000,...,61596.873,76730.530,96819.130,131047.730,148516.890,164374.477,184664.877,209581.910,282112.670,328973.430
IN,India,Wind - Installed turbine capacity,Megawatts,NaN,NaN,940.000,992.000,1035.000,941.000,1563.000,...,17299.700,18420.400,22465.300,25088.190,28700.440,32848.460,35288.100,37505.180,38558.600,40067.265
JP,Japan,Wind - Installed turbine capacity,Megawatts,NaN,NaN,17.000,30.000,68.000,84.000,175.000,...,2562.000,2646.000,2753.000,2808.000,3247.000,3483.000,3498.000,3951.000,4371.000,4471.000
NZ,New Zealand,Wind - Installed turbine capacity,Megawatts,NaN,NaN,4.075,4.075,35.755,36.000,36.000,...,623.000,623.000,682.000,689.000,689.000,689.000,689.000,689.000,784.000,917.000
PK,Pakistan,Wind - Installed turbine capacity,Megawatts,NaN,NaN,0.000,0.000,0.000,0.000,0.000,...,56.155,106.055,205.555,308.355,590.655,789.155,1185.855,1235.855,1235.855,1335.155
PH,Philippines,Wind - Installed turbine capacity,Megawatts,NaN,NaN,0.000,0.000,0.000,0.000,0.000,...,33.000,33.000,336.900,426.900,426.900,426.900,426.900,442.900,442.900,442.900
KR,South Korea,Wind - Installed turbine capacity,Megawatts,NaN,NaN,1.000,1.000,5.000,7.000,11.000,...,464.000,576.000,612.000,847.000,1067.000,1215.000,1420.000,1494.000,1635.802,1708.043
TW,Taiwan,Wind - Installed turbine capacity,Megawatts,NaN,NaN,1.000,1.000,1.000,2.600,5.000,...,570.990,614.190,637.190,646.690,682.090,692.390,713.151,845.159,937.115,1033.368
TH,Thailand,Wind - Installed turbine capacity,Megawatts,NaN,NaN,0.000,0.000,0.000,0.000,0.000,...,111.700,222.700,224.500,233.900,507.040,627.820,1102.820,1506.820,1506.820,1506.820

In [21]:
def read_bp3(sheet):
    missing_values = ['-', '^','♦']
    df = pd.read_excel('bp-stats-review-2022-all-data.xlsx', sheet_name=sheet, header=2, index_col=0, 
                       na_values=missing_values, skipfooter=40)
    omit = []
    for col in df.columns:
        if type(col) != int:
            omit.append(col)
    df = df.drop(columns=omit)
    df = df.dropna(how='all')
    idx = []
    for country in df.index:
        x = country.strip(string.digits)
        idx.append(x)
    df.insert(0, 'Unit', df.index.name.rstrip('*'))
    df['Country Name'] = idx
    df = df.set_index('Country Name')
    for country in df.index:
        strings = ['Total', 'Rest of World', 'Other', 'European Union', 'OECD', 'Central America', \
                   'Eastern Africa', 'Middle Africa', 'Western Africa', 'OPEC']
        for s in strings:
            if s in country:
                df = df.drop(country)
    df = map_country_code(df)
    return df

In [22]:
bp_biofuels = read_bp3('Biofuels production - PJ')
bp_biofuels.insert(1, 'Technology Name', 'Biofuels production')
bp_biofuels

,Country Name,Technology Name,Unit,1990,1991,1992,1993,1994,1995,1996,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
CA,Canada,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,38.987472,41.319415,48.379037,46.216345,49.998800,49.680000,50.108800,53.268863,49.100594,48.385588
MX,Mexico,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
US,US,Biofuels production,Petajoules,60.237869,69.799436,79.361003,93.001414,103.846616,109.382576,78.430606,...,1188.391594,1240.362084,1312.517490,1350.407663,1437.242533,1482.901950,1527.984241,1486.157247,1348.517757,1435.849017
AR,Argentina,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,95.409135,85.819266,110.103926,84.462640,117.965824,130.434733,114.132343,102.780104,60.278262,85.607652
BR,Brazil,Biofuels production,Petajoules,234.018976,262.468880,240.474770,233.278303,256.191188,261.100849,290.706672,...,574.611721,667.354127,702.705383,753.930907,709.695739,713.996558,857.973767,917.645970,882.407716,839.469334
CO,Colombia,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,26.207302,27.134253,28.212846,28.887115,28.101606,25.753388,32.173019,28.715494,26.991164,28.823796
AT,Austria,Biofuels production,Petajoules,0.263768,0.288889,0.322384,0.364252,0.242834,0.468922,0.510790,...,16.052800,15.409800,13.522800,15.681600,17.296800,16.102600,15.884360,15.922080,16.478000,17.360821
BE,Belgium,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.729231,18.390058,24.077449,16.168584,15.572342,18.654036,17.767816,18.804259,19.482520,19.429289
FI,Finland,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.037877,13.840319,15.463869,18.040726,4.633680,13.051054,11.886059,14.220715,12.716800,12.102400
FR,France,Biofuels production,Petajoules,0.000000,0.000000,0.094496,1.052562,3.417936,6.700973,9.642787,...,110.260927,102.792136,103.971558,110.546258,101.139565,98.457752,111.642194,103.546054,96.777882,106.990180
DE,Germany,Biofuels production,Petajoules,0.000000,0.000000,0.186020,0.186020,1.041592,1.302011,2.046005,...,120.816855,128.678367,143.808548,132.580426,134.088292,136.863520,140.615060,146.864418,141.028981,121.188649
IT,Italy,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,13.038239,19.124716,21.467691,21.713582,21.938371,26.321909,28.395841,32.673578,46.772459,45.792529
NL,Netherlands,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,52.913829,61.970200,74.629330,80.049942,63.474102,82.637592,79.963988,84.795336,84.005037,84.641709
PL,Poland,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,27.020422,28.877252,31.166436,33.782200,38.452000,38.304110,37.800236,40.938643,40.702599,43.273593
PT,Portugal,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.539114,11.488789,12.611311,13.426147,12.467579,13.235773,13.693725,14.801468,12.570113,12.171789
ES,Spain,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.493800,30.840000,42.578000,46.379000,49.867240,77.557135,90.440581,87.176808,74.735000,71.943800
SE,Sweden,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.538117,9.527022,9.533930,9.159923,8.663996,7.769947,15.259295,18.003659,17.609765,25.665623
GB,United Kingdom,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,12.537791,21.095359,16.306121,12.615666,22.698611,31.103109,28.701561,24.547250,23.311356,22.728164
AU,Australia,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.696238,10.245211,10.763813,9.505208,5.264153,4.447923,5.412721,6.254876,5.242980,4.825777
CN,China,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,85.259156,94.898945,105.402780,89.756767,86.323341,104.568623,100.851109,122.106600,128.828000,142.721857
IN,India,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,10.628426,10.091640,11.002146,21.668519,26.431375,24.163788,41.399303,46.690350,52.173086,82.905135
ID,Indonesia,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,73.151164,92.374676,130.767236,53.346780,120.344452,112.444379,203.031888,276.469654,282.909748,311.902665
KR,South Korea,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,15.068963,15.452683,16.232182,18.478232,18.541621,17.921723,28.605641,29.295584,28.887120,32.447770
TH,Thailand,Biofuels production,Petajoules,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,52.711812,67.365612,75.320532,81.265788,72.934056,80.763372,88.383348,98.850348,99.562104,89.848542

In [23]:
conn = sqlite3.connect('historical_tech.db')
bp_coal.to_sql('coal_production', conn, if_exists='replace')

35

In [24]:
pd.read_sql('SELECT * FROM coal_production', conn)

,Country Code,Country Name,Technology Name,Unit,1981,1982,1983,1984,1985,1986,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CA,Canada,Coal production,Million tonnes,40.088000,42.907000,44.807000,57.402000,60.853000,57.048000,...,67.300500,68.418100,68.305100,62.355200,62.351500,60.596100,55.047500,53.165500,45.284900,46.740474
1,MX,Mexico,Coal production,Million tonnes,3.032331,3.751216,4.851129,5.335241,5.525976,6.216795,...,15.205110,14.633170,14.895550,12.252900,11.408950,12.928590,11.883980,9.755420,7.746920,7.441824
2,US,US,Coal production,Million tonnes,747.316076,760.322383,709.500989,812.765612,801.622980,807.679881,...,922.115525,893.433394,907.228933,813.690756,660.761129,702.713757,685.983219,640.752957,485.737854,524.408300
3,BR,Brazil,Coal production,Million tonnes,5.689000,6.346000,6.737000,7.519000,7.712000,7.391000,...,8.174374,9.468086,9.351638,8.049604,7.500464,5.841825,6.432749,5.843574,7.060094,8.239395
4,CO,Colombia,Coal production,Million tonnes,3.990400,4.421600,5.053200,6.637000,8.974000,10.737000,...,89.812000,86.023000,89.412000,86.470000,91.179000,91.291000,86.327000,85.169000,52.317000,59.600000
5,VE,Venezuela,Coal production,Million tonnes,0.050000,0.050000,0.040000,0.050000,0.040000,0.060000,...,1.910801,1.229309,0.800640,0.801697,0.749227,0.720049,0.692008,0.393968,0.284740,0.157718
6,BG,Bulgaria,Coal production,Million tonnes,29.240000,32.210000,32.390000,32.360000,30.880000,35.220000,...,33.430416,28.634828,31.326331,35.912757,31.288951,34.318820,30.565345,28.304123,22.543402,28.509182
7,CZ,Czech Republic,Coal production,Million tonnes,117.720000,118.790000,123.040000,124.930000,122.800000,123.060000,...,55.185000,49.131000,47.077000,46.531000,45.543000,44.906774,43.765593,41.026758,31.633004,31.497739
8,DE,Germany,Coal production,Million tonnes,492.800000,499.700000,476.500000,501.800000,521.600000,513.218000,...,196.202000,190.561000,185.795000,184.288000,175.396000,175.122000,168.842000,131.300000,107.400000,126.000000
9,GR,Greece,Coal production,Million tonnes,27.320000,27.400000,30.590000,32.500000,35.890000,38.100000,...,62.956000,53.924000,50.845000,46.246000,32.638000,37.731348,36.488800,12.723109,6.544424,5.714690
10,HU,Hungary,Coal production,Million tonnes,25.942181,26.078701,25.212983,25.047585,24.042514,23.128697,...,9.290000,9.558000,9.551000,9.261000,9.216000,7.972000,7.898000,6.847000,6.125000,4.987539
11,PL,Poland,Coal production,Million tonnes,198.640000,226.960000,233.620000,241.970000,249.390000,259.340000,...,144.093000,142.906000,137.148000,135.814000,131.029000,127.076000,122.427868,112.409160,100.697281,107.640380
12,RO,Romania,Coal production,Million tonnes,39.564000,41.433000,48.759000,47.799000,49.819000,51.432000,...,33.947000,24.722000,23.567000,25.497000,22.987000,25.759221,23.652908,21.653156,15.032728,17.768985
13,RS,Serbia,Coal production,Million tonnes,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,38.172000,40.254000,29.820000,37.788000,38.545527,39.884959,37.675477,38.988520,39.703059,36.447556
14,ES,Spain,Coal production,Million tonnes,35.676000,39.305000,39.953000,39.592000,39.663000,38.323000,...,6.181000,4.368000,3.899000,3.064000,1.741802,2.977000,2.401000,0.125840,0.095377,0.099000
15,TR,Turkey,Coal production,Million tonnes,21.006000,22.672000,25.245000,29.972000,39.997000,46.417000,...,71.461000,60.392497,65.249000,58.414000,73.003948,74.098124,83.936203,87.089072,74.711468,85.632887
16,UA,Ukraine,Coal production,Million tonnes,0.000000,0.000000,0.000000,0.000000,170.947000,175.088000,...,66.151000,64.894000,45.687000,30.408000,32.170000,24.685000,26.794000,26.070000,24.440000,24.922978
17,GB,United Kingdom,Coal production,Million tonnes,127.469000,124.711000,119.254000,51.182000,94.111000,108.099000,...,16.966667,12.767446,11.647612,8.598018,4.177796,3.041064,2.580876,2.166397,1.673290,1.053820
18,KZ,Kazakhstan,Coal production,Million tonnes,0.000000,0.000000,0.000000,0.000000,130.800000,137.500000,...,120.527300,119.573700,113.985100,107.318198,103.074000,112.293600,118.483300,115.001200,113.397600,115.693900
19,RU,Russian Federation,Coal production,Million tonnes,0.000000,0.000000,0.000000,0.000000,409.252000,423.948000,...,358.300000,355.231000,357.396992,372.482353,386.613471,412.540341,441.576471,440.905783,399.664238,433.670588
20,SU,USSR,Coal production,Million tonnes,778.147000,777.977000,774.775000,761.911000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,UZ,Uzbekistan,Coal production,Million tonnes,0.000000,0.000000,0.000000,0.000000,5.300000,6.000000,...,3.752940,4.090020,4.396820,3.487970,3.867250,4.038630,4.174430,4.047940,4.133051,4.781200
22,ZA,South Africa,Coal production,Million tonnes,130.420000,144.180000,145.610000,162.910000,173.520000,176.720000,...,258.575800,256.282135,261.398523,252.176473,249.718680,252.343008,250.036629,254.410720,245.818273,234.494792
23,ZW,Zimbabwe,Coal production,Million tonnes,2.870000,2.770000,3.330000,3.110000,3.110000,4.050000,...,1.593600,3.114200,5.782600,4.336193,2.701719,2.928000,3.347764,2.627011,2.705936,3.239215
24,AU,Australia,Coal production,Million tonnes,128.519000,131.581000,135.072000,141.555000,168.563500,180.326000,...,448.207696,472.784777,505.270410,503.745489,502.127448,487.226204,501.960227,505.408428,469.957900,478.594204
25,CN,China,Coal production,Million tonnes,621.600000,666.300000,714.500000,789.200000,872.300000,894.000000,...,3945.128100,3974.322000,3873.919000,3746.541600,3410.604000,3523.561800,3697.735800,3846.332000,3901.577100,4126.000000
26,IN,India,Coal production,Million tonnes,130.100000,134.950000,142.900000,152.530000,157.450000,169.180000,...,605.616000,608.535000,646.232000,674.153000,689.810000,711.681000,760.407000,753.912000,759.331000,811.256000
27,ID,Indonesia,Coal production,Million tonnes,0.400000,0.590000,0.650000,1.470000,2.000000,2.590000,...,386.077357,474.371369,458.096707,461.566080,456.197775,461.248184,557.772940,616.159594,563.728255,613.990256
28,JP,Japan,Coal production,Million tonnes,17.690000,17.610000,17.060000,16.650000,16.380000,16.010000,...,1.321062,1.203630,1.307515,1.170817,1.340424,1.388518,1.040705,0.758348,0.772012,0.674713
29,MN,Mongolia,Coal production,Million tonnes,4.300000,4.921000,4.974000,5.431000,6.523000,7.065000,...,31.139000,33.340500,24.449300,24.146100,35.096500,49.480300,54.572300,57.128800,43.079000,32.317600
30,NZ,New Zealand,Coal production,Million tonnes,2.196894,2.244384,2.473531,2.526647,2.390010,2.517947,...,4.922172,4.625463,3.984447,3.390648,2.866622,2.918563,3.230798,3.033983,2.818682,2.867610
31,PK,Pakistan,Coal production,Million tonnes,1.560000,1.770000,1.820000,2.310000,2.190000,2.050000,...,3.040000,2.986500,3.382500,3.325000,4.099000,4.171000,4.384973,7.052509,8.776518,7.532000
32,KR,South Korea,Coal production,Million tonnes,19.865000,20.116000,19.861000,21.370000,22.543000,24.253000,...,2.094000,1.815000,1.748000,1.764000,1.726000,1.485000,1.200000,1.084000,1.019000,0.898000
33,TH,Thailand,Coal production,Million tonnes,1.686044,1.963764,1.866083,2.337226,5.146150,5.538084,...,18.066429,18.110763,17.981721,15.150549,16.978601,16.258637,14.851950,14.077965,13.250574,14.221573
34,VN,Vietnam,Coal production,Million tonnes,6.000000,6.300000,6.300000,5.000000,5.600000,6.100000,...,42.083000,41.064000,41.086000,41.664000,38.735000,38.409000,42.384000,46.387000,48.377470,47.845157

In [25]:
bp_oil_refining.to_sql('oil_refining', conn, if_exists='replace')
pd.read_sql('SELECT * FROM oil_refining', conn)

,Country Code,Country Name,Technology Name,Unit,1965,1966,1967,1968,1969,1970,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CA,Canada,Oil refining,Thousand barrels daily,1089.143628,1140.468484,1238.526634,1280.039384,1344.32125,1396.463781,...,2014.852814,1929.441554,1929.441554,1930.789494,1933.707966,1969.559887,1939.198971,2054.145120,2065.133420,1954.000000
1,MX,Mexico,Oil refining,Thousand barrels daily,417.000000,417.000000,457.000000,525.000000,525.00000,562.000000,...,1605.500000,1605.500000,1521.900000,1521.900000,1521.900000,1545.650000,1558.000000,1558.000000,1558.000000,1558.000000
2,US,US,Oil refining,Thousand barrels daily,10390.000000,10660.000000,11350.000000,11700.000000,12020.00000,12860.000000,...,17823.000000,17925.000000,17967.000000,18317.000000,18617.000000,18598.000000,18808.000000,18974.000000,18143.000000,17941.000000
3,AR,Argentina,Oil refining,Thousand barrels daily,402.325000,414.200000,412.300000,423.700000,434.15000,437.690000,...,657.000000,657.000000,657.000000,657.000000,657.000000,657.000000,580.000000,580.000000,580.000000,580.000000
4,BR,Brazil,Oil refining,Thousand barrels daily,346.655000,351.880000,360.905000,439.280000,476.52000,525.000000,...,2004.235000,2096.852000,2238.378000,2281.400000,2288.869000,2285.075664,2285.075664,2290.164121,2290.164121,2302.542468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,SG,Singapore,Oil refining,Thousand barrels daily,50.000000,79.000000,162.000000,170.000000,180.00000,288.000000,...,1422.000000,1414.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1461.000000
70,KR,South Korea,Oil refining,Thousand barrels daily,33.000000,38.000000,57.000000,114.000000,171.00000,209.000000,...,2877.550000,2877.550000,3122.650000,3128.350000,3258.500000,3298.400000,3345.900000,3393.400000,3572.000000,3572.000000
71,TW,Taiwan,Oil refining,Thousand barrels daily,46.000000,50.000000,50.000000,103.000000,103.00000,103.000000,...,1197.000000,1197.000000,1197.000000,988.000000,988.000000,1083.000000,1083.000000,1083.000000,1130.500000,1130.500000
72,TH,Thailand,Oil refining,Thousand barrels daily,45.000000,45.000000,45.000000,45.000000,63.00000,122.000000,...,1229.500000,1236.500000,1251.500000,1251.500000,1234.500000,1234.500000,1234.500000,1234.500000,1244.500000,1244.500000
73,VN,Vietnam,Oil refining,Thousand barrels daily,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,159.000000,159.000000,159.000000,159.000000,163.000000,167.000000,367.000000,367.000000,367.000000,367.000000